---
---

// COLORS

$black: #231f20;
$dark-black: #000000;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$secondary-yellow: #F9DF52;
$red: #da1036;
$light-teal: #63BBB0;
$teal: #319b90;
$green : #319b90;
$hcolor : #3b4044;
$yellow : #FBDF1A;
$left : 18px;

//grid
@import "neat/neat/_neat.scss";

$my-custom-grid: (
  columns: 12,
  gutter: 40px,
  direction: ltr,
);
$my-custom-grid-2: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
  media: 'screen and (max-width: 768px)',
);
$my-custom-grid-3: (
  columns: 12,
  gutter:0,
  direction: ltr,
  media: 'screen and (max-width: 768px)',
);


//mixins
@import 'helpers/mixins';
@import 'helpers/marketing-variables';
@import 'helpers/marketing-mixins';

//layout setups
@import 'layout/fonts';
@import 'layout/setups';


//blocks
@import 'pages/case-studies.scss';
@import 'pages/community.scss';
@import 'pages/contact.scss';
@import 'pages/main.scss';
@import 'pages/method.scss';
@import 'pages/podcast.scss';
@import 'pages/team.scss';
@import 'pages/technologies.scss';
@import 'pages/brand-assets.scss';
@import 'pages/content-page.scss';
@import 'pages/privacy.scss';
@import 'components/article.scss';
@import 'components/at_a_glance.scss';
@import 'components/marketing-hero.scss';
@import 'components/marketing-services.scss';
@import 'components/marketing-cta-panel-1.scss';
@import 'components/marketing-case-study-1.scss';
@import 'components/marketing-cta-panel-2.scss';
@import 'components/marketing-quote-box.scss';
@import 'components/marketing-case-study-2.scss';
@import 'components/marketing-cta-panel-3.scss';
@import 'components/marketing-schedule-a-call.scss';
@import 'components/marketing-divider.scss';
@import 'components/case_studies.scss';
@import 'components/features.scss';
@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/horizontal-list.scss';
@import 'components/modal.scss';
@import 'components/overview_hero.scss';
@import 'components/pillars.scss';
@import 'components/projects.scss';
@import 'components/statement.scss';
@import 'components/testimonials.scss';
@import 'components/vertical-list.scss';

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.content-block {
  a {
    font-weight: bold;
    font-size: 20px;
  }
}
