---
---

// COLORS

$black: #231f20;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$red: #da1036;
$teal: #319b90;
$green : #319b90;
$hcolor : #3b4044;
$yellow : #FBDF1A;
$left : 18px;

//grid
@import "neat/neat/_neat.scss";

$my-custom-grid: (
  columns: 12,
  gutter: 40px,
  direction: ltr,
);
$my-custom-grid-2: (
  columns: 12,
  gutter: 20px,
  direction: ltr,
  media: 'screen and (max-width: 768px)',
);
$my-custom-grid-3: (
  columns: 12,
  gutter:0,
  direction: ltr,
  media: 'screen and (max-width: 768px)',
);


//mixins
@import 'helpers/mixins';

//layout setups
@import 'layout/fonts';
@import 'layout/setups';


//blocks
@import 'pages/case-studies.scss';
@import 'pages/community.scss';
@import 'pages/contact.scss';
@import 'pages/main.scss';
@import 'pages/method.scss';
@import 'pages/podcast.scss';
@import 'pages/team.scss';
@import 'pages/technologies.scss';
@import 'pages/brand-assets.scss';
@import 'pages/content-page.scss';
@import 'components/article.scss';
@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/horizontal-list.scss';
@import 'components/vertical-list.scss';
