---
---

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "layout/fonts";

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  max-width: 1440px;
}

.form-control {
  border-radius: 0;
  &:focus {
    border-color: #3cbeb1;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(#3cbeb1, 0.25);
  }
}

.form-control-lg {
  padding-top: 19px;
  padding-bottom: 19px;
  height: auto;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  @include circular(medium);
}

.btn-primary {
  border: 0;
  background-color: #3cbeb1;
  &:hover {
    background-color: #3cbeb1;
  }
  &:focus,
  &:active {
    background-color: #3cbeb1 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(#3cbeb1, 0.25) !important;
  }
}

.btn-outline-primary {
  border: 3px solid #3cbeb1;
  color: #3cbeb1;
  &:hover {
    border: 3px solid #3cbeb1;
    background-color: #3cbeb1;
  }
  &:focus,
  &:active {
    border: 3px solid #3cbeb1;
    background-color: #3cbeb1 !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(#3cbeb1, 0.25) !important;
  }
}

.btn-lg {
  padding: 19px 36px 17px;
}

.display-4 {
  @include circular(blak);
}

h2 {
  font-weight: 300;
}

.nowrap {
  white-space: nowrap;
}
