---
---

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "layout/fonts";

$primary: #3cbeb1;

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  max-width: 1440px;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.form-control {
  border-radius: 0;
  &:focus {
    border-color: $primary;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
  }
}

.form-control-lg {
  padding-top: 19px;
  padding-bottom: 19px;
  height: auto;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  @include circular(medium);
}

.btn-primary {
  border: 0;
  background-color: $primary;
  &:hover {
    background-color: $primary;
  }
  &:focus,
  &:active {
    background-color: $primary !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
  }
}

.btn-outline-primary {
  border: 3px solid $primary;
  color: $primary;
  &:hover {
    border: 3px solid $primary;
    background-color: $primary;
  }
  &:focus,
  &:active {
    border: 3px solid $primary;
    background-color: $primary !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25) !important;
  }
}

.btn-outline-white {
  border: 3px solid white;
  color: white;
  &:hover {
    border: 3px solid white;
    background-color: white;
  }
  &:focus,
  &:active {
    border: 3px solid white;
    background-color: white !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(white, 0.25) !important;
  }
}

.btn-lg {
  padding: 19px 36px 17px;
}

.display-4 {
  @include circular(blak);
}

h2 {
  font-weight: 300;
}

.h3,
h3 {
  @include circular(blak);
}

h4 {
  @include circular(regular);
}

.nowrap {
  white-space: nowrap;
}

.demo-circle {
  background-color: #c4c4c4;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
