@import '../_sass/bourbon/bourbon';
@import 'variables';

* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

body {
  background-color: $yellow;
  padding: 0 $sidebar-width 0 0;
  ul.grid {
    @include grid-layout(3);
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $teal;
  }
}

