@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  src: url("../fonts/circularstd-black.eot");
  src: url("../fonts/circularstd-black.eot") format("embedded-opentype"), url("../fonts/circularstd-black.woff") format("woff"), url("../fonts/circularstd-black.ttf") format("truetype"), url("../fonts/circularstd-black.svg#CircularStdBlackRegular") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  font-style: italic;
  src: url("../fonts/circularstd-blackitalic.eot");
  src: url("../fonts/circularstd-blackitalic.eot") format("embedded-opentype"), url("../fonts/circularstd-blackitalic.woff") format("woff"), url("../fonts/circularstd-blackitalic.ttf") format("truetype"), url("../fonts/circularstd-blackitalic.svg#CircularStdBlackItalic") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  src: url("../fonts/circularstd-bold.eot");
  src: url("../fonts/circularstd-bold.eot") format("embedded-opentype"), url("../fonts/circularstd-bold.woff") format("woff"), url("../fonts/circularstd-bold.ttf") format("truetype"), url("../fonts/circularstd-bold.svg#CircularStdBlackBold") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/circularstd-bolditalic.eot");
  src: url("../fonts/circularstd-bolditalic.eot") format("embedded-opentype"), url("../fonts/circularstd-bolditalic.woff") format("woff"), url("../fonts/circularstd-bolditalic.ttf") format("truetype"), url("../fonts/circularstd-bolditalic.svg#CircularStdBoldItalic") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-weight: 300;
  src: url("../fonts/circularstd-book.eot");
  src: url("../fonts/circularstd-book.eot") format("embedded-opentype"), url("../fonts/circularstd-book.woff") format("woff"), url("../fonts/circularstd-book.ttf") format("truetype"), url("../fonts/circularstd-book.svg#CircularStdBlackBook") format("svg"); }
@font-face {
  font-family: 'LTCircular';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/circularstd-bookitalic.eot");
  src: url("../fonts/circularstd-bookitalic.eot") format("embedded-opentype"), url("../fonts/circularstd-bookitalic.woff") format("woff"), url("../fonts/circularstd-bookitalic.ttf") format("truetype"), url("../fonts/circularstd-bookitalic.svg#CircularStdBookItalic") format("svg"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'LTCircular', sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #fddf26;
  padding: 0; }
  body #home .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    overflow: hidden; }
    body #home .slider .slide {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%; }
      body #home .slider .slide.current-slide {
        top: 0; }
      body #home .slider .slide.previous-slide {
        top: -100%; }
    body #home .slider span.slider-control {
      position: absolute;
      bottom: 70px;
      left: 50%;
      display: block;
      width: 140px;
      font-size: 20px;
      text-align: center;
      margin: 0 0 0 -70px;
      padding: 10px 0;
      cursor: pointer; }
      body #home .slider span.slider-control:after {
        height: 0;
        width: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid black;
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin: 0 0 0 -10px; }
  body ul.grid {
    list-style: none;
    font-size: 0;
    margin: 0;
    padding: 0; }
    body ul.grid li {
      position: relative;
      display: inline-block;
      width: 33.33333%; }
      body ul.grid li img {
        width: 100%;
        height: auto; }
      body ul.grid li div {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        flex-direction: column;
        -ms-flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(62, 190, 177, 0.5); }
        body ul.grid li div p {
          display: block;
          font-size: 20px;
          line-height: 1.5em; }
  body #get-in-touch {
    text-align: center; }
    body #get-in-touch form {
      width: 70%;
      font-size: 0;
      margin: 0 auto; }
      body #get-in-touch form * {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        font-size: 20px; }
      body #get-in-touch form select.lets-work-together {
        width: 100%;
        margin: 0 0 10px 0; }
      body #get-in-touch form .name,
      body #get-in-touch form .email,
      body #get-in-touch form .phone-number,
      body #get-in-touch form .budget-range {
        display: inline-block;
        width: 50%;
        margin: 0 0 10px 0;
        padding: 0 5px 0 0; }
        body #get-in-touch form .name input,
        body #get-in-touch form .name select,
        body #get-in-touch form .email input,
        body #get-in-touch form .email select,
        body #get-in-touch form .phone-number input,
        body #get-in-touch form .phone-number select,
        body #get-in-touch form .budget-range input,
        body #get-in-touch form .budget-range select {
          width: 100%; }
      body #get-in-touch form .email,
      body #get-in-touch form .budget-range {
        padding: 0 0 0 5px; }
      body #get-in-touch form input,
      body #get-in-touch form select,
      body #get-in-touch form textarea {
        background-color: #fff;
        border: none;
        border-radius: 0;
        padding: 10px; }
      body #get-in-touch form textarea {
        width: 100%; }
  body .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    vertical-align: top;
    width: 25%;
    height: 100%;
    background-color: #3ebeb1;
    font-size: 0; }
    body .sidebar .secondary-navigation {
      position: relative;
      display: inline-block;
      width: 75%;
      height: 100%;
      background-color: #788687;
      font-size: 20px; }
      body .sidebar .secondary-navigation a {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        position: relative;
        width: 100%;
        height: 33.33333%;
        color: #fff;
        background-color: #3ebeb1;
        box-shadow: inset 0 -4px 0 #31988d;
        text-decoration: none;
        padding: 0 20px; }
    body .sidebar .primary-navigation {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      font-size: 20px; }
      body .sidebar .primary-navigation.home-navigation {
        background-color: #000; }
        body .sidebar .primary-navigation.home-navigation a {
          display: -webkit-box;
          display: -moz-box;
          display: box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -moz-box-align: center;
          box-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          -ms-align-items: center;
          -o-align-items: center;
          align-items: center;
          -ms-flex-align: center;
          position: relative;
          width: 100%;
          height: 16.66667%;
          color: #fff;
          background-color: #3ebeb1;
          box-shadow: inset 0 -4px 0 #31988d;
          text-decoration: none;
          padding: 0 20px; }
          body .sidebar .primary-navigation.home-navigation a p:after {
            content: "";
            position: relative;
            display: block;
            width: 40px;
            height: 0;
            border-bottom: solid 2px #fff;
            margin: 20px 0 0 0; }
      body .sidebar .primary-navigation.active {
        left: 75%; }
      body .sidebar .primary-navigation > *.active {
        opacity: .5; }
      body .sidebar .primary-navigation footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 16.66%;
        background-color: #fddf26; }
