body {
  width: 100%;
  background-color: #f00 !important;
}

body > article {
  width: 100%;
  padding-top: 8%;
}

body > article > h2 {
  margin-left: 16px;
}

/* HEADER */

header section {
  width: 100%;
  height: auto;
}

header section img {
  width: 40%;
  max-width: 227px;
  height: auto;
}

header section a:last-of-type {
  display: none;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  background-image: none;
  border: none;
  border-left: solid 1px #555;
  text-align: right;
}
header nav:before,
header nav:after {
  background-image: none;
  position: inline;
  height: auto;
  width: 0;
}

header nav a {
  display: none;
}

header nav select {
  display: inline-block;
  height: 100%;
  -webkit-appearance: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  text-shadow: 0 -1px 0 #000;
  text-align: right;
}

/* HOME */

article#home > section {
  width: auto;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 0 #fff;
  margin: 8px 16px;
  text-align: center;
}
article#home > section,
article#home > section:first-of-type,
article#home > section:last-of-type {
  border: solid 1px #dcdcdc;
  padding: 16px 24px 24px 24px;
}

article#home > section h3 {
  color: #555;
}

article#home > section p {
  text-align: left;
}

article#home > section a {
  margin-left: -41px;
  background-image: url('../images/portfolio-item-bg-mobile.png');
}
article#home > section a:after {
  background-image: url('../images/ribbon-end-mobile.png');
}

article#home aside {
  height: 78px;
  overflow: hidden;
  margin: 24px 0;
  border: none;
  padding: 0 24px;
  text-align: center;
}

article#home aside h3 {
  display: block;
  height: auto;
  margin: 12px 0;
  color: #555;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

article#home aside img {
  width: 50px;
  height: 32px;
  background-size: 250px 128px;
}

/* PROCESS & TOOLS */

article#process-tools aside {
  float: none;
  width: auto;
  margin: 0;
  padding: 12px;
  border-bottom: solid 1px #dcdcdc;
}

article#process-tools aside h3 {
  margin: 12px 0;
}

article#process-tools aside figure {
  width: auto;
  min-height: 64px;
  margin: 0 0 12px 0;
  box-shadow: 0 2px 0 #fff;
}

article#process-tools section,
article#process-tools section:first-of-type {
  width: auto;
  padding: 12px;
  border-top: solid 1px #fff;
}

article#process-tools p {
  width: auto;
}

/* PORTFOLIO */

article#portfolio > article {
  width: auto;
  height: auto;
  display: block;
  margin: 24px 12px;
  text-align: center;
}

article#portfolio > article h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: -24px;
  font-size: 21px;
  text-align: center;
}

article#portfolio > article > a > img {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 48px 0 0 0;
  float: none;
}

article#portfolio > article > p {
  margin: 16px 0 54px 0;
  text-align: left;
}

article#portfolio > article > aside {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  background: none;
  box-shadow: none;
}

article#portfolio > article > aside:before {
  background: none;
}

article#portfolio > article > aside a {
  display: block;
  position: relative;
}

article#portfolio > article > aside a:last-child {
  background: url('../images/portfolio-item-bg.png') repeat-x;
  font-size: inherit;
  padding: 5px 0 5px 32px;
  border: 0;
  width: 90%;
  height: 25px;
  margin: 0 0 0 -32px;
  box-shadow: 0 3px 1px #CCC;
  float: none;
}

article#portfolio > article > aside a:last-child:after {
  content: url('../images/ribbon-end-mobile.png');
  position: absolute;
  display: block;
  top: 0;
  right: -1px;
}

article#portfolio article:last-of-type {
  text-align: center;
}

article#portfolio article:last-of-type img {
  width: 50px;
  height: 32px;
  background-size: 250px 128px;
}

article#portfolio article section figure {
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  border: none;
  padding: 10% 0 0 0;
}

article#portfolio article section figure img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 8px;
  margin: 0 auto;
  box-sizing: border-box;
}

article#portfolio article section figure figcaption {
  text-align: left;
  padding: 0 8px;
  margin-bottom: 138px;
}

article#portfolio section figure a {
  width: 50%;
  height: 67px;
  position: fixed;
  background: url('../images/lightbox-arrows.png');
  top: auto;
  bottom: 0;
}

article#portfolio section figure a.lightbox-left-arrow {
  left: 0;
  background-color: #f0f;
}

article#portfolio section figure a.lightbox-right-arrow {
  right: 0;
  background-color: #0ff;
}

/* TEAM */

article#team figure {
  width: auto;
  margin: 0 16px 16px 16px;
  box-shadow: 0 2px 0 #fff;
  float: none;
  text-align: center;
}

article#team figure img {
  float: none;
}

article#team figure:first-of-type img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0;
  float: none;
}

article#team figure footer {
  display: block;
  position: relative;
  left: auto;
  bottom: auto;
  width: auto;
  background: none;
}

/* CONTACT */

article#contact section,
article#contact section:last-of-type {
  padding: 16px;
  text-align: center;
}

article#contact section p {
  text-align: left;
}

article#contact form {
  width: auto;
  margin: 0;
}

article#contact form input[type="text"],
article#contact form input[type="submit"],
article#contact form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

article#contact section.images {
  position: relative;
  text-align: center;
}

article#contact section.images img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 0 0 16px 0;
  box-shadow: 0 2px 0 #fff;
  box-sizing: border-box;
}

article#contact section:last-of-type img {
  float: none;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 0 16px 0;
  box-shadow: 0 2px 0 #fff;
  box-sizing: border-box;
}

/* COMMUNITY */

article#community > article {
  width: auto;
  height: auto;
  margin: 0 16px 16px 16px;
  padding: 16px;
  float: none;
  box-shadow: 0 2px 0 #fff;
  text-align: center;
}

article#community > article img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  width: 100%;
  max-width: 290px;
  height: auto;
  max-height: 120px;
}

article#community > article h3 {
  margin: 8px 0;
}

article#community > article p {
  text-align: left;
  margin: 8px;
}

/* FOOTER */

body > footer {
  width: 100%;
  height: auto;
  padding: 0 24px;
}

body > footer div#footer {
  width: 100%;
  height: auto;
}

body > footer div#footer > p,
body > footer div#footer > address,
body > footer div#footer section {
  position: relative;
  left: auto;
}

body > footer div#footer section {
  width: 100%;
  text-align: center;
}
