@charset "utf-8";

/*** PROCESSES & TOOLS ***/

#tools-github, #tools-basecamp, #tools-campfire, #tools-pivotal, #tools-skype {
	background-image: url('../images/tools-sprite.png');
}

#tools-github {
	background-position: 0 0;
}

#tools-basecamp {
	background-position: -64px 0;
}

#tools-campfire {
	background-position: -128px 0;
}

#tools-pivotal {
	background-position: -192px 0;
}

#tools-skype {
	background-position: -256px 0;
}


/*** PORTFOLIO - OTHER CLIENTS ***/

.brookes-publishing, .exxonmobil, .newseum, .jpmorgan-chase, .engine-yard, .kennedy-krieger, .johns-hopkins-university, .johns-hopkins-hospital, .johns-hopkins-school, .lancome, .omalley, .ideeli, .brown, .meet-the-famous, .helk, .simplifymd, .spotcrime-sprite {
	background-image: url('../images/portfolio/other-clients-sprite.png');
}

.brookes-publishing {
	background-position: 0 0;
}

.exxonmobil {
	background-position: -50px 0;
}

.newseum {
	background-position: -100px 0;
}

.jpmorgan-chase {
	background-position: -150px 0;
}

.engine-yard {
	background-position: -200px 0;
}

.kennedy-krieger {
	background-position: 0 -32px;
}

.johns-hopkins-university {
	background-position: -50px -32px;
}

.johns-hopkins-hospital {
	background-position: -100px -32px;
}

.johns-hopkins-school {
	background-position: -150px -32px;
}

.lancome {
	background-position: -200px -32px;
}

.omalley {
	background-position: 0 -64px;
}

.ideeli {
	background-position: -50px -64px;
}

.brown {
	background-position: -100px -64px;
}

.meet-the-famous {
	background-position: -150px -64px;
}

.helk {
	background-position: -200px -64px;
}

.simplifymd {
	background-position: 0 -96px;
}

.spotcrime-sprite {
	background-position: -50px -96px;
}

.taxi-magic {
	background-position: -100px -96px;
}

.fractured-atlas {
	background-position: -150px -96px;
}

.orderup {
	background-position: -200px -96px;
}

.viewabill {
	background-position: 0 -128px;
}

.woofound-sprite {
	background-position: -50px -128px;
}

.zipmark-sprite {
	background-position: -100px -128px;
}

.give-corps-sprite {
	background-position: -150px -128px;
}
/*** TEAM - SOCIAL MEDIA ICONS ***/

.skype, .email, .twitter, .linked-in, .github, .flickr {
	background-image: url('../images/team/social-media-sprite.png');
}

.skype {
	background-position: 0 0;
}

.email {
	background-position: -16px 0;
}

.twitter {
	background-position: -32px 0;
}

.linked-in {
	background-position: -48px 0;
}

.github {
	background-position: -64px 0;
}

.flickr {
	background-position: -80px 0;
}


/*** COOL STUFF ***/

#bohconf, #ignite-railsconf, #meetups, #podcast-studio, #pet-projects, #charity, #shared-office-space, #open-source, #other-events {
	background-image: url('../images/cool-stuff/cool-stuff-sprite.jpg');
}

#bohconf {
	background-position: 0 0;
}

#ignite-railsconf {
	background-position: -290px 0;
}

#meetups {
	background-position: -580px 0;
}

#podcast-studio {
	background-position: 0 -120px;
}

#pet-projects {
	background-position: -290px -120px;
}

#charity {
	background-position: -580px -120px;
}

#shared-office-space {
	background-position: 0 -240px;
}

#open-source {
	background-position: -290px -240px;
}

#other-events {
	background-position: -580px -240px;
}


/*** FOOTER - SOCIAL MEDIA ICONS ***/

.twitter-32, .facebook-32, .google-plus-32, .linkedin-32, .github-32 {
	background-image: url('../images/footer/social-media-sprite.png');
}
.twitter-32 {
	background-position: 0 0;
}
.twitter-32:hover {
	background-position: 0 -32px;
}
.twitter-32:active {
	background-position: 0 -64px;
}

.facebook-32 {
	background-position: -32px 0;
}
.facebook-32:hover {
	background-position: -32px -32px;
}
.facebook-32:active {
	background-position: -32px -64px;
}

.google-plus-32 {
	background-position: -64px 0;
}
.google-plus-32:hover {
	background-position: -64px -32px;
}
.google-plus-32:active {
	background-position: -64px -64px;
}

.linkedin-32 {
	background-position: -96px 0;
}
.linkedin-32:hover {
	background-position: -96px -32px;
}
.linkedin-32:active {
	background-position: -96px -64px;
}

.github-32 {
	background-position: -128px 0;
}
.github-32:hover {
	background-position: -128px -32px;
}
.github-32:active {
	background-position: -128px -64px;
}
