body {
  width: 100%;
}

body > article {
  width: 100%;
}

/* HEADER */

header section {
  width: 100%;
  height: auto;
}

header section img {
  width: 40%;
  max-width: 227px;
  height: auto;
}

header section a:last-of-type {
  display: none;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: auto;
  background-color: #ff0;
  background-image: none;
  border: none;
}
header nav:before,
header nav:after {
  background-image: none;
  position: inline;
  height: auto;
  width: 0;
}

header nav a {
  display: none;
}

header nav select {
  display: inline-block;
}

/* HOME */

article#home > section {
  width: auto;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 0 #fff;
  margin: 8px 16px;
  text-align: center;
}
article#home > section,
article#home > section:first-of-type,
article#home > section:last-of-type {
  border: solid 1px #dcdcdc;
  padding: 16px 24px 24px 24px;
}

article#home > section h3 {
  color: #555;
}

article#home > section p {
  text-align: left;
}

article#home > section a {
  margin-left: -41px;
}

article#home aside {
  height: 78px;
  overflow: hidden;
  margin: 24px 0;
  border: none;
  padding: 0 24px;
  text-align: center;
}

article#home aside h3 {
  display: block;
  height: auto;
  margin: 12px 0;
  color: #555;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

article#home aside img {
  width: 50px;
  height: 32px;
  background-size: 250px 128px;
}

/* PORTFOLIO */

article#portfolio > article {
  width: auto;
  height: auto;
  display: block;
  margin: 24px 12px;
  text-align: center;
}

article#portfolio > article h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: -24px;
  font-size: 21px;
  text-align: center;
}

article#portfolio > article > a > img {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 48px 0 0 0;
  float: none;
}

article#portfolio > article > p {
  margin: 16px 0 54px 0;
  text-align: left;
}

article#portfolio > article > aside {
  width: 100%;
}

article#portfolio article:last-of-type {
  text-align: center;
}

article#portfolio article:last-of-type img {
  width: 50px;
  height: 32px;
  background-size: 250px 128px;
}

/* TEAM */

article#team figure {
  width: auto;
  margin: 0 16px 16px 16px;
  box-shadow: 0 2px 0 #fff;
  float: none;
  text-align: center;
}

article#team figure img {
  float: none;
}

article#team figure:first-of-type img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0;
  float: none;
}

article#team figure footer {
  display: block;
  position: relative;
  left: auto;
  bottom: auto;
  width: auto;
  background: none;
}

/* COMMUNITY */

article#community > article {
  width: auto;
  height: auto;
  margin: 0 16px 16px 16px;
  padding: 16px;
  float: none;
  box-shadow: 0 2px 0 #fff;
  text-align: center;
}

article#community > article img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
}

article#community > article h3 {
  margin: 8px 0;
}

article#community > article p {
  text-align: left;
  margin: 8px;
}

/* FOOTER */

body > footer {
  width: 100%;
  height: auto;
  padding: 0 24px;
}

body > footer div#footer {
  width: 100%;
  height: auto;
}

body > footer div#footer > p,
body > footer div#footer > address,
body > footer div#footer section {
  position: relative;
  left: auto;
}

body > footer div#footer section {
  width: 100%;
  text-align: center;
}
