body {
  width: 100%;
  padding: 0;
  margin: 0;
}

body > article {
  width: auto;
  padding: 0 16px;
  margin: 0;
}

body > article > h2 {
  margin: 0 0 16px 0;
  padding: 50px 0 0 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  outline: none;
}

/* HEADER */

header {
  width: 100%;
  border-bottom: solid 1px #000;
  margin: 0;
}

header section {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

header section img {
  width: 50%;
  max-width: 227px;
  height: auto;
  padding-left: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header section a:last-of-type {
  display: none;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  max-width: 50%;
  height: 100%;
  background-color: #333;
  background-image: none;
  border: none;
  border-left: solid 1px #555;
  box-shadow: none;
  font-size: 14px;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header nav:before,
header nav:after {
  background-image: none;
  position: inline;
  height: auto;
  width: 0;
}

header nav a {
  display: none;
}

header nav select {
  display: inline-block;
  height: 100%;
  -webkit-appearance: none;
  background-color: #333;
  background-image: url('../images/nav-dropdown-arrow.png');
  background-repeat: no-repeat;
  background-position: 3px center;
  border: none;
  padding: 0 20px;
  color: #fff;
  text-shadow: 0 -1px 0 #000;
  text-align: left;
}

/* HOME */

article#home {
  padding: 0 16px;
}

article#home > section {
  width: 100%;
  position: relative;
  display: block;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 0 #fff;
  margin: 8px 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article#home > section,
article#home > section:first-of-type,
article#home > section:last-of-type {
  border: solid 1px #dcdcdc;
  padding: 16px 24px 24px 24px;
}

article#home > section h3 {
  color: #555;
}

article#home > section img {
  width: 100%;
  max-width: 278px;
}

article#home > section p {
  text-align: left;
}

article#home > section a {
  margin-left: -41px;
  background-image: url('../images/portfolio-item-bg-mobile.png');
}
article#home > section a:after {
  background-image: url('../images/ribbon-end-mobile.png');
}

article#home aside {
  height: 78px;
  overflow: hidden;
  margin: 24px 0;
  border: none;
  padding: 0;
  text-align: center;
}

article#home aside h3 {
  display: block;
  height: auto;
  margin: 12px 0;
  color: #555;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

article#home aside img {
  width: 50px;
  height: 32px;
  background-size: 250px 160px;
}

/* PROCESS & TOOLS */

article#process-tools aside {
  float: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #dcdcdc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article#process-tools aside h3 {
  margin: 12px 0;
}

article#process-tools aside figure {
  width: auto;
  min-height: 64px;
  margin: 0 0 12px 0;
  -webkit-box-shadow: 0 2px 0 #fff;
  box-shadow: 0 2px 0 #fff;
}

article#process-tools section,
article#process-tools section:first-of-type {
  width: auto;
  padding: 0;
  border-top: solid 1px #fff;
}

article#process-tools p {
  width: auto;
}

/* PORTFOLIO */

article#portfolio > article {
  position: relative;
  width: auto;
  height: auto;
  display: block;
  margin: 24px 0;
  text-align: center;
}

article#portfolio > article h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: -24px;
  font-size: 21px;
  text-align: center;
}

article#portfolio > article:last-child h2 {
  position: relative;
}

article#portfolio > article > a > img {
  width: 100%;
  max-width: 420px;
  height: auto;
  margin: 48px 0 0 0;
  float: none;
}

article#portfolio > article > p {
  margin: 16px 0 24px 0;
  text-align: left;
}

article#portfolio > article > aside {
  position: relative;
  width: auto;
  margin-bottom: 8px;
  background: none;
  box-shadow: none;
}

article#portfolio > article > aside:before {
  background: none;
}

article#portfolio > article > aside a {
  display: none;
  position: relative;
  margin: 0 0 6px 0;
}

article#portfolio > article > aside a.case-study {
  display: block;
  color: #32aaaa;
  text-decoration: underline;
  text-shadow: none;
  margin: -12px 0 8px 0;
}

article#portfolio > article > aside a:last-child {
  display: block;
  background: url('../images/portfolio-item-bg.png') repeat-x;
  color: #fff;
  font-size: inherit;
  padding: 5px 0 5px 36px;
  border: 0;
  width: 100%;
  height: 25px;
  margin: 0 0 0 -36px;
  box-shadow: 0 3px 1px #CCC;
  float: none;
}

article#portfolio > article > aside a:last-child:after {
  content: url('../images/ribbon-end-mobile.png');
  position: absolute;
  display: block;
  top: 0;
  right: -1px;
}

article#portfolio article:last-of-type {
  text-align: center;
}

article#portfolio article:last-of-type img {
  width: 50px;
  height: 32px;
  background-size: 250px 160px;
}

article#portfolio article section figure figcaption {
  text-align: left;
}

/* TEAM */

article#team figure {
  width: auto;
  margin: 0 0 16px 0;
  -webkit-box-shadow: 0 2px 0 #fff;
  box-shadow: 0 2px 0 #fff;
  float: none;
  text-align: center;
}

article#team figure:first-of-type > h3 {
  float: none;
}

article#team figure:first-of-type > p {
  text-align: left;
}

article#team figure img {
  float: none;
}

article#team figure:first-of-type > img {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0;
  float: none;
}

article#team figure footer {
  display: block;
  position: relative;
  left: auto;
  bottom: auto;
  width: auto;
  background: none;
}

article#team figure:first-of-type footer {
  width: auto;
  left: auto;
}

article#team figure footer img {
  background-repeat: no-repeat;
}

/* CONTACT */

article#contact section,
article#contact section:last-of-type {
  text-align: center;
}

article#contact section:last-of-type {
  padding-bottom: 0;
}

article#contact section p,
article#contact section p:last-of-type {
  text-align: left;
  margin-bottom: 16px;
}

article form {
  width: auto;
  margin: 0;
}

article form input[type="text"],
article form input[type="submit"],
article form textarea {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article#contact section.images {
  position: relative;
  text-align: center;
}

article#contact section.images img,
article#jobs section img {
  width: 100%;
  max-width: 290px;
  height: auto;
  margin: 0 0 16px 0;
  -webkit-box-shadow: 0 2px 0 #fff;
  box-shadow: 0 2px 0 #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article#contact section.images img:last-of-type {
  margin-bottom: 0;
}

article#contact section:last-of-type img {
  float: none;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 0 0 16px 0;
  -webkit-box-shadow: 0 2px 0 #fff;
  box-shadow: 0 2px 0 #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* JOBS */

article#jobs section article ul {
  width: auto;
}

/* ADWORDS */

article#adwords-landing-page img {
  width: 100%;
  max-width: 100%;
  float: none;
}

article#adwords-landing-page ul {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
}

/* COMMUNITY */

article#community > article {
  width: auto;
  height: auto;
  margin: 0 0 16px 0;
  padding: 16px;
  float: none;
  -webkit-box-shadow: 0 2px 0 #fff;
  box-shadow: 0 2px 0 #fff;
  text-align: center;
}

article#community > article img {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: none;
  width: 100%;
  max-width: 290px;
  height: auto;
  max-height: 120px;
}

article#community > article h3 {
  margin: 8px 0;
}

article#community > article p {
  text-align: left;
  margin: 8px;
}

/* FOOTER */

body > footer {
  width: auto;
  height: auto;
  padding: 0 24px;
  font-size: 16px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body > footer div#footer {
  width: auto;
  height: auto;
}

body > footer div#footer > p,
body > footer div#footer > address,
body > footer div#footer section {
  position: relative;
  left: auto;
}

body > footer div#footer section {
  width: 100%;
  text-align: center;
}
