@import '../_sass/bourbon/bourbon';

$gray: #788687;
$yellow: #FDDF26;
$red: #E1233A;
$teal: #3EBEB1;

$sidebar-width: 25%;

@mixin grid-layout($number-of-columns) {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    display: inline-block;
    width: 100%/$number-of-columns;
    img {
      width: 100%;
      height: auto;
    } 
    div {
      @include display(flex);
      @include align-items (center);
      @include justify-content(center);
      @include flex-direction(column);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($teal, .5);
      p {
        display: block;
        font-size: 20px;
        line-height: 1.5em;
      }
    }
  }
}
