use nix

mkdir -p .nix-bundler

export BUNDLE_PATH=./.nix-bundler
export GEM_HOME=$BUNDLE_PATH

# secrets specific to you live here
[[ -f $PWD/.envrc-personal ]] && source $PWD/.envrc-personal
# /specific secrets
