---
title: Contact Us
description: ""
permalink: /contact-thankyou
breadcrumb: Contact
layout: no-index
---

<main class="main" role="main">
  <section class="section hero hero__contact hero-no-img">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>
              Let's get started.</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>Looking for a team to build out or help with development on your application? Tell us a little bit about your project.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img">
        </div>
      </div>
    </div>
  </section>
  <section class="section contact">
    <div class="container">
      <div class="contact__left">
        <div class="contact__left-form-wrap">
          <h1>Thank You!</h1>
          <h2>Your submission has been received.</h2>
          {% include tracking-conversion.html %}
        </div>
      </div>
      <div class="contact__right">
        <div class="contact__map-wrap">
          <div class="contact__map">
            <div id="map"></div>
          </div>
          <div class="contact__map-text">
            <p>8 Market Pl Ste 377</p>
            <p>Baltimore, MD 21202</p>
          </div>
        </div>
        <div class="contact__right-text">
          <div class="contact__right-text-head">
            <div class="head-text">
              <h2>Get in Touch</h2>
            </div>
          </div>
          <div class="contact__right-text-desc">
            <p>
              Call us at <a href="tel:+888-544-SMRT">888-544-SMRT </a>
              or email us at <a href="mailto:contact@smartlogic.io">contact@smartlogic.io</a>.
            </p>
            <p>Want to build better software with us ? <a href="https://smartlogic.workable.com/">Apply online</a>.</p>
          </div>
        </div>
        <div class="contact__right-socilas">
          <ul class="contact__right-socilas-list">
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://twitter.com/smartlogic">
                <img src="/images/icons/social-icons/tw.svg" alt="Twitter Icon" />
              </a>
            </li>
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://www.facebook.com/smartlogic">
                <img src="/images/icons/social-icons/fb.svg" alt="Facebook Icon" />
              </a>
            </li>
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://www.linkedin.com/company/smartlogic-io">
                <img src="/images/icons/social-icons/in.svg" alt="Linkedin Icon" />
              </a>
            </li>
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://github.com/smartlogic">
                <img src="/images/icons/social-icons/gh.svg" alt="Github Icon" />
              </a>
            </li>
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://www.youtube.com/channel/UCWAV0_JasFSJMLGryeUedCQ">
                <img src="/images/icons/social-icons/yt.svg" alt="YouTube Icon" />
              </a>
            </li>
            <li class="contact__right-socilas-item">
              <a class="contact__right-socilas-link" href="https://www.twitch.tv/smartlogictv">
                <img src="/images/icons/social-icons/twitch.svg" alt="Twitch Icon" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section quote">
    <div class="container">
      <div class="quote__left">
        <div class="quote__left-img"><img src="/images/logo/urban-teacher-center.png" alt="Urban Teachers Logo" /></div>
      </div>
      <div class="quote__right">
        <div class="quote__right-text">
          <p>It's been a great joy to work with SmartLogic. I definitely would recommend SmartLogic to other
            people who are looking to build some sort of custom web app.</p>
        </div>
        <div class="quote__right-author">
          <p>— Alex Mathews, Techincal Services Specialist, Urban Teachers </p>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer footer__contact">
  <div class="footer__big">
    <div class="container">
      <div class="footer__big-left">
        <div class="footer__big-left-text-head">
          <div class="head-text">
            <h2>Stress-free software development.</h2>
          </div>
        </div>
        <div class="footer__big-left-text-dec">
          <p>We use best-of-breed agile development processes to deliver exceptional project management—and of
            course code—to your organization.</p>
        </div>
        <div class="footer__big-left-link"><a class="btn" href="/method">Learn more </a>
        </div>
      </div>
      <div class="footer__big-right">
        <div class="footer__big-right-quote">
          <p>When you go to SmartLogic, you feel like they’re a part of the team. They’re not just hired guns who
            are in it for the money. They’re actually going to take a vested interest in what you’re building and
            want it to succeed and be fruitful.</p>
        </div>
        <div class="footer__big-right-client">
          <p>—Josh Spears, COO, Woofound</p>
        </div>
      </div>
    </div>
  </div>
  {% include footer-common.html %}
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9aDrmXrH-2RYWyQOA5J2g22piALzyIr4&callback=initMap"
  async="async" defer="defer"></script>
<script src="/javascript/map.js"></script>
