---
layout: default
title: Experience | Custom Software Applications, Ruby on Rails
description: We work with clients ranging from small startups to multinational corporations to build software, create iPhone apps, and write quality Ruby on Rails code.
root-navigation: experience
---
<article>
  <h1>The work we do</h1>
  <p>We work with clients ranging from small startups to multinational corporations. Whether we’re building software that will help launch a company or creating an iPhone app for a global brand, we bring effective processes, great communication, and a talented team to every project.</p>
</article>

<article>
  <h1>Case Studies</h1>
  <div class="grid-container">
    {% for item in site.data.case_study %}
      <a href="/case-study/{{ item.url }}.html" class="grid-cell">
        <figure>
          <img src="http://placehold.it/250x250" alt="{{ item.title }}">
          <figcaption>
            <h3>{{ item.title }}</h3>
            <p>{{ item.subtitle }}</p>
            <i class="fa fa-plus-circle"></i>
          </figcaption>
        </figure>
      </a>
    {% endfor %}
  </div>
</article>

<article>
  <h1>Areas of Expertise</h1>
  <div class="grid-container">
    {% for item in site.data.expertise %}
      <div class="grid-cell">
        <figure>
          <img src="http://placehold.it/250x250" alt="{{ item.title }}">
          <figcaption>
            <h3>{{ item.title }}</h3>
            <p>{{ item.subtitle }}</p>
            <i class="fa fa-plus-circle"></i>
          </figcaption>
        </figure>
      </div>
    {% endfor %}
  </div>
</article>

<article>
  <h1>Let's work together</h1>
  <p>You’ve see our work and heard us talk about ourselves. Now, let’s talk about your project.</p>
  <a href="/get-in-touch.html" class="call-to-action">Contact us</a>
</article>
