---
layout: default
title: Get in Touch | Hire Us, Developer Career Opportunities
description: Tell us what's on your mind. Contact us to talk about your project, hear about career opportunities or learn more about SmartLogic.
root-navigation: get-in-touch
body-class: contact-page
---
<article id="get-in-touch">
  <h1>Get in Touch</h1>
  {% include social-media.html %}
  <p>Call us at <a href="tel:+14434513001">(443) 451-3001</a> or email us at <a href="mailto:contact@smartlogic.io>">contact@smartlogic.io</a>.</p>
  <form>
    <div>
      <input type="text" placeholder="Name">
    </div>
    <div>
      <input type="email" placeholder="Email">
    </div>
    <div>
      <input type="tel" placeholder="Phone">
    </div>
    <div class="budget-range">
      <select>
        <option disabled selected>Budget Range</option>
        <option>Option 1</option>
        <option>Option 2</option>
      </select>
    </div>
    <textarea rows="5" placeholder="Project Description/Comments"></textarea>
    <input type="submit" value="Submit">
  </form>
</article>

<article>
  <h1>Working at SmartLogic</h1>
  <p>What do we have to offer? We're glad you asked. Here are a few things that set us apart:</p>
  <ul class="info-grid">
    <li class="flexibility">
      <h2>Flexibility</h2>
      <p>Never drive in rush hour traffic again: our office hours are 10am - 3:30pm. Work from home every other Friday. We've also had employees work abroad for extended periods of time.</p>
    <li class="flower">
      <h2>Nice Office Environment</h2>
      <p>There's a budget for snacks and breakfast goods in the office: you tell us what you want and we'll get it. We bring in fresh flowers every week and have lots of plants. We're pet-friendly too!</p>
    <li class="team">
      <h2>Strong Technical Talent</h2>
      <p>Work with other technical people. Everyone on the team codes, from the president down. Designers/developers do the interviewing and have the ultimate say on who joins the team.</p>
    <li class="benefits">
      <h2>Benefits</h2>
      <p>We offer competitive pay, vacation time, medical + dental + vision insurance. We offer a 3% SIMPLE IRA match. We send folks to conferences throughout the year. Everyone gets new equipment (27" iMacs).</p>
    <li class="flower">
      <h2>Low Stress; Interesting Work</h2>
      <p>You get to work on the interesting technical challenges. We continuously optimize our PM and software development processes for low stress and mitigation of the mundane.</p>
    <li class="flexibility">
      <h2>Good Corporate Citizen</h2>
      <p>We have an annual charity giving program and have sponsored dozens of conferences and meetups. Several of our employees are also active non-profit board members and volunteers.</p>
  </ul>
</article>

<article id="location">
  <h1>Our Office</h1>
  <p>We're located at the <a href="http://www.broomfactory.com/">Broom Factory in Canton</a>. To visit, dial 323 on the call pad at the front entrance. We're on the third floor.</p>
  <div class="contact-info">
    <address>3500 Boston St, Ste 323, Baltimore, MD 21224</address>
    <a href="https://goo.gl/maps/nM1Gc" target="_blank">[Map]</a>
  </div>
  <div class="contact-info">
    <a href="tel:+14434513001">(443) 451-3001</a> ·
    <a href="mailto:contact@smartlogic.io">contact@smartlogic.io</a>
  </div>
  <ol class="photo-grid">
    {% for item in site.data.our-office %}
      <li>
        <figure>
          <img src="/images/our-office/{{ item.photo }}" alt="{{ item.heading }}">
          <figcaption>
            <strong>{{ item.heading }}</strong>
            <p>{{ item.description }}</p>
          </figcaption>
        </figure>
    {% endfor %}
  </ol>
</article>
