---
layout: default
title: Software Developers, Our Team | SmartLogic
metadescription: Our talented team of software developers creates web and mobile apps with Ruby on Rails, iOS, Android, and more.
---
<article id="team">
  <h2>Team</h2>
  <figure>
    <h3>Henry van Wagenberg, Managing Director, Berlin</h3>
    <img src="/images/team/henry_wide.png" alt="Henry van Wagenberg" title="Henry van Wagenberg" width="450" height="170">
    <p>
    Before SmartLogic, Henry co-founded the student review website <a href="http://ratemystudyabroad.com">RateMyStudyAbroad.com.</a> Among other adventures, he spent a year in a cottage attempting (and failing) to read the entire "Western Canon" starting with Plato. He loves writing code and thinking through interesting problems, especially ancient Greek ones. Henry writes about the Stoic school of philosophy at <a href="http://www.stoichacks.com">StoicHacks.com.</a> He lives in Germany, where he runs SmartLogic's Berlin office.
    </p>
    <footer>
    <a href="skype:RMSAHenry"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
    <a href="mailto:henry@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/henryvwagenberg"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/henryvw"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/henryvw"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
    </footer>
  </figure>
  {% include team/ryan.html %}
  {% include team/kei.html %}
  {% include team/yair.html %}
  {% include team/sam.html %}
  {% include team/ara.html %}
  {% include team/dan.html %}
  {% include team/carlos.html %}
  {% include team/matt.html %}
  {% include team/eric.html %}
  {% include team/tom.html %}
  {% include team/brian.html %}
</article>
