---
layout: default
title: Podcast | Elixir Wizards
description: Conversations on modern best practices in web and mobile development.
---
<main class="main main-home" role="main">
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <h2>Conversations with software developers from around the world on the Elixir language and other modern web technologies.</h2>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/contents/podcast-cover.png" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>

  <div class="content-page-wrapper">
    <section class="section content-block">
      <div class="container">

        <h2>Season Three: Working with Elixir</h2>
        <p>In <a href="https://podcast.smartlogic.io/?season=3">season three</a> our theme is Working with Elixir: Functional Programming, Hiring/Training, and Performance. New episodes come out on Thursdays starting November 21st.</p>

        <h2>Season Two: Elixir Internals</h2>
        <p>In <a href="https://podcast.smartlogic.io/season-2-trailer">our second season</a>, released from July-September of 2019, we focused on Elixir Internals; we talked with developers behind some of the most popular Elixir libraries, including Witchcraft, ElixirScript, Distillery, Ecto, and more!</p>
        <iframe src="https://fireside.fm/player/v2/IAs5ixts+6-2E3Exs?theme=dark" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
        <blockquote cite="https://podcast.smartlogic.io/season-two-zelenka">
          Contributing back to libraries both forces you to read how other people are writing code and collaborate with other people.</blockquote> <cite>— Brooklyn Zelenka in <a href="https://podcast.smartlogic.io/season-two-zelenka">S2E1 Elixir Internals on Witchcraft</a></cite>

        <ul class="podcast-list">
          <li><a href="https://podcast.smartlogic.io/season-two-zelenka">Brooklyn Zelenka on Witchcraft</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-joseph">Bryan Joseph on ElixirScript</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-schoenfelder">Paul Schoenfelder on Distillery</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-dakin">Meryl Dakin on Token Alchemist</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-fohring">René Föhring on Credo</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-keathley">Chris Keathley on Wallaby and Raft</a></li>
        </ul>
        <ul class="podcast-list">
          <li><a href="https://podcast.smartlogic.io/season-two-resudek">Todd Resudek on Hex</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-muskala">Michał Muskała on Ecto and jason</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-chellaram">Shanti Chellaram on Pri-Queue and raft_erl</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-debenedetto">Sophie DeBenedetto on Excrypt and Railway</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-oestrich">Eric Oestrich on ExVenture</a></li>
          <li><a href="https://podcast.smartlogic.io/season-two-lucia">Dave Lucia on Rustler</a></li>
          <!-- <li><a href="https://podcast.smartlogic.io/season-two-wrap">Season Two Wrap</a></li> -->
        </ul>

      </div>
    </section>
    <section class="section content-block">
      <div class="container">
        <h2>Season One: Elixir in Production</h2>
        <p></p>
        <p>Our first season, released from February-April of 2019, focused on Elixir in production and featured conversations with engineers who have live production apps built with Elixir. We talked about why Elixir, implementation details, libraries, patterns, and tips for real-world applications. Take a listen to the trailer embedded below or click in to any of the episodes in the list to listen to season one.</p>
        <iframe src="https://fireside.fm/player/v2/IAs5ixts+CMqsR3oF?theme=dark" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
        <ul class="podcast-list">
          <li><a href="https://podcast.smartlogic.io/season-1-smartlogic">Dan Ivovich from SmartLogic</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-clustertruck">Ryan Billingsley from Clustertruck</a></li>
          <li><a href="https://podcast.smartlogic.io/special-lonestar-elixir-2019">Bonus: Lonestar ElixirConf 2019 Lunchisode</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-weedmaps">Todd Resudek from Weedmaps</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-zelenka">Brooklyn Zelenka from SPADE Co.</a></li>
        </ul>
        <ul class="podcast-list">
          <li><a href="https://podcast.smartlogic.io/season-1-ericksen">Mark Ericksen from Elixir Mix</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-hunleth">Frank Hunleth from Nerves</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-cava">Jay Ashe from Cava</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-community">Jeffrey Matthias from Community</a></li>
          <li><a href="https://podcast.smartlogic.io/season-1-recap">Elixir in Production Recap</a></li>
        </ul>
      </div>
    </section>

    <section class="section content-block">
      <div class="container">
        <img class="diagram" width="100%" src="/images/contents/louis-reed-747361-unsplash-1.jpg" alt="Photograph of a circuit board">
        <h2>Elixir in Production: Takeaways and Common Themes</h2>
        <p>Here are some of the common themes that emerged through our conversations with the developers we interviewed in season one:</p>
        <ul>
          <li>Everyone we interviewed had fairly similar reasons for picking Elixir. They loved that it was concurrent, highly available, and fault tolerant. The great developer tooling was icing on the cake.</li>
          <li>A majority of the developers we spoke with host their Elixir applications on <a href="https://kubernetes.io/">Kubernetes</a> or some kind of <a href="https://www.docker.com/">Docker</a> host. But don't let that intimidate you, Elixir also runs great on <a href="https://www.heroku.com/">Heroku</a>.</li>
          <li>We also asked everyone for a single tip for getting your new application deployed and a lot of them responded with "Just give it a go and have fun!" While it seems complicated to deploy Elixir right now, getting the experience and having something deployed, no matter how you get it there, is worth doing.</li>
        </ul>
        <p>Take a listen to our <a href="https://podcast.smartlogic.io/season-1-recap">season one recap episode</a> for more takeaways.</p>
        <p>Read more about how SmartLogic uses <a href="https://smartlogic.io/phoenix-and-elixir">Phoenix and Elixir</a>. We also stream Elixir development every <a href="https://www.twitch.tv/smartlogictv">Monday at 12PM Eastern on Twitch</a>; our archive of <a href="https://www.youtube.com/channel/UCWAV0_JasFSJMLGryeUedCQ">past streams is up on YouTube</a>.</p>
      </div>
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
