article#side-projects {
	display: block;
	width: 960px;
	margin: 0 auto;
}

/*** Side Projects ***/
 
#side-projects article {
	height: 260px;
	display: block;
	color: #777;
	font-size: 11pt;
	line-height: 165%;
	background-color: white;
	border: solid 1px #DCDCDC;
	border-radius: 6px;
	-moz-border-radius: 6px;
	padding: 8px;
	margin-bottom: 20px;
	position: relative;
	box-shadow: 0 2px 1px #CCC;
	-moz-box-shadow: 0 2px 1px #CCC;
}
 
#side-projects > article > a img {
	float: left;
	height: 260px;
	width: 420px;
	margin-right: 26px;
}
 
#side-projects article h2 {
	color: #5a5a5a;
	font-size: 20pt;
	padding: 4px 20px;
}

#side-projects article p {
	color: #7a7a7a;
	padding: 6px 20px;
	font-size: 10pt;
}
 
#side-projects aside {
	background: url('images/portfolio-item-bg.png') repeat-x;
	font-size: inherit;
	padding: 5px 0 5px 11px;
	position: absolute;
	bottom: 18px;
	right: 0;
	width: 519px;
	border: 0;
	height: 25px;
	margin-bottom: 0;
	box-shadow: 0 5px 1px #CCC;
	-moz-box-shadow: 0 px 1px #CCC;
}
 
#side-projects aside:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 35px;
	background-image: url('images/portfolio-item-bg-shadow.png');
	background-repeat: repeat-y;
}
 
#side-projects aside a {
	color: white;
	text-shadow: 0 -1px 0 #0F7C79;
	text-decoration: none;
	margin-left: 16px;
}
 
#side-projects aside a:last-child {
	float: right;
	margin-right: 12px;
}
 
#side-projects aside a:last-child:after {
	content: url('images/portfolio-item-bg-wrap-around.png');
	position: absolute;
	display: block;
	right: -24px;
	top: -9px;
}

/********* LIGHTBOX WANNABE ********/
body.myboxislit {
	overflow-y: hidden;
}
 
.lightmybox {
	content: "";
	width: 100%;
	height: 9999px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	background-color: black;
	z-index: 5;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
 
#side-projects section {
	display: none;
}
 
#side-projects section figure {
	font-size: 10pt;
	display: none;
	position: fixed;
	top: 116px;
	left: 25%;
	width: 600px;
	padding: 12px;
	border: 1px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 24px #000;
	-moz-box-shadow: 0 0 24px #000;
	background-color: white;
	z-index: 6;
	margin: 0;
}
 
#side-projects section figure a {
	width: 67px;
	height: 67px;
	position: absolute;
	background: url('images/lightbox-arrows.png');
	top: 180px;
}
 
#side-projects section figure a.lightbox-left-arrow {
	background-position: 0 0;
	left: -37px;
}
 
#side-projects section figure a.lightbox-left-arrow:hover {
	background-position: 0 -67px;
}
 
#side-projects section figure a.lightbox-left-arrow:active {
	background-position: 0 -134px;
}
 
#side-projects section figure a.lightbox-right-arrow {
	background-position: -67px 0;
	right: -37px;
} 
 
#side-projects section figure a.lightbox-right-arrow:hover {
	background-position: -67px -67px;
}
 
#side-projects section figure a.lightbox-right-arrow:active {
	background-position: -67px -134px;
}
 
#side-projects section figure img {
	float: none;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#side-projects figcaption {
	margin-top: 15px;
	display: block;
}
