@charset "utf-8";

/*** PROCESSES & TOOLS ***/

#tools-github, #tools-basecamp, #tools-campfire, #tools-pivotal, #tools-skype {
	background-image: url('images/tools-sprite.png');
}

#tools-github {
	background-position: 0 0;
}

#tools-basecamp {
	background-position: -64px 0;
}

#tools-campfire {
	background-position: -128px 0;
}

#tools-pivotal {
	background-position: -192px 0;
}

#tools-skype {
	background-position: -256px 0;
}


/*** PORTFOLIO - OTHER CLIENTS ***/

#brookes-publishing, #exxonmobil, #newseum, #jpmorgan-chase, #engine-yard, #kennedy-krieger, #johns-hopkins-university, #johns-hopkins-hospital, #johns-hopkins-school, #lancome, #omalley, #ideeli, #brown, #meet-the-famous, #helk, #simplifymd {
	background-image: url('images/portfolio/other-clients-sprite.png');
}

#brookes-publishing {
	background-position: 0 0;
}

#exxonmobil {
	background-position: -100px 0;
}

#newseum {
	background-position: -200px 0;
}

#jpmorgan-chase {
	background-position: -300px 0;
}

#engine-yard {
	background-position: -400px 0;
}

#kennedy-krieger {
	background-position: 0 -64px;
}

#johns-hopkins-university {
	background-position: -100px -64px;
}

#johns-hopkins-hospital {
	background-position: -200px -64px;
}

#johns-hopkins-school {
	background-position: -300px -64px;
}

#lancome {
	background-position: -400px -64px;
}

#omalley {
	background-position: 0 -128px;
}

#ideeli {
	background-position: -100px -128px;
}

#brown {
	background-position: -200px -128px;
}

#meet-the-famous {
	background-position: -300px -128px;
}

#helk {
	background-position: -400px -128px;
}

#simplifymd {
	background-position: 0 -192px;
}


/*** TEAM - SOCIAL MEDIA ICONS ***/

.skype, .email, .twitter, .linked-in, .github, .flickr {
	background-image: url('images/team/social-media-sprite.png');
}

.skype {
	background-position: 0 0;
}

.email {
	background-position: -16px 0;
}

.twitter {
	background-position: -32px 0;
}

.linked-in {
	background-position: -48px 0;
}

.github {
	background-position: -64px 0;
}

.flickr {
	background-position: -80px 0;
}


/*** COOL STUFF ***/

#bohconf, #ignite-railsconf, #meetups, #podcast-studio, #pet-projects, #charity, #shared-office-space, #open-source, #other-events {
	background-image: url('images/cool-stuff/cool-stuff-sprite.jpg');
}

#bohconf {
	background-position: 0 0;
}

#ignite-railsconf {
	background-position: -290px 0;
}

#meetups {
	background-position: -580px 0;
}

#podcast-studio {
	background-position: 0 -120px;
}

#pet-projects {
	background-position: -290px -120px;
}

#charity {
	background-position: -580px -120px;
}

#shared-office-space {
	background-position: 0 -240px;
}

#open-source {
	background-position: -290px -240px;
}

#other-events {
	background-position: -580px -240px;
}
