@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0 auto;
	background-color: #f5f5f5;
	overflow-x: hidden;
}

p, h2, address {
	margin: 14px 0;
	padding: 0;
}

a {	color: #32aaaa; }

a[href="tel:443-451-3001"] {
	text-decoration: inherit;
	color: inherit;
}

img {	border: 0; }

/*** HEADER ***/
header {
	position: fixed;
	width: 100%;
	overflow-x: hidden;
	z-index: 15;
	background: url('images/header-bg.png') repeat-x;
}

header section {
	width: 960px;
	margin: 0 auto;
	display: block;
	top: 0;
	height: 52px;
	z-index: 10;
}

header section img {	margin-top: 7px; }

header section a:last-child {
	float: right;
	padding-top: 10px;
	padding-right: 3em;
	color: #828282;
	font-size: 18pt;
}

/*** NAV LINKS ***/
nav {
	display: block;
	top: 53px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	height: 27px;
	z-index: 11;
	border-top: solid 1px #C8C8C8;
	border-bottom: solid 1px #B4B4B4;
	background: url('images/nav-bg.png') repeat-x;
}

nav:before, nav:after {
	content: "";
	height: 27px;
	position: absolute;
	border-bottom: solid 1px #B4B4B4;
	background: url('images/nav-bg.png') repeat-x;
	top: 0;
	bottom: 0;
	width: 9999px;
}

nav:before {	right: 100%; }

nav:after {	left: 100%; }

nav a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 15px;
	padding: 3px 28px 0 28px;
	color: #636363;
	text-shadow: 0 -1px 0 #eee;
}

nav a:hover {	color: #333; }

/*** ARTICLES ***/
body > article {
	display: none;
	padding-top: 75px;
	position: relative;
	width: 960px;
	margin: 0 auto;
}

body > article h2 {
	color: #5a5a5a;
	text-shadow: 0 -1px 0 #fff;
}

body > article#about {	display: block; }

article nav a {		display: block; }

/*** ABOUT ***/

	#about section {
		float: left;
		width: 278px;
		padding: 0 30px 48px 30px;
		margin-top: 24px;
		display: block;
		border-left: solid 1px #dcdcdc;
		border-right: solid 1px #fff;
		border-bottom: solid 1px #dcdcdc;
	}
	
	#about section:first-of-type {
		padding-left: 0;
		border-left: none;
	}

	#about section:last-of-type {
		border-right: none;
		padding-right: 0;
	}
	
	#about p {
		color: #555;
		font-size: 11pt;
		line-height: 165%;
		margin-bottom: 24px;
	}

	#about section h3 {
		margin: 0 0 24px 0;
		padding: 0;
	}

	#about section p {
		font-size: 10pt;
	}

	#about section a {
		display: block;
		margin-left: -30px;
		height: 25px;
		padding: 5px 0;
		color: #fff;
		text-align: center;
		text-shadow: 0 -1px 0 #0F7C79;
		text-decoration: none;
		background-image: url('images/portfolio-item-bg.png');
		background-repeat: repeat-x;
		box-shadow: 0 3px 1px #CCC;
		-moz-box-shadow: 0 3px 1px #CCC;
		position: relative;
	}

	#about section a:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: -1px;
		width: 20px;
		height: 35px;
		background-image: url('images/ribbon-end.png');
		background-repeat: no-repeat;
	}

	#about aside {
		clear: both;
		display: block;
		border-top: solid 1px #fff;
		padding-top: 24px;
		margin-bottom: 24px;
	}
	
	#about aside h3 {
		font-size: 12pt;
		font-weight: normal;
		display: inline-block;
		height: 64px;
		vertical-align: middle;
		margin-right: 40px;
	}

	#about aside img {
		margin-right: 28px;
	}


/*** PROCESS & TOOLS ***/

	#process-tools h2 {
		float: left;
	}

	#process-tools h3 {
		color: #444;
		clear: left;
	}

	#process-tools p, li {
		color: #555;
		font-size: 11pt;
		line-height: 165%;
		margin-bottom: 24px;
	}

	#process-tools li strong {
		display: block;
		margin-bottom: 4px;
	}

	#process-tools section {
		clear: left;
		border-top: solid 1px #fff;
		border-bottom: solid 1px #dcdcdc;
		width: 670px;
	}

	#process-tools section:first-of-type {
		border-top: 0;
	}

	#process-tools section:last-of-type {
		border-bottom: 0;
	}

	#process-tools aside {
		float: right;
		margin-bottom: 24px;
	}

	#process-tools aside h3 {
		margin-left: 16px;
	}

	#process-tools aside figure {
		background-color: #fff;
		border: solid 1px #dcdcdc;
		border-radius: 6px;
		-moz-border-radius: 6px;
		padding: 8px;
		margin: 16px 0 0 16px;;
		display: block;
		width: 200px;
	}

	#process-tools aside figure img {
		float: left;
		margin-right: 8px;
	}

	#process-tools aside figure figcaption {
		font-size: 8pt;
		color: #7a7a7a;
		line-height: 165%;
		margin-left: 72px;
		display: block;
	}

	#process-tools aside figure figcaption a {
		font-weight: bold;
	}

/*** TEAM ***/

	#team figure {
		position: relative;
		padding: 8px;
		margin: 0 12px 12px 0;
		display: block;
		float: left;
		background-color: white;
		box-shadow: 0 2px 1px #CCC;
		-moz-box-shadow: 0 2px 1px #CCC;
		border: solid 1px #DCDCDC;
		border-radius: 6px;
		-moz-border-radius: 6px;
	}

	#team figure h3 {
		margin: 0 0 6px 0;
		padding: 0;
	}

	#team figure:first-of-type > h3 {
		float: left;
		margin: 0;
		padding: 8px;
	}

	#team figure:first-of-type > p {
		clear: left;
		color: #7a7a7a;
		font-size: 10pt;
		line-height: 165%;
		margin: 0;
		padding: 0 8px 8px 8px;
	}

	#team figure:first-of-type > img {
		float: right;
		margin-left: 28px;	
	}

        #team figure > img {
		color: #777;
		font-size: 11pt;
		float: right;
	}

	#team figure footer {
		width: 210px;
		height: 24px;
		color: #fff;
		background-color: rgba(0, 0, 0, .6);
		position: absolute;
		bottom: 8px;
		left: 8px;
		text-align: center;
		display: none;
	}

	#team figure:first-of-type footer {
		width: 450px;
		left: 488px;
	}

	#team figure:hover footer {
		display: block;
	}

	#team footer img {
		width: 16px;
		height: 16px;
		margin: 4px 2px;
	}

	#team figure h3 {
		color: #7a7a7a;
		text-align: center;
		font-size: 11pt;
	}

/*** PORTFOLIO ***/

	#portfolio article {
		height: 260px;
		display: block;
		color: #777;
		font-size: 11pt;
		line-height: 165%;
		background-color: white;
		border: solid 1px #DCDCDC;
		border-radius: 6px;
		-moz-border-radius: 6px;
		padding: 8px;
		margin-bottom: 20px;
		position: relative;
		box-shadow: 0 2px 1px #CCC;
		-moz-box-shadow: 0 2px 1px #CCC;
	}

	#portfolio article:last-child {
		height: inherit;
		background-color: inherit;
		border: 0;
		padding: 0;
		-moz-box-shadow: 0 0 0px #FFF;
		box-shadow: 0 0 0px #FFF;
	}

	#portfolio > article > a img {
		float: left;
		height: 260px;
		width: 420px;
		margin-right: 26px;
	}

	#portfolio article h2 {
		color: #5a5a5a;
		font-size: 20pt;
		padding: 4px 20px;
	}

	#portfolio article p {
		color: #7a7a7a;
		padding: 6px 20px;
		font-size: 10pt;
	}

	#portfolio article:last-child img {
		width: 100px;
		height: 64px;
		margin: 8px 28px;
		float: none;
	}

	#portfolio aside {
		background: url('images/portfolio-item-bg.png') repeat-x;
		font-size: inherit;
		padding: 5px 0 5px 11px;
		position: absolute;
		bottom: 18px;
		right: 0;
		width: 519px;
		border: 0;
		height: 25px;
		margin-bottom: 0;
		box-shadow: 0 5px 1px #CCC;
		-moz-box-shadow: 0 px 1px #CCC;
	}

	#portfolio aside a {
		color: white;
		text-shadow: 0 -1px 0 #0F7C79;
		text-decoration: none;
	}

	#portfolio aside a:last-child {
		float: right;
		margin-right: 12px;
	}

	#portfolio aside a:last-child:after {
		content: url('images/portfolio-item-bg-wrap-around.png');
		position: absolute;
		display: block;
		right: -24px;
		top: -9px;
	}

/*** CONTACT ***/

	#contact p {
		color: #555;
		font-size: 11pt;
		line-height: 165%;
	}

	#contact >  p:first-of-type {
		border-bottom: solid 1px #dcdcdc;
		padding: 0 0 24px 0;
		margin: 0;
	}

	#contact form input, #contact form textarea {
		border: solid 1px #dcdcdc;
		display: block;
		padding: 8px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		color: #777;
		margin: 0;
		margin-bottom: 12px;
	}

	#contact form input {
		margin-right: 12px;
		font-size: 18px;
		float: left;
		clear: left;
		width: 360px;
	}

	#contact form textarea {
		float: none;
		clear: right;
		font-size: 10pt;
		height: 123px;
		width: 552px;
	}

	#contact form input[type="text"]:focus, #contact form textarea:focus {
		color: #000;
	}

	#contact form input[type="submit"] {
		float: none;
		clear: both;
		background-color: #32aaaa;
		color: #fff;
		border: none;
		width: 120px;
		margin: 12px auto;
	}

	#contact iframe {
		width: 0;
		height: 0;
		border: 0;
	}

	#contact img {
		background-color: #fff;
		border: solid 1px #dcdcdc;
		border-radius: 6px;
		-moz-border-radius: 6px;
		padding: 8px;
		box-shadow: 0 2px 1px #CCC;
		-moz-box-shadow: 0 2px 1px #CCC;
		margin-right: 14px;
	}

	#contact img:last-child {
		margin: 0;
	}

	#contact section {
		border-top: solid 1px #fff;
		border-bottom: solid 1px #dcdcdc;
		padding-bottom: 24px;
	}

	#contact h3 {
		color: #555;
	}

	#contact > figure {
		display: block;
		margin: 0;
		border-top: solid 1px #fff;
		padding: 24px 0;
	}

	#contact > figure img {
		margin: 0 0 0 36px;
		float: right;
	}

	#contact > figure p {
		margin-bottom: 36px;
	}

	#contact > figure p strong {
		display: block;
		margin-bottom: 4px;
	}

	#contact > figure:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}

/*** COOL STUFF ***/

	#community article {
		width: 290px;
		float: left;
		height: 300px;
       		margin-right: 20px;
		margin-bottom: 20px;
		background-color: white;
		border-radius: 6px;
		-moz-border-radius: 6px;
		border: solid 1px #dcdcdc;
		box-shadow: 0 2px 1px #CCC;
		-moz-box-shadow: 0 2px 1px #CCC;
	}

	#community img {
		box-shadow: 0 2px 1px #CCC;
		-moz-box-shadow: 0 2px 1px #CCC;
		border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
	}

	#community h3 {
		color: #5a5a5a;
		padding: 0 12px;
	}
	
	#community p {
		color: #7a7a7a;
		font-size: 10pt;
		padding: 0 12px;
	}

/*** FOOTER ***/
body > footer {
	display: block;
	clear: both;
	width: 100%;
	color: #0A7878;
	background-color: #6AC8C8;
	border-top: solid 2px #32aaaa;
	padding: 4px 0;
	margin-top: 18px;
	font-size: 75%;
	line-height: 150%;
	height: 60px;
}

body > footer > div {
	display: block;
	width: 960px;
	margin: 0 auto;
	clear: both;
}

body > footer p, body > footer address {
	float: left;
	margin-right: 150px;
	font-style: normal;
}

body > footer a {
	color: #dff3f3;
	text-decoration: none;
	display: block;
}

body > footer a:hover {
	color: #fff;
	text-decoration: underline;
}

/********* LIGHTBOX WANNABE ********/
body.myboxislit {
	overflow-y: hidden;
}

.lightmybox {
	content: "";
	width: 100%;
	height: 9999px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	background-color: black;
	z-index: 5;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}

#portfolio section {
	display: none;
}

#portfolio section figure {
	font-size: 10pt;
	display: none;
	position: fixed;
	top: 116px;
	left: 25%;
	width: 600px;
	padding: 12px;
	border: 1px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 24px #000;
	-moz-box-shadow: 0 0 24px #000;
	background-color: white;
	z-index: 6;
	margin: 0;
}

#portfolio section figure a {
	width: 67px;
	height: 67px;
	position: absolute;
	background: url('images/lightbox-arrows.png');
	top: 180px;
}

#portfolio section figure a.lightbox-left-arrow {
	background-position: 0 0;
	left: -37px;
}

#portfolio section figure a.lightbox-left-arrow:hover {
	background-position: 0 -67px;
}

#portfolio section figure a.lightbox-left-arrow:active {
	background-position: 0 -134px;
}

#portfolio section figure a.lightbox-right-arrow {
	background-position: -67px 0;
	right: -37px;
}

#portfolio section figure a.lightbox-right-arrow:hover {
	background-position: -67px -67px;
}

#portfolio section figure a.lightbox-right-arrow:active {
	background-position: -67px -134px;
}

#portfolio section figure img {
	float: none;
	display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

#portfolio figcaption {
	margin-top: 15px;
	display: block;
}


/*************** FIREFOX ***************/
@-moz-document url-prefix() {

/*** Team ***/

	#team figure:first-of-type footer {
		top: 154px;
	}

/*** Contact ***/

	#contact img {
		margin-right: 13px;
	}

	#contact section {
		display: block;
	}

/*** Footer ***/

	body > footer {
		display: block;
	}

}

