---
layout: default
title: Software Developers, Our Team | SmartLogic
metadescription: Our talented team of software developers creates web and mobile apps with Ruby on Rails, iOS, Android, and more.
---
<article id="team">
  <h2>Team</h2>
  <figure>
    <h3>Yair Flicker, President</h3>
    <img src="/images/team/yair_wide.png" alt="Yair Flicker in Petra" title="Yair Flicker in Petra" width="450" height="170">
    <p>Yair is a programmer-turned-entrepreneur who moved from Ohio to Maryland to study computer science at Johns Hopkins University. He coordinates events like <a href="http://bohconf.com/">BohConf</a> and <a href="http://igniterailsconf.com/">Ignite RailsConf</a>. In his free time, he likes biking, running, squash, piano, aviation and sailing. He's an avid traveler and has gone all over the world - including China, North Korea, Spain, Morocco, Bermuda and Brazil in the past year.</p>
    <footer>
      <a href="skype:yflicker"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
      <a href="mailto:yair@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
      <a href="http://twitter.com/yflicker"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
      <a href="http://www.linkedin.com/in/yflicker"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
      <a href="http://github.com/yflicker"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
      <a href="http://flickr.com/photos/yflicker/sets"><img class="flickr" src="/images/sprite-blank.gif" alt="Flickr" title="Flickr" width="16" height="16"></a>
    </footer>
  </figure>
  {% include team/ryan.html %}
  {% include team/kei.html %}
  {% include team/sam.html %}
  {% include team/ara.html %}
  {% include team/dan.html %}
  {% include team/carlos.html %}
  {% include team/matt.html %}
  {% include team/eric.html %}
  {% include team/brian.html %}
  {% include team/jason.html %}
</article>
