---
title: Case Studies
description: "Whether you're starting a company or you're a global brand launching an iPhone app, our team can help
  you out. We’ve worked with over a hundred clients; here are a few examples of projects we’ve delivered
  in the recent past."
redirect_from:
  - /experience
permalink: /case-studies
---

<main class="main" role="main">
  <section class="section hero hero__case">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>
              We've built 150+ applications since 2005.</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>Whether you're starting a company or you're a global brand launching an iPhone app, our team can help
            you out. We’ve worked with over a hundred clients; here are a few examples of projects we’ve delivered
            in the recent past.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/case-studies/orderup/order-up-two-up.png" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>
  <section class="section casestudies">
    <div class="container">
      <div class="casestudies__col">
        {% for casestudy in site.data.featured_case_studies %}
          <article class="casestudies__article">
            <div class="casestudies__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies__article-text">
              <div class="casestudies__article-text-head">
                <div class="head-text">
                  <a href="{{ casestudy.link }}">
                    <h3>{{ casestudy.headline }}</h3>
                  </a>
                </div>
              </div>
              <div class="casestudies__article-text-desc">
                <p>{{ casestudy.description }}</p>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section quote">
    <div class="container">
      <div class="quote__left">
        <div class="quote__left-img"><img src="/images/logo/urban-teacher-center.png" alt="Urban Teacher Center Logo" /></div>
      </div>
      <div class="quote__right">
        <div class="quote__right-text">
          <p>It's been a great joy to work with SmartLogic. I definitely would recommend to SmartLogic to other
            people who are looking to build some sort of custom web app.</p>
        </div>
        <div class="quote__right-author">
          <p>— Alex Mathews, Techincal Services Specialist, Urban Teacher Center</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section casestudies-horizontal">
    <div class="container">
      <div class="casestudies-horizontal__article-wrap">
        {% for casestudy in site.data.case_studies %}
          <article class="casestudies-horizontal__article">
            <div class="casestudies-horizontal__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies-horizontal__article-text">
              <p>
                {{ casestudy.before_link }}
                <a href="{{ casestudy.link }}">{{ casestudy.link_text }}</a>
                {{ casestudy.after_link }}
              </p>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="section casestudies-clients">
    <div class="container">
      <div class="casestudies-clients__text-wrap">
        <div class="casestudies-clients__text-head">
          <div class="head-text">
            <h2>We love our clients.</h2>
          </div>
        </div>
        <div class="casestudies-clients__text-desc">
          <p>Our clients love us too; many of them come back to us over and over again to develop new features and
            new projects. Some of our relationships go back as far as eight years, to a time when we built an
            iPhone app before the App Store existed.</p>
        </div>
      </div>
      <div class="casestudies-clients__logo-wrap">
        <ul class="casestudies-clients__logo-list">
          {% for client in site.data.clients %}
            <li class="casestudies-clients__logo-item">
              <div class="casestudies-clients__logo-item-img">
                <img src="/images/logo/logos-featured-clients/{{ client.logo }}" alt="{{ client.name }} Logo"></div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
</main>

<footer class="footer footer__case">
  <div class="footer__big">
    <div class="container">
      <div class="footer__big-left">
        <div class="footer__big-left-text-head">
          <div class="head-text">
            <h2>We choose the best tools for the job.</h2>
          </div>
        </div>
        <div class="footer__big-left-text-dec">
          <p>Our team is technology-agnostic, and is always learning and building best practices as the web and its
            underlying thechnologies continue to evlolve.</p>
        </div>
        <div class="footer__big-left-link"><a class="btn" href="/technologies">Learn more</a>
        </div>
      </div>
      <div class="footer__big-right">
        <div class="footer__big-right-quote">
          <p>You're setting yourself up for failure if you don't align with somebody who can help you keep up with
            technology, or even stay a step ahead of it. For me, that's absolutely SmartLogic.</p>
        </div>
        <div class="footer__big-right-client">
          <p>Mike McDaniel, CEO, Baltimore</p>
          <p>Water Taxi</p>
        </div>
      </div>
    </div>
  </div>
  {% include footer-common.html %}
</footer>
