---
title: Podcast | Elixir Wizards
description: Conversations on modern best practices in web and mobile development.
---

<!-- <main class="main" role="main"> -->
  <section class="section hero hero__case">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>
              Elixir Wizards Podcast</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>Conversations with software developers from around the world on the Elixir language and other modern web technologies.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/contents/podcast-cover.png" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>

  <!-- about the podcast -->
  <div class="content-page-wrapper">
    <section class="section content-block">
      <div class="container">
        <!-- make this italic // look up what the proper way to make text emphasized is -->
        <p> Listen to our latest episode:</p>
        <!-- embed latest episode? -->
        <iframe style="margin-bottom:20px" src="https://fireside.fm/player/v2/IAs5ixts+8xhggMcK?theme=dark" width="100%" height="200" frameborder="0" scrolling="no"></iframe>
        <p>Elixir Wizards is an interview-format podcast, focused on engineers who use the Elixir programming language.
        More words go here Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>
  </div>

  <section class="section casestudies-horizontal">
    <div class="container">
      <div class="casestudies-horizontal__article-wrap">
        {% for casestudy in site.data.case_studies %}
          <article class="casestudies-horizontal__article">
            <div class="casestudies-horizontal__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies-horizontal__article-text">
              <p>
                {{ casestudy.before_link }}
                <a href="{{ casestudy.link }}">{{ casestudy.link_text }}</a>
                {{ casestudy.after_link }}
              </p>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
<!-- </main> -->

<footer class="footer footer__case">
  <div class="footer__big">
    <div class="container">
      <div class="footer__big-left">
        <div class="footer__big-left-text-head">
          <div class="head-text">
            <h2>We choose the best tools for the job.</h2>
          </div>
        </div>
        <div class="footer__big-left-text-dec">
          <p>Our team is technology-agnostic, and is always learning and building best practices as the web and its
            underlying thechnologies continue to evlolve.</p>
        </div>
        <div class="footer__big-left-link"><a class="btn" href="/technologies">Learn more</a>
        </div>
      </div>
      <div class="footer__big-right">
        <div class="footer__big-right-quote">
          <p>You're setting yourself up for failure if you don't align with somebody who can help you keep up with
            technology, or even stay a step ahead of it. For me, that's absolutely SmartLogic.</p>
        </div>
        <div class="footer__big-right-client">
          <p>Mike McDaniel, CEO, Baltimore</p>
          <p>Water Taxi</p>
        </div>
      </div>
    </div>
  </div>
  {% include footer-common.html %}
</footer>
