---
layout: default
title: "Elixir Wizards Podcast Season Ten: The Next Ten Years of Elixir"
description: In Season 10 of the Elixir Wizards podcast, we delve into "The Next Ten Years of Elixir," exploring the future of DevOps, cyber security, cloud infrastructure, and machine learning. This season is a comprehensive exploration of the opportunities and challenges Elixir faces in the coming decade.
breadcrumb: Season Ten
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Ten: The Next Ten Years of Elixir</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>
            In Season 10 of the Elixir Wizards podcast, we delve into "The Next Ten Years of
            Elixir," exploring the future of DevOps, cyber security, cloud infrastructure,
            and machine learning. This season is a comprehensive exploration of the
            opportunities and challenges Elixir faces in the coming decade.
          </p>

          <p>
            Conversations with industry experts, including Elixir creator José Valim,
            highlight the community's commitment to education, the evolution of Phoenix and
            BEAM, and the advent of types in Elixir. We also discuss the role of tools like
            liveBook and HTTP/3 in the ecosystem's growth.
          </p>

          <p>Season Ten began airing in March 2023.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-s10.png" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s10">
      <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=i95alPX8uY01YXrw&amp;list=PLTDLmInI9YaC3ahMuDiPMDG3_kcwAksYz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      {% include old-season-episodes.html season='Season 10' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
