---
layout: default
title: "Elixir Wizards Podcast Season Two: Elixir Internals"
description: In our second season, released from July-September of 2019, we focused on Elixir Internals; we talked with developers behind some of the most popular Elixir libraries, including Witchcraft, ElixirScript, Distillery, Ecto, and more!
breadcrumb: Season Two
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Two: Elixir Internals</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>In our second season, released from July-September of 2019, we focused on Elixir Internals; we talked with developers behind some of the most popular Elixir libraries, including Witchcraft, ElixirScript, Distillery, Ecto, and more!</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s2">
      <div class="podcast-audio-container">
        <iframe src="https://player.fireside.fm/v2/IAs5ixts+BeykEzKP?theme=dark" width=960 height="200" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=OMUnjgKzmpYtO1Rc&amp;list=PLTDLmInI9YaCclg83fLcWa-mgZ2H88aAO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <blockquote cite="/podcast/elixir-wizards/season-two-zelenka/">
        Contributing back to libraries both forces you to read how other people are writing code and collaborate with other people.</blockquote> <cite>— Brooklyn Zelenka in <a href="/podcast/elixir-wizards/season-two-zelenka/">S2E1 Elixir Internals on Witchcraft</a></cite>
      {% include old-season-episodes.html season='Season 2' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
