---
layout: default
title: "Elixir Wizards Podcast Season Four: Application and System Architecture"
description: In season four our theme was Application and System Architecture; we talked with guests about how they think about design vs architecture, domain driven design, umbrella apps, and more.
breadcrumb: Season Four
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Four: Application and System Architecture</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>In season four our theme was Application and System Architecture; we talked with guests about how they think about design vs architecture, domain driven design, umbrella apps, and more.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s4">
      <iframe src="https://player.fireside.fm/v2/IAs5ixts+_-HB_kh-?theme=dark" width="960" height="200" frameborder="0" scrolling="no"></iframe>
      <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=b4nYiuX_zaEQy-kR&amp;list=PLTDLmInI9YaAJHCDPbqZVGBg2FthJQChK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <blockquote cite="/podcast/elixir-wizards/s4e14-windholtz/">
        The really important thing that architecture should do is carve out a safe space so you can build your essential complexity. And that safe space is where I want to work in.</blockquote> <cite>— Mark Windholtz in <a href="/podcast/elixir-wizards/s4e14-windholtz/">S4E14 on Domain-Driven Design</a></cite>
      {% include old-season-episodes.html season='Season 4' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
