---
layout: default
title: "Elixir Wizards Podcast Season 14: Enter the Elixirverse!"
description: In Season 14, the Elixir Wizards Enter the Elixirverse to explore how Elixir interoperates with other programming languages, libraries, and tools. Hosts Sundi, Dan, and Charles chat with Elixirists creating and utilizing tools that bridge Elixir with Rust, Python, Zig, and beyond.
breadcrumb: Season 14
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <div class="podcast-title-section">
    <div class="podcast-title">Elixir Wizards</div>
  </div>
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Season 14: Enter the Elixirverse!</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>In Season 14, the Elixir Wizards Enter the Elixirverse to explore how Elixir interoperates with other programming languages, libraries, and tools. Hosts Sundi, Dan, and Charles chat with Elixirists creating and utilizing tools that bridge Elixir with Rust, Python, Zig, and beyond.</p>
          <p>
            Season Fourteen began airing in May 2025.
          </p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/ElixirWizards-AllHostS14.png" alt="An image of avatars for the hosts of the podcast" />
      </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s14">
      <h3>Watch The Season on YouTube!</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=brYYnn_-jh8-wJfz&amp;list=PLTDLmInI9YaDLibZpATyyjMyoc8NWKhHk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      {% include season-episodes.html season='Season 14' %}
      <br/><br/>
      <h3>Audio Only YouTube Playlist</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=7OixdiF1qdxLNTlu&amp;list=PLTDLmInI9YaC5gA_QnWWMXqdkQLwGAl5Z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
