---
layout: default
title: "Elixir Wizards Podcast Season 12: Office Hours"
description: 
breadcrumb: Season 12
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season 12: Office Hours</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>The Elixir Wizards Podcast is back with a special edition mini-season—Season 12, “Office Hours.” Spanning six episodes, we invite you to join hosts Sundi Myint, Owen Bickford, and Dan Ivovich, along with the SmartLogic team, for candid internal conversations to delve deep into the stages of the software development lifecycle.</p>
          <p>In “Office Hours,” you can peek behind the scenes into SmartLogic's inner workings and engage with us as we discuss tools, tackle challenges, strategize to solve problems, and share the triumphs (and traumas) that shape our approach to projects and keep us on the right track.</p>
          <p>Whether you’re a seasoned developer, an aspiring software engineer, a project manager interested in Agile methodologies—or just curious about the inner workings of a custom software development shop— tune in to join the conversation.</p>
          <p>We’re trying something new! You can continue to enjoy Elixir Wizards on your favorite streaming platforms, and you now have the option to tune in to the Elixir Wizards video podcast on <a href="https://www.youtube.com/@SmartLogic-io">YouTube</a></p>
          <p>
            Season 12 began airing in March 2024.
          </p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-s11.png" alt="Hero Image" />
        </div>
      </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s12">
      <h3>Watch The Season on YouTube!</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=36mpZQNr2Qh1DWqI&amp;list=PLTDLmInI9YaDmSMm9BqdsZUsexB4CwWsZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      {% include season-episodes.html season='Season 12' %}
      <br/><br/>
      <h3>Audio Only YouTube Playlist</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=svLsfPx6roJ0VZL7&amp;list=PLTDLmInI9YaDEZXUcw-NXbLza8bH8BnM0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
