---
layout: default
title: "Elixir Wizards Podcast Season 13: The Creators' Lab"
description: In Season 13, the Elixir Wizards venture into the 'Creators’ Lab' to speak with innovators expanding the boundaries of what’s possible with the Elixir Programming Language. Hosts Sundi, Owen, Dan, and Charles interview the creators of various projects that inspire and challenge the status quo.
breadcrumb: Season 13
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season 13: The Creators' Lab</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>In Season 13, the Elixir Wizards venture into the “Creators’ Lab” to speak with innovators expanding the boundaries of what’s possible with the Elixir Programming Language. Hosts Sundi, Owen, Dan, and Charles interview the creators of various projects that inspire and challenge the status quo.</p> 
          <p>This season dives into how these groundbreaking projects are transforming industries—from IoT and machine learning to large-scale web applications—while offering listeners a glimpse into the future of Elixir's role in shaping technology.</p>
          <p>Tune in to explore the magic happening at the intersection of creativity, engineering, and Elixir.</p>
          <p>
            Season 13 began airing in October 2024.
          </p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/ElixirWizards-AllHostS13.png" alt="Hero Image" />
        </div>
      </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s13">
      <!---
      <h3>Watch The Season on YouTube!</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=sNAQArc1df9pBdY4&amp;list=PLTDLmInI9YaCsuwYteNR6V82Tdxq1AHVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      --->
      {% include season-episodes.html season='Season 13' %}
      <br/><br/>
      <!---
      <h3>Audio Only YouTube Playlist</h3>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=q0xpsFVH0XNnA11p&amp;list=PLTDLmInI9YaBAODGFqwuRBXoF6Ozj_rV_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      --->
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
