---
layout: default
title: "Elixir Wizards Podcast Season Three: Working with Elixir"
description: "In season three our theme was Working with Elixir, encompassing Functional Programming, Hiring/Training, and Performance. The season ran from November 2019 to April 2020."
breadcrumb: Season Three
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Three: Working with Elixir</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>In season three our theme was Working with Elixir, encompassing Functional Programming, Hiring/Training, and Performance. The season ran from November 2019 to April 2020.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s3">
      <iframe src="https://player.fireside.fm/v2/IAs5ixts+5_ewBeuK?theme=dark" width="960" height="200" frameborder="0" scrolling="no"></iframe>
      <blockquote cite="/podcast/elixir-wizards/s3e10-debenedetto-dakin/">
        Challenging them, pushing them and still giving them enough information to figure something out and to get that win and to fix that bug or solve that problem or get to that next level of understanding – I think that’s how you can really teach someone to fall in love with coding.</blockquote> <cite>— Sophie DeBenedetto in <a href="/podcast/elixir-wizards/s3e10-debenedetto-dakin/">S3E10 on Training and Building Elixir Projects Under Constraints</a></cite>
      {% include season-episodes.html season='Season 3' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
