---
layout: default
title: "Elixir Wizards Podcast Season Nine: Parsing the Particulars"
description: The theme for Elixir Wizards Season 9 is Parsing the Particulars. Hosts Sundi, Owen, Dan, and Bilal take a deep dive into the intricacies of Elixir development. The Wizards explore critical aspects of the Elixir programming language, including observability, GenServers, geomapping, Phoenix LiveView, Oban, Tailwind, and Nerves.
breadcrumb: Season Nine
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Nine: Parsing the Particulars</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>
            The theme for Elixir Wizards Season 9 is "Parsing the Particulars." Hosts Sundi,
            Owen, Dan, and Bilal take a deep dive into the intricacies of Elixir
            development. The Wizards explore critical aspects of the Elixir programming
            language, including: observability, GenServers, geomapping, Phoenix LiveView,
            Oban, Tailwind, and Nerves.
          </p>
          <p>Season Nine began airing in September 2022.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-s8.jpg" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s9">
      <div class="podcast-audio-container">
        <iframe src="https://player.fireside.fm/v2/IAs5ixts+kKtocYfA?theme=dark" width="960" height="200" frameborder="0" scrolling="no" ></iframe>
      </div>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=kJoC92Hy7o-G6StS&amp;list=PLTDLmInI9YaClcsqFbIk28NvTGwoElOQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <blockquote cite="/podcast/elixir-wizards/s9-e11-chris-miller-programming-language/">
        Inherently, language is about communicating ideas and communicating ideas is
        like abstraction essentially, right? When you think about what a programming
        language is, it's a general abstraction over computation
      </blockquote>

      <cite>
        - Chris Miller in <a href="/podcast/elixir-wizards/s9-e11-chris-miller-programming-language/">S09E12 Crafting a Programming Language</a>
      </cite>
      {% include old-season-episodes.html season='Season 9' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
