---
layout: default
title: "Elixir Wizards Podcast Season Seven: The Impact of Elixir"
description: Our theme in Season Seven was The Impact of Elixir — examining the history of Elixir programming, and the change that it has had on programming in different areas of the software development industry. We spoke with our guests about the impact of Elixir on their careers and in their organizations, as well as broader cultural and technological contexts.
breadcrumb: Season Seven
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Elixir Wizards Podcast</h1>
            <h2>Season Seven: The Impact of Elixir</h2>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>Our theme in Season Seven was The Impact of Elixir — examining the history of Elixir programming, and the change that it has had on programming in different areas of the software development industry. We spoke with our guests about the impact of Elixir on their careers and in their organizations, as well as broader cultural and technological contexts.</p>
          <p>Season Seven aired from November 2021 through February 2022.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="Hero Image" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s7">
      <iframe src="https://player.fireside.fm/v2/IAs5ixts+sH54rwhi?theme=dark" width="960" height="200" frameborder="0" scrolling="no"></iframe>
      <blockquote cite="/podcast/elixir-wizards/s7e2-jose/">
        The part that was fascinating to me when I got into Cars.com was to realize what the business actually is: it’s a huge ETL pipeline of different data points.</blockquote> <cite>— Angel Jose in <a href="/podcast/elixir-wizards/s7e2-jose/"> S7E2 on Re-Platforming One of the Original Dot Coms</a></cite>

      {% include season-episodes.html season='Season 7' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
