---
layout: default
title: "Elixir Wizards Podcast Season Six: BEAM Magic"
description: The theme of Season Six was BEAM Magic — taking a look at what gets handled under the hood with Elixir, other languages that run on the BEAM, and talking about how much magic is the right amount — there are a lot of strongly held opinions on this, that are reflected in how much “magic” is included in different programming languages.
breadcrumb: Season Six
include_rss: true
---
<main class="main main-home" role="main">
  <!-- hero -->
  <div class="podcast-title-section">
    <div class="podcast-title">Elixir Wizards</div>
  </div>
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Season Six: BEAM Magic</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>The theme of Season Six was BEAM Magic — taking a look at what gets handled under the hood with Elixir, other languages that run on the BEAM, and talking about how much magic is the right amount — there are a lot of strongly held opinions on this, that are reflected in how much “magic” is included in different programming languages.</p>
          <p>What is hidden by programming languages? How do developers find varying levels of hidden functionality to be alternately useful or problematic — or maybe both!</p>
          <p>Season Six aired from May to August of 2021.</p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="An image of avatars for the hosts of the podcast" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s6">
      <div class="podcast-audio-container">
        <iframe src="https://player.fireside.fm/v2/IAs5ixts+W5dAvToG?theme=dark" width="960" height="200" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=IU4DagKKQUoP39VM&amp;list=PLTDLmInI9YaCb9O1AEbAUkqD-cropZNNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <blockquote cite="/podcast/elixir-wizards/s6e1-virding/">
        We wanted to build fault tolerant systems, and things are going to go wrong. They always do. You need to just accept the fact things are going to go wrong. How can you build systems that can handle errors?</blockquote> <cite>— Robert Virding in <a href="/podcast/elixir-wizards/s6e1-virding/">S6E1 on The Roots of Erlang</a></cite>
      {% include old-season-episodes.html season='Season 6' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
