---
layout: default
title: "Elixir Wizards Podcast Season One: Elixir in Production"
description: Our first season, released from February-April of 2019, focused on Elixir in production and featured conversations with engineers who have live production apps built with Elixir. We talked about why Elixir, implementation details, libraries, patterns, and tips for real-world applications.
breadcrumb: Season One
include_rss: true
---
<main class="main main-home" role="main">
  <div class="podcast-title-section">
    <div class="podcast-title">Elixir Wizards</div>
  </div>
  <!-- hero -->
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Season One: Elixir in Production</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <p>Our first season focused on Elixir in production and featured conversations with engineers who have live production apps built with Elixir. We talked about why Elixir, implementation details, libraries, patterns, and tips for real-world applications.</p>
          <p>
            Season One aired from February to April of 2019.
          </p>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/podcast/podcast-header-old.png" alt="An image of avatars for the hosts of the podcast" />
      </div>
    </div>
  </section>
  <!-- main body content -->
  <div class="content-page-wrapper">
    <section class="section content-block podcast" id="s1">
      <div class="podcast-audio-container">
        <iframe src="https://player.fireside.fm/v2/IAs5ixts+zDmDU2aS?theme=dark" width="960" height="200" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="podcast-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?si=t_xrad4vOepPuh-z&amp;list=PLTDLmInI9YaADEbPZegOitsoWANHFOYjB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      {% include old-season-episodes.html season='Season 1' %}
    </section>

    <section>
      <div>
        <br/>
        {% include mailchimp.html %}
        <br/>
      </div>
    </section>
  </div>
</main>
<footer class="footer">
  {% include footer-common.html %}
</footer>
