<section class="section at-a-glance landing-page">
  <h2 class="at-a-glance__title">SmartLogic At-A-Glance</h2>
  <div class="at-a-glance__stats">
    <div class="stat">
      <h3 class="stat__title">YEARS IN BUSINESS</h3>
      <p class="stat__value">20+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">PROJECTS</h3>
      <p class="stat__value">200+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">RESOURCE BENCH</h3>
      <p class="stat__value">25+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">LOCATION</h3>
      <p class="stat__value">USA</p>
    </div>
  </div>
  <h2 class="at-a-glance__subtitle">Engagements Include</h2>
  <div class="at-a-glance__engagements">
    <div class="engagement full-lifecycle" data-title="Full Lifecycle" data-description="From Product Discovery through all stages of User Experience, Implementation, Maintenance and Continued Innovation.">
      <p class="engagement__title">Full Lifecycle</p>
      <div class="engagement__description">From Product Discovery through all stages of User Experience, Implementation, Maintenance and Continued Innovation.</div>
    </div>
    <div class="engagement team-augmentation" data-title="Team Augmentation" data-description="Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.">
      <p class="engagement__title">Team Augmentation</p>
      <div class="engagement__description">Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.</div>
    </div>
    <div class="engagement replatforming" data-title="Replatforming" data-description="Custom solutions for migrating legacy systems to enhance performance, scalability, and security, keeping your business competitive.">
      <p class="engagement__title">Replatforming</p>
      <div class="engagement__description">Custom solutions for migrating legacy systems to enhance performance, scalability, and security, keeping your business competitive.</div>
    </div>
    <div class="engagement rd-mvp" data-title="R&D and MVP" data-description="Support early-stage projects with MVP Scoping, Design, and Strategy to help raise funds, prove concepts, or plan roadmaps.">
      <p class="engagement__title">R&D and MVP</p>
      <div class="engagement__description">Support early-stage projects with MVP Scoping, Design, and Strategy to help raise funds, prove concepts, or plan roadmaps.</div>
    </div>
  </div>
  <div class="at-a-glance__cta">
    <a class="btn" href="#" id="openModal">Get Started</a>
  </div>
</section>
