<section class="section at-a-glance landing-page">
  <h2 class="at-a-glance__title">SmartLogic At-A-Glance</h2>
  <div class="at-a-glance__stats">
    <div class="stat">
      <h3 class="stat__title">YEARS IN BUSINESS</h3>
      <p class="stat__value">20+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">PROJECTS</h3>
      <p class="stat__value">200+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">RESOURCE BENCH</h3>
      <p class="stat__value">25+</p>
    </div>
    <div class="stat">
      <h3 class="stat__title">LOCATION</h3>
      <p class="stat__value">USA</p>
    </div>
  </div>
  <h2 class="at-a-glance__subtitle">Engagements Include</h2>
  <div class="at-a-glance__engagements">
    <div class="engagement full-lifecycle" data-title="Full Lifecycle" data-description="From Product Discovery through all stages of User Experience, Implementation, Maintenance and Continued Innovation.">
      <p class="engagement__title">Full Lifecycle</p>
      <div class="engagement__description">From Product Discovery through all stages of User Experience, Implementation, Maintenance and Continued Innovation.</div>
    </div>
    <div class="engagement team-augmentation" data-title="Team Augmentation" data-description="Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.">
      <p class="engagement__title">Team Augmentation</p>
      <div class="engagement__description">Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.</div>
    </div>
    <div class="engagement replatforming" data-title="Replatforming" data-description="Custom solutions for migrating legacy systems to enhance performance, scalability, and security, keeping your business competitive.">
      <p class="engagement__title">Replatforming</p>
      <div class="engagement__description">Custom solutions for migrating legacy systems to enhance performance, scalability, and security, keeping your business competitive.</div>
    </div>
    <div class="engagement rd-mvp" data-title="R&D and MVP" data-description="Support early-stage projects with MVP Scoping, Design, and Strategy to help raise funds, prove concepts, or plan roadmaps.">
      <p class="engagement__title">R&D and MVP</p>
      <div class="engagement__description">Support early-stage projects with MVP Scoping, Design, and Strategy to help raise funds, prove concepts, or plan roadmaps.</div>
    </div>
  </div>
  <div class="at-a-glance__cta">
    <a class="btn" href="#" id="openModal">Get Started</a>
  </div>
</section>

<!-- At A Glance Modal Structure -->
<div id="modal" class="modal">
  <span class="close">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
    </svg>
  </span>
  <div class="modal-content">
    <iframe
      id="JotFormIFrame-242406661881055"
      title="Get Started"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allow="geolocation; microphone; camera; fullscreen"
      src="https://form.jotform.com/SmartLogic/get-started"
      frameborder="0"
      style="min-width:100%;max-width:100%;height:539px;border:none;"
      scrolling="yes"
    ></iframe>
    <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-242406661881055']", "https://form.jotform.com/")</script>
  </div>
</div>
