<section class="section at-a-glance landing-page">
  <h2 class="at-a-glance__title">SmartLogic At A Glance</h2>
  <div class="at-a-glance__stats">
    <div class="stat">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
        </svg>
      </div>
      <p class="stat__value">20+</p>
      <h3 class="stat__title">YEARS IN BUSINESS</h3>
    </div>
    <div class="stat">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
        </svg>
      </div>
      <p class="stat__value">200+</p>
      <h3 class="stat__title">PROJECTS</h3>
    </div>
    <div class="stat">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
        </svg>
      </div>
      <p class="stat__value">25+</p>
      <h3 class="stat__title">TEAM MEMBERS</h3>
    </div>
    <div class="stat">
      <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="size-6">
          <path strokeLinecap="round" strokeLinejoin="round" d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
          <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z" />
        </svg>
      </div>
      <p class="stat__value">USA</p>
      <h3 class="stat__title">LOCATION</h3>
    </div>
  </div>
  <h2 class="at-a-glance__subtitle">Engagements Include</h2>
  <div class="at-a-glance__engagements">
    <div class="engagement full-lifecycle" data-title="Full Lifecycle" data-description="From Product Discovery through all stages of User Experience, Implementation, Support, Maintenance, and Continued Innovation.">
      <p class="engagement__title">Full Lifecycle</p>
      <div class="engagement__description">From Product Discovery through all stages of User Experience, Implementation, Support, Maintenance, and Continued Innovation.</div>
    </div>
    <div class="engagement team-augmentation" data-title="Team Augmentation" data-description="Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.">
      <p class="engagement__title">Team Augmentation</p>
      <div class="engagement__description">Accelerate your projects with a dedicated Scrum Team, offering Project Management, Software Engineering, Design, Development, and QA Services.</div>
    </div>
    <div class="engagement replatforming" data-title="Replatforming" data-description="Migrate Legacy Systems to modern tech stacks to enhance Performance, Scalability, Security, and keep your business competitive.">
      <p class="engagement__title">Replatforming</p>
      <div class="engagement__description">Migrate Legacy Systems to modern tech stacks to enhance Performance, Scalability, Security, and keep your business competitive.</div>
    </div>
    <div class="engagement rd-mvp" data-title="R&D and MVP" data-description="Support early-stage projects with MVP development to help secure funds, develop Proof of Concepts, or plan Roadmaps.">
      <p class="engagement__title">R&D and MVP</p>
      <div class="engagement__description">Support early-stage projects with MVP development to help secure funds, develop Proof of Concepts, or plan Roadmaps.</div>
    </div>
  </div>
  <div class="at-a-glance__cta">
    <a class="btn" href="#get-started">Get Started</a>
  </div>
</section>
