<div class="modal-side-bar"></div>
<span class="modal-close">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
  </svg>
</span>
<div class="modal-content">
  <div class="modal-case-study-details">
    <div class="modal-sub-container">
      <img class="modal-logo" src="{{ '/images/logo/logos-featured-clients/bchd.png' | relative_url }}" alt="Baltimore City Health Department Logo" />
      <h2>Baltimore City Health Department</h2>
    </div>
    <div class="modal-sub-container">
      <p class="overview">The Baltimore City Health Department (BCHD) is the oldest continuously-operating health department in the United States.</p>

      <p>SmartLogic worked on BCHD's CHARMcare platform, an open-source directory that guides users to free or low-cost resources in Baltimore. SmartLogic conducted user research and implemented a number of search and usability improvements to CHARMcare, including integrating Elasticsearch, rank-weighting results, geographic filtering, improved tagging, and file uploads.</p>
    </div>
    <div class="modal-sub-container">
      <h5>Services</h5>
      <ul>
        <li>Integrated Elasticsearch to support more complex search ranking while improving performance and speed</li>
        <li>Conducted user research to help BCHD define the most impactful improvements</li>
        <li>Built with Ruby on Rails, deployed to Heroku for ease of maintenance</li>        
      </ul>
    </div>
    <div class="button-container">
      <a href="{{ '/case-studies/bchd' | relative_url }}" class="full-button">
          View Full Case Study
      </a>
    </div>
  </div>
  <div class="modal-case-study-details">
    <img src="{{ '/images/case-studies/bchd/charmcare-home-laptop.png' | relative_url }}" alt="CHARMcare home page on a computer screen"/>
  </div>
</div>
