

<div class="case-study-modal">
    <div class="modal-side-bar">
    </div>
    <div class="modal-content">
        <div class="modal-case-study-details">
            <div class="modal-sub-container">
                <img class="modal-logo" src="images/logo/logos-featured-clients/bchd.png" alt="Baltimore City Health Department Logo" />

                <h2>Baltimore City Health Department</h2>
            </div>
            <div class="modal-sub-container">

                <p class="overview">The Baltimore City Health Department (BCHD) is the oldest continuously-operating health department in the United States.</p>

                <p>SmartLogic worked on BCHD's CHARMcare platform, an open-source directory that guides users to free or low-cost resources in Baltimore. SmartLogic conducted user research and implemented a number of search and usability improvements to CHARMcare, including integrating Elasticsearch, rank-weighting results, geographic filtering, improved tagging, and file uploads.</p>
            </div>
            <div class="modal-sub-container">
                <h5>Services</h5>

                <ul>
                    <li>iPad Flutter restaurant app</li>
                    <li>Twilio integration allows recipients to order via phone or text in English and Spanish</li>
                    <li>Program admins now have tooling and dashboards to manage the program</li>
                    <li>Active in 7 cities and with plans to expand</li>
                </ul>
            </div>
            <div class="button-container">
                <a href="/case-studies/bchd.html">
                    View Full Case Study
                </a>
            </div>
        </div>
        <div class="modal-case-study-details">
            <img src="images/case-studies/bchd/charmcare-home-laptop.png" alt="CHARMcare home page on a computer screen"/>
        </div>
        <span class="modal-close">&times;</span>
    </div>
</div>

<script src="/javascript/modal.js" defer></script>