<section class="section case-studies landing-page">
  <div class="case-studies__container">
    <div class="case-studies__samples">
      <div id="world-central-kitchen" class="samples world-central-kitchen" data-modal="wck-modal" data-description="SmartLogic built a scalable platform for World Central Kitchen's text-to-order food relief program">
        <div class="title-background"></div>
        <p class="samples__title">World Central Kitchen</p>
        <div class="samples__description">SmartLogic built a scalable platform for World Central Kitchen's text-to-order food relief program</div>
        <svg class="arrow-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
      </div>
      
      <div id="challenge-gov" class="samples challenge" data-modal="challenge-modal" data-description="SmartLogic built a new self-service portal for the Challenge.Gov program">
        <div class="title-background"></div>
        <p class="samples__title">Challenge.Gov</p>
        <div class="samples__description">SmartLogic built a new self-service portal for the Challenge.Gov program</div>
        <svg class="arrow-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
      </div>
      
      <div id="charmcare" class="samples charmcare" data-modal="bchd-modal" data-description="SmartLogic improved search and usability for Baltimore City Health Department's CHARMcare">
        <div class="title-background"></div>
        <p class="samples__title">CHARMcare</p>
        <div class="samples__description">SmartLogic improved search and usability for Baltimore City Health Department's CHARMcare</div>
        <svg class="arrow-icon w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
      </div>
    </div>
  </div>
</section>

<!-- Case Study Modals -->
<div id="wck-modal" class="case-study-modal">
  {% include wck_modal.html %}
</div>
<div id="challenge-modal" class="case-study-modal">
  {% include challenge_modal.html %}
</div>
<div id="bchd-modal" class="case-study-modal">
  {% include bchd_modal.html %}
</div>

<script src="/javascript/modal.js" defer></script>
