  <section>
    <h3>We're Hiring!</h3>
    <p>Interested in joining a collaborative team working on fun new projects? <a href="/jobs">Check out our jobs page</a>.</p>
  </section>
  <section class="images">
    <h3>Our Office</h3>
    <img src="/images/office1.png" alt="Picture of SmartLogic's Office 1/3">
    <img src="/images/office2.png" alt="Picture of SmartLogic's Office 2/3">
    <img src="/images/office3.png" alt="Picture of SmartLogic's Office 3/3">
  </section>
  <section>
    <img src="/images/etc.png" alt="Emerging Technology Centers" width="200" height="300">
    <h3>Location and Parking</h3>
    <p>We're located at <a href="http://etcbaltimore.com/">ETC's Canton Incubator</a>.  Our address is <a href="http://maps.google.com/maps?q=2400+Boston+St,+Baltimore,+MD+21224">2400 Boston St, Ste 302, Baltimore, MD 21224 (Google Maps link)</a>.</p>
    <p>To enter ETC Canton, go through the doors between the LensCrafters and Babylon Nails &amp; Spa.  Go up the elevator to the third floor and proceed to the back corner of the building.</p>
    <p><strong>Important parking info:</strong>If you will be visiting for under two hours, park out front of the office.  Otherwise park on the street or ask us for a parking permit.  Please obey all parking signs - they do tow and ticket!</p>
  </section>  
