<section class="section features-container">
  <h2 class="section-title">We are Specialists in</h2>
    <div class="logo-bar">
        <img class="features-logo" src="images/logo/logos-tech/elixir.png" alt="Elixir icon"/>
        <img class="features-logo" src="images/logo/logos-tech/rails.png" alt="Ruby on Rails icon"/>
        <img class="features-logo" src="images/logo/logos-tech/flutter.png" alt="Flutter icon"/>
        <img class="features-logo" src="images/logo/logos-tech/JS.png" alt="JavaScript icon"/>
    </div>
</section>