<section class="section features-container overview-section landing-page">
  <h2 class="section-title">We are specialists in</h2>
    <div class="overview-logo-bar">
      <img class="features-logo" src="{{ '/images/logo/logos-tech/elixir.png' | relative_url }}" alt="Elixir icon"/>
      <img class="features-logo" src="{{ '/images/logo/logos-tech/rails.png' | relative_url }}" alt="Ruby on Rails icon"/>
      <img class="features-logo" src="{{ '/images/logo/logos-tech/flutter.png' | relative_url }}" alt="Flutter icon"/>
      <img class="features-logo" src="{{ '/images/logo/logos-tech/JS.png' | relative_url }}" alt="JavaScript icon"/>
    </div>
</section>
