<footer>
  <div id="footer">
    <p>
      <strong>&copy; 2013 SmartLogic Solutions LLC</strong>
      <a href="https://github.com/smartlogic/smartlogic.github.com">This website is hosted at GitHub</a>
    </p>
    <address>
      <a href="http://maps.google.com/maps?q=2400+Boston+St,+Baltimore,+MD+21224">2400 Boston St Ste 302<br>Baltimore, MD 21224</a>
    </address>
    <section>
      <a href="http://www.twitter.com/smartlogic" target="_blank"><img src="/images/sprite-blank.gif" class="twitter-32" alt="Twitter" title="Follow us at @smartlogic"></a>
      <a href="http://www.facebook.com/smartlogic" target="_blank"><img src="/images/sprite-blank.gif" class="facebook-32" alt="Facebook" title="Befriend us on Facebook"></a>
      <a href="https://plus.google.com/100608393047461596789" rel="publisher" target="_blank"><img src="/images/sprite-blank.gif" class="google-plus-32" alt="Google+" title="Google+"></a>
      <a href="http://www.linkedin.com/company/smartlogic-solutions/" target="_blank"><img src="/images/sprite-blank.gif" class="linkedin-32" alt="LinkedIn" title="Follow us on LinkedIn"></a>
      <a href="https://github.com/smartlogic/" target="_blank"><img src="/images/sprite-blank.gif" class="github-32" alt="GitHub" title="GitHub"></a>
    </section>
  </div>
</footer>
