<header class="header">
  <div class="header__wrap">
    <div class="header__logo">
      <a href="/">
        <img src="/images/logo/smartlogic.svg" alt="Smartlogic Logo" />
      </a>
    </div>
    <div class="header__hamburger-wrap">
      <span></span><span></span><span></span><span></span><span></span><span></span>
    </div>
    <nav class="header__menu">
      <ul class="header__menu-list">
        <li class="header__menu-item"><a href="/case-studies">Case Studies</a></li>
        <li class="header__menu-item"><a href="/method">Method</a></li>
        <li class="header__menu-item"><a href="/technologies">Technology</a></li>
        <li class="header__menu-item"><a class="btn" href="/contact">Let's Get Started</a></li>
      </ul>
    </nav>
  </div>
  
  <!-- Global site tag (gtag.js) - Google Ads: 743722644 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-743722644"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-743722644');
  </script>
</header>
