<header>
  <section>
    <a href="/"><img src="/images/smartlogic-logo.png" alt="SmartLogic Logo" width="227" height="37"></a>
    <a href="tel:443-451-3001">(443) 451-3001</a>
  </section>
  <nav>
    <a href="/">Home</a>
    <a href="/process-and-tools.html">Process &amp; Tools</a>
    <a href="/portfolio.html">Portfolio</a>
    <a href="/team.html">Team</a>
    <a href="/contact.html">Contact</a>
    <a href="/community.html">Community</a>
    <a href="http://blog.smartlogicsolutions.com">Blog</a>
    <select>
      <option value="/index.html">Home</option>
      <option value="/process-and-tools.html">Process &amp; Tools</option>
      <option value="/portfolio.html">Portfolio</option>
      <option value="/team.html">Team</option>
      <option value="/contact.html">Contact</option>
      <option value="/community.html">Community</option>
      <option value="http://blog.smartlogicsolutions.com">Blog</option>
    </select>
  </nav>
</header>
