<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/sprites.css">
<link rel="stylesheet" href="css/mobile-sprites.css" media="screen and (max-width: 670px)" type="text/css">
<link rel="stylesheet" href="css/mobile.css" media="screen and (max-width: 670px)" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!--[if lt IE 9]>
<link rel="stylesheet" href="css/ie-style.css">
<script src="javascript/html5-ie.js"></script>
<script src="javascript/mootools.js"></script>
<script src="javascript/selectivizr-min.js"></script>
<![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="javascript/javascript.js"></script>
<title>{{ page.title}}</title>
<meta name="description" content="{{ page.metadescription }}">
<meta charset="utf-8">
