<header class="mt-5 container-fluid">
  <a href="https://smartlogic.io/"
    ><img src="/images/logo/smartlogic.svg" alt="Smartlogic Logo"
  /></a>

  <!-- Global site tag (gtag.js) - Google Ads: 743722644 -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=AW-743722644"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "AW-743722644");
  </script>
</header>
