<section class="section hero hero__main landing-page">
  <div class="container">
    <div class="hero__left">
      <div class="hero__left-text">
        <div class="head-text">
          <h1>
            Results you can <strong>Trust</strong>.<br>
            <strong>Collaboration</strong> that lasts.
          </h1>
          <h2>Custom web & mobile applications</h2>
        </div>
      </div>
    </div>
    <div class="hero__right">
      <div class="hero__right-img">
        <img src="/images/contents/header-image.png" alt="Hero Image">
      </div>
    </div>
  </div>
</section>
