<div class="nav-item">
  <a href="/about.html"><span>About</span></a>
</div>
<div class="nav-item">
  <a href="/experience.html"><span>Experience</span></a>
</div>
<div class="nav-item">
  <a href="/smart-thinking.html"><span>Smart Thinking</span></a>
</div>
<div class="nav-item">
  <a href="/get-in-touch.html"><span>Get In Touch</span></a>
</div>
<div class="nav-item">
  <a href="/what-makes-us-different.html"><span>What makes us different</span></a>
</div>
<footer>
  <ul class="inline">
    <li><a href="/location.html" class="decorated"><strong>Baltimore</strong></a> ·</li>
    <li><a href="tel:+14434513001">443-451-3001</a></li>
  </ul>
  <ul class="social-media inline">
    <li><a href="http://www.facebook.com/smartlogic"><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://www.twitter.com/smartlogic"><i class="fa fa-twitter"></i></a></li>
    <li><a href="http://www.github.com/smartlogic"><i class="fa fa-github"></i></a></li>
    <li><a href="http://plus.google.com/100608393047461596789"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="http://www.linkedin.com/company/smartlogic-solutions"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</footer>
