<div id="location" class="landing-page">
  <h1>Baltimore</h1>
  <address>3500 Boston St, Ste 323, Baltimore, MD 21224</address>
  <a href="https://goo.gl/maps/nM1Gc">[Map]</a>
  <a href="tel:+14434513001">(443) 451-3001</a> ·
  <a href="mailto:contact@smartlogic.io>">contact@smartlogic.io</a>
  <img src="/images/map.png" height="50px" width="50px" alt="Map of SmartLogic office" />
  <p>We're located at the <a href="http://www.broomfactory.com/">Broom Factory in Canton</a>. To visit, dial 323 on the call pad located at the front or side entrance. We're located on the third floor, to the right as you exit the staircase.
</div>
