{% for link in site.navigation %}
  {% assign active = nil %}
  {% if page.url contains link.url %}
    {% assign active = 'active' %}
  {% endif %}
  <div class="nav-item {{ active }}">
    <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
  </div>
{% endfor %}
<footer>
  <ul class="inline">
    <li><a href="/location.html" class="decorated"><strong>Baltimore</strong></a> ·</li>
    <li><a href="tel:+14434513001">443-451-3001</a></li>
  </ul>
  {% include social-media.html %}
</footer>
