<div class="nav-item">
  <a href="/about.html"><span>About</span></a>
</div>
<div class="nav-item">
  <a href="/experience.html"><span>Experience</span></a>
</div>
<div class="nav-item">
  <a href="/smart-thinking.html"><span>Smart Thinking</span></a>
</div>
<div class="nav-item">
  <a href="/get-in-touch.html"><span>Get In Touch</span></a>
</div>
<div class="nav-item">
  <a href="/what-makes-us-different.html"><span>What makes us different</span></a>
</div>
<footer>
  <ul class="inline">
    <li><a href="/location.html" class="decorated"><strong>Baltimore</strong></a> ·</li>
    <li><a href="tel:+14434513001">443-451-3001</a></li>
  </ul>
  {% include social-media.html %}
</footer>
