<section class="section overview_hero overview_hero__main landing-page">
  <div class="container">
    <div class="overview_hero__left">
      <div class="overview_hero__left-text">
        <div class="overview_head-text">
          <h1><span>Custom</span> <span>web &</span> <span>mobile</span> <span>applications</span></h2>
          <div class="done-statements">
            <h2><span>Done <strong>Right.</strong></span></h2>
            <h2><span>Done <strong>On Time.</strong></span></h2>
            <h2><span>Done <strong>On Budget.</strong></span></h2>
          </div>
          <h2 class="hard-to-believe"><i>Hard to believe... we know</i></h2>
          <h3>Receive a 1-hr FREE strategy session with our team today!</h3>
          <div class="overview_hero_button">
            <a class="btn" href="#get-started">Reserve Session</a>
          </div>
        </div>
      </div>
    </div>
    <div class="overview_hero__right">
      <div class="overview_hero__right-img">
        <img src="{{ '/images/contents/header-image.png' | relative_url }}" alt="Woman looking at a smart logic project on here phone.">
      </div>
    </div>
  </div>
</section>
