<section class="section">
    <div class="pillar-card">
        <div class="pillar-text-content current-card" id="card-1">
            <h2 class="section-title" id="card-title-1">
                Expertise:
                <span id="card-subtitle-1">Unmatched Tech Chops</span>
            </h2>
            <p id="card-text-2">Proven by over 200 successful projects and nearly 20 years  in the business, our collaborative approach continues to demonstrate technical mastery in a wide array of trusted platforms.</p>
        </div>
        <div class="pillar-text-content hidden-card" id="card-2">
            <h2 class="section-title" id="card-title-2">
                Collaboration:
                <span id="card-subtitle-2">Understanding Your Goals</span>
            </h2>
            <p id="card-text-2">Trust and process are top priorities. We pride ourselves on being a dedicated and trusted partner. Clients have direct access to the developers and our suite of tools & processes to facilitate transparent collaboration and communication.</p>
        </div>
        <div class="pillar-text-content hidden-card" id="card-3">
            <h2 class="section-title" id="card-title-3">
                Empower:
                <span id="card-subtitle-3">Your Vision Realized</span>
            </h2>
            <p id="card-text-3">We partner with you to achieve your goals by managing the lifecycle tailored to your needs, allowing you to concentrate on what you do best, while we handle the rest. Plus, with our steadfast support, your technology evolves with your business.</p>
        </div>
        <div class="pillar-text-content hidden-card" id="card-4">
            <h2 class="section-title" id="card-title-4">
                Prepared:
                <span id="card-subtitle-4">We're On The Ball</span>
            </h2>
            <p id="card-text-4">We come with our research and work product ready to engage and treat each interaction knowing not to waste time. When making the most out of every meeting and review cycle counts, we are ready for business.</p>
        </div>

        <div class="pillar-arrows">
            <button type="button" id="back-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="arrow"  viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
           </button>
           <button type="button" id="next-arrow">
                <svg xmlns="http://www.w3.org/2000/svg" class="arrow" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
            </button>
        </div>
    </div>
</section>

<script>
  const previousCard = document.getElementById("back-arrow");
  const nextCard = document.getElementById("next-arrow");

  nextCard.addEventListener("click", showNextCard);
  previousCard.addEventListener("click", showPreviousCard);


  function showNextCard(){
    const currentCardId =
      document.getElementsByClassName("current-card")[0].id
    const currentCardNb = Number(currentCardId[currentCardId.length-1])

    const displayedCardId = `card-${currentCardNb}`
    const displayedCard = document.getElementById(displayedCardId);
    
    let nextCardNb = currentCardNb + 1;
    if (nextCardNb === 5) nextCardNb = 1;

    const cardToBeDisplayedId = `card-${nextCardNb}`
    const cardToBeDisplayed = document.getElementById(cardToBeDisplayedId);

    displayedCard.classList.remove("current-card")
    displayedCard.classList.add("hidden-card")
    cardToBeDisplayed.classList.remove("hidden-card")
    cardToBeDisplayed.classList.add("current-card")
  }

  function showPreviousCard(){
    const currentCardId =
      document.getElementsByClassName("current-card")[0].id
    const currentCardNb = Number(currentCardId[currentCardId.length-1])

    const displayedCardId = `card-${currentCardNb}`
    const displayedCard = document.getElementById(displayedCardId);
    
    let previousCardNb = currentCardNb - 1;
    if (previousCardNb === 0) previousCardNb = 4;

    const cardToBeDisplayedId = `card-${previousCardNb}`
    const cardToBeDisplayed = document.getElementById(cardToBeDisplayedId);

    displayedCard.classList.remove("current-card")
    displayedCard.classList.add("hidden-card")
    cardToBeDisplayed.classList.remove("hidden-card")
    cardToBeDisplayed.classList.add("current-card")
  }
</script>
