<section class="projects-container">
    <h2 class="section-title">Delivering Mission Critical Projects</h2>
    <div class="overview-logo-bar">
        <img class="projects-logo" src="/images/logo/logos-featured-clients/bchd.png" alt="Baltimore City Health Department Logo"/>
        <img class="projects-logo" src="/images/logo/logos-featured-clients/wck.png" alt="World Central Kitchen Logo"/>
        <img class="projects-logo" src="/images/logo/challenge.png" alt="Challenge.Gov Logo"/>
        <img class="projects-logo" src="/images/logo/logos-featured-clients/laureate-universities.png" alt="Laureate International Universitites Logo"/>
        <img class="projects-logo" src="/images/logo/logos-featured-clients/simplebet.svg" alt="Simplebet Logo"/>
        

        <img class="projects-logo" src="/images/logo/logos-featured-clients/volo.png" alt="Volo Logo"/>
        <img class="projects-logo" src="/images/logo/logos-featured-clients/stan.png" alt="Stanley Black & Decker Logo"/>
        <img class="projects-logo" src="/images/logo/logos-featured-clients/jhu.jpg" alt="Johns Hopkins University Logo"/>
        <img class="projects-logo" src="/images/logo/spotcrime-logo.png" alt="SpotCrime Logo"/>
    </div>
</section>