<!-- there's def some more layout work to do here - this does not look like the case studies page (too much padding) -->

<section class="section casestudies-horizontal">
  <div class="container">
    <div class="casestudies-horizontal__article-wrap">
      {% for episode in site.data.elixir_wizards_seasons[include.season] %}
      <article class="casestudies-horizontal__article">
        <div class="casestudies-horizontal__article-img"><img src="/images/contents/podcast-cover.png" alt="Elixir Wizards Logo" /></div>
        <div class="casestudies-horizontal__article-text">
          <p><a href="/podcast/elixir-wizards{{ episode.slug }}">{{ episode.title }}</a></p>
          <p>{{ episode.pubDateFriendly }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
