<!-- there's def some more layout work to do here - this does not look like the case studies page (too much padding) -->

<section class="section podcast-horizontal">
  <div class="container">
    <div class="podcast-horizontal__article-wrap">
      {% for episode in site.data.elixir_wizards_seasons[include.season] %}
      <article class="podcast-horizontal__article">
        <div class="podcast-horizontal__article-img"><img src="{{ episode.itunes.image }}" alt="Episode Cover" /></div>
        <div class="podcast-horizontal__article-text">
          <p><a href="/podcast/elixir-wizards/{{ episode.slug }}">{{ episode.title }}</a><br />
          {{ episode.pubDateFriendly }}</p>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</section>
