<ul class="social-media inline">
  <li><a href="http://www.facebook.com/smartlogic"><i class="fa fa-facebook"></i></a></li>
  <li><a href="http://www.twitter.com/smartlogic"><i class="fa fa-twitter"></i></a></li>
  <li><a href="http://www.github.com/smartlogic"><i class="fa fa-github"></i></a></li>
  <li><a href="http://plus.google.com/100608393047461596789"><i class="fa fa-google-plus"></i></a></li>
  <li><a href="http://www.linkedin.com/company/smartlogic-solutions"><i class="fa fa-linkedin"></i></a></li>
</ul>
