<!-- structured data -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "SmartLogic",
      "url": "https://smartlogic.io/",
        "logo" : "https://smartlogic.io/images/logo/smartlogic.svg",
      "contactPoint": {
      "@type":"ContactPoint",
      "telephone": "+1-800-544-7678",
      "contactType":"Sales and Support"
      },
      "sameAs": [
      "https://twitter.com/smartlogic",
      "https://www.facebook.com/smartlogic",
        "https://www.linkedin.com/company/smartlogic-io",
        "https://github.com/smartlogic",
        "https://www.youtube.com/@SmartLogic-io",
        "https://www.twitch.tv/smartlogictv"
      ],

      "address": {
      "@type": "PostalAddress",
      "streetAddress": "8 Market Pl Ste 377",
      "addressLocality": "Baltimore",
      "addressRegion": "MD",
      "postalCode": "21202"
      },
        "description":
    "Mobile application and custom software development company working with start-ups and established companies to build, test, deploy and maintain web and mobile applications"
      }
</script>
<script type="application/ld+json">
  {
        "@context": "http://schema.org",
        "@type": ["LocalBusiness"],
        "name": "SmartLogic",
        "description":
        "Mobile application and custom software development company working with start-ups and established companies to build, test, deploy and maintain web and mobile applications",
           "openingHours":["Tuesday 08:30-5:30","Wednesday 08:30-5:30","Thursday 08:30-5:30"],
        "priceRange" : "$-$$$",
        "image" : "https://smartlogic.io/images/logo/smartlogic.svg",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "8 Market Pl Ste 377",
          "addressLocality": "Baltimore",
          "addressRegion": "MD",
          "postalCode": "21202"
          },
          "telephone": "+1-800-544-7678"
      }
</script>
