<section class="testimonials">
    <h2 class="section-title">Don't Take our Word for it</h2>

    <blockquote class="quote">
        <p>“The SmartLogic team understands our goals and objectives, and they bring great ideas and experience to the table.”</p>
    </blockquote>
      <p>—<cite>Kristi Katz, Head of World Central Kitchen Direct</cite></p>


    <div class="logo-bar">
        <img class="testimonials-logo" src="images/contents/ClutchBadge.png" alt="Clutch Top Company 2021 Badge"/>
        <img class="testimonials-logo" src="images/contents/inno-fire.png" alt="Inno Fire Awards Logo"/>
    </div>

    
</section>