<div class="modal-side-bar"></div>

<span class="modal-close">
  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
  </svg>
</span>

<div class="modal-content">
  <div class="modal-case-study-details">
    <div class="modal-sub-container">
      <img class="modal-logo" src="images/logo/logos-featured-clients/wck.png" alt="World Central Kitchen Logo">
      <h2>World Central Kitchen</h2>
    </div>

    <div class="modal-sub-container">
      <p class="overview">World Central Kitchen (WCK) provides meals to those who need it, in times of crisis and beyond.</p>
      <p>During the COVID-19 pandemic, WCK developed a new offering, WCK Direct, that connects households experiencing food insecurity to restaurants.</p>
      <p>SmartLogic built a robust Elixir Phoenix and Flutter app to power the WCK Direct program, supporting the program's growth to additional cities, and improving stability, scale, and usability over their off-the-shelf MVP.</p>
    </div>

    <div class="modal-sub-container">
      <h5>Services</h5>
      <ul>
        <li>Integrated Elasticsearch to support more complex search ranking while improving performance and speed</li>
        <li>Conducted user research to help BCHD define the most impactful improvements</li>
        <li>Built with Ruby on Rails, deployed to Heroku for ease of maintenance</li>
      </ul>
    </div>

    <div class="button-container">
      <a href="/case-studies/wck-direct" class="full-button">
        View Full Case Study
      </a>
    </div>
  </div>

  <div class="modal-case-study-details">
    <div class="modal-picture-container">
      <img class="modal-overlaping-picture-first" src="images/case-studies/wck-direct/wck-smartphone.png" alt="Someone typing on a smartphone">
      <img class="modal-overlaping-picture-second" src="images/case-studies/wck-direct/wck-laptop.png" alt="Woman with a face mask sitting next to a laptop">
    </div>
  </div>
</div>

<script src="/javascript/modal.js" defer></script>
