@import '../_sass/bourbon/bourbon';
@import 'variables';

* {
  @include box-sizing(border-box);
  font-family: $body-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 56px;
  line-height: 1;
  text-align: center;
}

h2 {
  font-size: 32px;
  letter-spacing: -.5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  color: $teal;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.decorated {
    text-decoration: underline;
  }

  &.description-callout {
    border-bottom: 4px solid $teal;
  }
}

p {
  font-size: 16px;
  letter-spacing: .25px;
}

address {
  font-style: normal;
  font-weight: bold;
}
