@import '../_sass/bourbon/bourbon';
@import 'variables';

* {
  @include box-sizing(border-box);
  font-family: $body-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include font-size;
  color: $black;
  padding: 0;
  height: 100%;
  width: 100%;
  .content {
    padding: 2em 0 0 0;
    article {
      padding: 0 4em;
      &.grid {
        padding: 0;
        > span {
          display: block;
          padding: 0 4em;
        }
      }
    }
    a.smartlogic-logo {
      @include smartlogic-logo-teal; 
    }
  }
  @media (max-width: $breakpoint-phone) {
    padding: 1em 0 0 0;
    article {
      padding: 0 1em;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  display: inline-block;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  color: $teal;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.decorated {
    text-decoration: underline;
  }

  &.description-callout {
    border-bottom: 4px solid $teal;
  }
}

p {
  font-size: 1em;
}

address {
  font-style: normal;
  font-weight: bold;
}
