@import '../_sass/bourbon/bourbon';
@import 'variables';

* {
  @include box-sizing(border-box);
  font-family: $body-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  @include font-size;
  color: $black;
  padding: 0;
  height: 100%;
  width: 100%;
  .content {
    padding: 2em 0 0 0;
    article {
      @include vertical-padding;
      @include horizontal-padding;
      &.grid {
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        > span {
          display: block;
          padding: 0 4em;
        }
      }
    }
    a.smartlogic-logo {
      @include smartlogic-logo-teal; 
    }
  }
  @media (max-width: $breakpoint-phone) {
    padding: 1em 0 0 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  display: inline-block;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  color: $teal;
  text-decoration: none;
  &:hover {
    color: lighten($teal, 10%);
    text-decoration: underline;
  }
  &:active {
    color: darken($teal, 10%);
  }
}

p {
  font-size: 1em;
}

address {
  font-style: normal;
  font-weight: bold;
}

iframe.video {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}
