@import '../_sass/bourbon/bourbon';
@import 'variables';

* {
  @include box-sizing(border-box);
  font-family: $body-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: $black;
  padding: 0;
  height: 100%;
  width: 100%;
  .content {
    padding: 2em 4em;
    > h1 {
      width: 6em;
      height: 1em;
      background-image: url("/images/smartlogic-logo.svg");
      background-size: 6em 4em;
      background-position: 0 0;
      font-size: 40px;
      text-indent: -9999px;
      margin: 0 0 .5em 0;
    }
    @media (max-width: $screen-xs-min) {
      padding: 1em;
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 3em;
  display: inline-block;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  color: $teal;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.decorated {
    text-decoration: underline;
  }

  &.description-callout {
    border-bottom: 4px solid $teal;
  }
}

p {
  font-size: 16px;
  letter-spacing: .25px;
}

address {
  font-style: normal;
  font-weight: bold;
}
