@import '../_sass/bourbon/bourbon';
@import 'variables';

.bwit {
  article>ul {
    margin-left: 2em;
    > li {
      color: #827377;
      > p {
        color: #827377;
        font-size: 1.1em;
        line-height: 150%;
        margin: 0 0 .2em 0;
      }
    }
  }
}
