@import '../_sass/bourbon/bourbon';
@import 'variables';

body.case-study {
  .content {
    padding: 2em 12em;
    a.smartlogic-logo {
      position: fixed;
      top: 2em;
      left: 4em;
      margin: 0 0 .75em 0;
      h1 {
        width: 1.5em;
        height: 1.5em;
        background-image: url("/images/smartlogic-seal.svg");
        background-size: 1.5em 6em;
        background-position: 0 -4.5em;
        margin: 0;
      }
    } 
    > h1 {
      display: block;
      font-size: 4em;
      text-align: center;
    }
    .categories {
      color: $teal;
      font-size: 1em;
      text-align: center;
      margin: 0 0 1.5em 0;
    }
    section {
      border-bottom: solid 1px $teal;
      text-align: center;
      padding: 1.5em 0;
      &:last-child {
        border-bottom: none;
      }
      h2 {
        display: block;
        font-size: 1.35em;
        text-align: center;
        margin: 0;
      }
      p {
        color: lighten($black, 40%);
        text-align: justify;
        line-height: 170%;
        padding: 1.5em 0;
      }
      ul {
        list-style: square;
      }
      ul, ol {
        color: desaturate($teal, 25%);
        text-align: justify;
        padding: 0 0 0 2em;
        li {
          padding: .5em 0;
        }
      }
      img {
        max-width: 100%;
        border: solid 1px $teal;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .content {
      padding: 2em 4em;
      a.smartlogic-logo {
        position: relative;
        top: auto;
        left: auto;
        display: block;
        font-size: 40px;
        text-align: center;
        h1 {
          width: 2.5em;
          height: 2.5em;
          background-size: 2.5em 10em;
          background-position: 0 -7.5em;
        }
        &:after {
          content: "";
          position: fixed;
          top: .8em;
          left: .6em;
          width: .5625em;
          height: 2.5em;
          background-image: url("/images/smartlogic-wordmark.svg");
          background-size: 2.25em 2.5em;
          background-position: -1.6875em 0;
        }
      } 
    }
  }
}
