@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  src: url('../fonts/circularstd-black.eot');
  src: url('../fonts/circularstd-black.eot') format('embedded-opentype'),
       url('../fonts/circularstd-black.woff') format('woff'),
       url('../fonts/circularstd-black.ttf') format('truetype'),
       url('../fonts/circularstd-black.svg#CircularStdBlackRegular') format('svg');
}

@font-face {
  font-family: 'LTCircular';
  font-weight: 800;
  font-style:italic;
  src: url('../fonts/circularstd-blackitalic.eot');
  src: url('../fonts/circularstd-blackitalic.eot') format('embedded-opentype'),
       url('../fonts/circularstd-blackitalic.woff') format('woff'),
       url('../fonts/circularstd-blackitalic.ttf') format('truetype'),
       url('../fonts/circularstd-blackitalic.svg#CircularStdBlackItalic') format('svg');

}

@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  src: url('../fonts/circularstd-bold.eot');
  src: url('../fonts/circularstd-bold.eot') format('embedded-opentype'),
       url('../fonts/circularstd-bold.woff') format('woff'),
       url('../fonts/circularstd-bold.ttf') format('truetype'),
       url('../fonts/circularstd-bold.svg#CircularStdBlackBold') format('svg');
}

@font-face {
  font-family: 'LTCircular';
  font-weight: 700;
  font-style:italic;
  src: url('../fonts/circularstd-bolditalic.eot');
  src: url('../fonts/circularstd-bolditalic.eot') format('embedded-opentype'),
       url('../fonts/circularstd-bolditalic.woff') format('woff'),
       url('../fonts/circularstd-bolditalic.ttf') format('truetype'),
       url('../fonts/circularstd-bolditalic.svg#CircularStdBoldItalic') format('svg');
}

@font-face {
  font-family: 'LTCircular';
  font-weight: 300;
  src: url('../fonts/circularstd-book.eot');
  src: url('../fonts/circularstd-book.eot') format('embedded-opentype'),
       url('../fonts/circularstd-book.woff') format('woff'),
       url('../fonts/circularstd-book.ttf') format('truetype'),
       url('../fonts/circularstd-book.svg#CircularStdBlackBook') format('svg');
}

@font-face {
  font-family: 'LTCircular';
  font-style:italic;
  font-weight: 300;
  src: url('../fonts/circularstd-bookitalic.eot');
  src: url('../fonts/circularstd-bookitalic.eot') format('embedded-opentype'),
       url('../fonts/circularstd-bookitalic.woff') format('woff'),
       url('../fonts/circularstd-bookitalic.ttf') format('truetype'),
       url('../fonts/circularstd-bookitalic.svg#CircularStdBookItalic') format('svg');
}
