@import '../_sass/bourbon/bourbon';
@import 'variables';

body.contact-page {
  background: $black;
  .content {
    a.smartlogic-logo {
      @include smartlogic-logo-red;
    }
    .info-grid li p {
      color: $gray;
    }
  }
  #get-in-touch {
    h1 {
      display: block;
      color: #fff;
      font-size: 4em;
      text-align: center;
      line-height: 1em;
      margin: 0 0 $gutter*2 0;
    }
    ul.social-media {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    > p {
      color: #fff;
      text-align: center;
      margin: $gutter 0 $gutter*2 0;
    }
    form {
      width: 100%;
      max-width: 800px;
      font-size: 0;
      margin: 0 auto;
      padding: 0;
      > div {
        display: inline-block;
        width: 50%;
        margin: 0 0 $gutter 0;
        &:nth-child(odd) {
          padding: 0 $gutter/2 0 0;
        }
        &:nth-child(even) {
          padding: 0 0 0 $gutter/2;
        }
        &.budget-range {
          position: relative;
          &:after {
            @include font-size;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 4em;
            height: 100%;
            background-color: rgba($black, .1);
            pointer-events: none;
          }
          &:before {
            @include font-size;
            @include triangle(1em .5em, lighten($black, 40%), down);
            content: "";
            position: absolute;
            top: 50%;
            right: 2em;
            z-index: 1;
            margin: (-.25em) (-.5em) 0 0;
            pointer-events: none;
          }
        }
      }
      input,
      select,
      textarea {
        @include font-size;
        @include appearance(none);
        @include transition(box-shadow, .7s);
        display: inline-block;
        width: 100%;
        background-color: $white;
        line-height: 1em;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: 1.5em 1em;
        box-shadow: inset 0 0 0 3px #fff;
        &:focus {
          @include transition(box-shadow, .4s);
          box-shadow: inset 0 0 0 3px $teal;
          outline: none;
        }
      }
      textarea,
      input[type="submit"] {
        clear: both;
        margin: 0 0 $gutter 0;
      }
      input[type="submit"] {
        @include button;
        box-shadow: none;
      }
    }
  }
}
