/**
 * This file includes all style for the grid layouts, of which there are currently three:
 * 1) info-grid: a grid containing text / copy
 * 2) linear: a grid showing a progression from point A to B
 * 3) photo-grid: a grid of photos
 */
@import '../_sass/bourbon/bourbon';
@import 'fonts';
@import 'variables';

ul.info-grid,
ol.linear,
ol.photo-grid {
  list-style: none;

  li {
    display: inline-block;
  }
}

ul.info-grid {
  li {
    width: 50%;
    h2 {
      margin-bottom: 6px;
    }
    ul {
      list-style: square;
      li {
        background: none;
        padding: 0;
        display: block;
        width: 100%;
      }
    }
  }
}

ol.linear {
  li {
    width: 33%;
  }
}

ul.info-grid,
ol.linear {
  > li {
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: 1.5em 0;
    background-size: 7em 7em;
    min-height: 7em;
    text-align: justify;
    line-height: 150%;
    margin: 1.5em 0 0 0;
    padding: 0 1.5em 0 9.5em;
    h2 {
      color: $teal;
      font-size: 1.25em;
      font-weight: normal;
      text-align: left;
      margin: 0 0 .5em 0;
    }
    p {
      font-size: .8em;
    }
  }
  @media (max-width: $breakpoint-desktop) {
    li {
      width: 100%;
      min-height: 5em;
      background-position: 0 .5em;
      background-size: 5em 5em;
      padding: .5em 0 .5em 6.5em;
    }
  }
}

ol.photo-grid {
  font-size: 0;
  li {
    width: 25%;
    text-align: center;
    padding: 4px;
    @media (max-width: $breakpoint-desktop) {
      width: 33.33%;
    }
    @media (max-width: $breakpoint-phone) {
      width: 50%;
    }
    img {
      @include transition(all 300ms);
      width: 100%;
      height: auto;
    }

    figure {
      position: relative;
      width: 100%;
      overflow: hidden;
      margin: 0;
    }

    figcaption {
      @include font-size;
      @include transition(all 300ms);
      @include display(flex);
      @include flex-direction(column);
      @include justify-content(center);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      background: rgba(darken($teal, 35%), .7);
      color: $white;
      padding: 1em;
      opacity: 0;

      strong,
      p {
        @include transition(all 300ms ease-out);
        @include transform(translateY(-150px));
        position: relative;
        display: block;
        font-weight: normal;
        opacity: 0;
      }
    }
    strong {
      color: $yellow;
      font-size: 1.5em;
      margin: 0 0 2px 0;
    }
    p {
      font-size: 1em;;
    }

    &:hover {
      figcaption {
        opacity: 1;
      }

      img {
        @include transform(scale(1.2));
        @include filter(blur(5px));
      }

      figcaption strong,
      figcaption p {
        @include transform(translateY(0));
        opacity: 1;
      }
    }
  }
}

/* background images for ul's and ol's */
li.communication {
  background-image: url('/images/icons/communication.svg');
}
li.organization {
  background-image: url('/images/icons/organization.svg');
}
li.planning {
  background-image: url('/images/icons/planning.svg');
}
li.team {
  background-image: url('/images/icons/team.svg');
}
li.the-best-code {
  background-image: url('/images/icons/the-best-code.svg');
}
li.transparency {
  background-image: url('/images/icons/transparency.svg');
}
li.application-discovery {
  background-image: url('/images/icons/application-discovery.svg');
}
li.application-development {
  background-image: url('/images/icons/application-development.svg');
}
li.application-maintenance {
  background-image: url('/images/icons/application-maintenance.svg');
}
li.startups {
  background-image: url('/images/icons/startups.svg');
}
li.growing-organizations {
  background-image: url('/images/icons/growth-stage.svg');
}
li.enterprise {
  background-image: url('/images/icons/enterprise.svg');
}
li.iphone {
  background-image: url('/images/icons/ios.svg');
}
li.user-experience {
  background-image: url('/images/icons/user-experience.svg');
}
li.robust-software {
  background-image: url('/images/icons/robust-software.svg');
}
li.ruby-on-rails {
  background-image: url('/images/icons/ruby-on-rails.svg');
}
li.android {
  background-image: url('/images/icons/android.svg');
}
li.javascript {
  background-image: url('/images/icons/javascript.svg');
}
li.apis {
  background-image: url('/images/icons/apis.svg');
}
li.cloud {
  background-image: url('/images/icons/cloud-deployment.svg');
}
li.quality {
  background-image: url('/images/icons/quality.svg');
}
li.process {
  background-image: url('/images/icons/process.png');
}
li.flower {
  background-image: url('/images/icons/flower.jpg');
}
li.flexibility {
  background-image: url('/images/icons/flexibility.png');
}
li.benefits {
  background-image: url('/images/icons/benefits.svg');
}
/*
li. {
  background-image: url('/images/icons/');
}
*/
/* end background images */
