#lunch-and-learn {
  .hbspt-form {
    .hs-form.stacked {
      fieldset {
        max-width: 100%;
      }
      div.input {
        padding-right: 30px;
      }
      label,
      .hs-field-desc {
        display: block;
      }
      textarea {
        width: 100%;
        max-width: 100%;
      }
      .hs_submit {
        margin-top: 0;
        padding-top: 0;
        width: 100%;
      }
      .actions {
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }
}
