@import '../_sass/bourbon/bourbon';
@import 'fonts';
@import 'variables';
@import 'base';
@import 'navigation';
@import 'responsive';
@import 'grids';

@media (min-width: $screen-sm-min) {
  body {
    padding: 10px 260px 10px 10px;
  }
}

@media (max-width: $screen-xs-max) {
  footer,
  #primary-navigation {
    display: none;
  }

  body {
    padding-right: 0;
  }
}

footer {
  background-color: $yellow;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 250px;

  p {
    font-size: 13px;
  }

  a {
    border: 0;
    color: $black;
  }

  ul {
    display: inline;
  }
}

ul.social-media {
  display: inline;

  li {
    padding: 0;
    font-size: 18px;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    a {
      padding: 5px;
    }
  }
}

.call-to-action {
  border: 0;
  color: $red;
  display: block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;

  &:after {
    padding-left: 10px;
    content: '→';
  }
}

#home {
  h1 {
    display: block;
    letter-spacing: -1px;
    border-bottom: 0;
    font-size: 6em;
    @media (max-width: $screen-sm-max) {
      font-size: 5em;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 3.5em;
      margin-bottom: .2em;
    }
  }
}

body.is-home-page {
  background-image: url('/images/home-background.jpg');
}

#get-in-touch {
  form {
    margin-top: 20px;
    display: block;

    * {
      font-size: 14px;
    }

    input,
    select {
      width: 350px;
      float: left;
    }

    input,
    select,
    textarea {
      display: inline-block;
      background-color: $white;
      border: solid 1px $black;
      border-radius: 0;
      padding: $gutter;
      margin: 4px;
    }

    textarea,
    input[type="submit"] {
      clear: both;
      width: 708px;
    }

    @media (max-width: $screen-md-min) {
      textarea,
      input[type="submit"] {
        width: 350px;
      }
    }

    input[type="submit"] {
      background-color: $teal;
      color: $white;
      border: 0;
    }
  }
}

#location {
  .contact-info > * {
    display: inline-block;
  }

  .contact-info {
    text-align: center;
    margin: 15px 0;
  }
}

article {
  clear: both;
  padding: 0 2em;
}

article:first-of-type h1 {
  margin-top: 0;
}
