@import '../_sass/bourbon/bourbon';
@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'base';
@import 'navigation';

ul.grid {
  @include grid-layout(3);
}

.call-to-action {
  border: 0;
  color: $red;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
}

#home {
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% - $sidebar-width;
    height: 100%;
    overflow: hidden;

    .slide {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      &.current-slide {
        top: 0;
      }
      &.previous-slide {
        top: -100%;
      }
    }

    .slider-control {
      position: absolute;
      bottom: 70px;
      left: 50%;
      display: block;
      width: 140px;
      font-size: 20px;
      text-align: center;
      margin: 0 0 0 -70px;
      padding: 10px 0;
      cursor: pointer;
      &:after {
        @include triangle(20px 10px, #000, down);
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin: 0 0 0 -10px;
      }
    }
  }
}

#get-in-touch {
  text-align: center;

  form {
    * {
      @include appearance(none);
      font-size: 20px;
    }

    fieldset {
      width: 70%;
      font-size: 0;
      margin: 0 auto;
      border: 0;
    }

    span {
      display: inline-block;
      width: 50%;
      margin: 0 0 $gutter;
      padding: 0;

      &:nth-of-type(2n) {
        padding-right: $gutter/2;
      }

      &:nth-of-type(2n+1) {
        padding-left: $gutter/2;
      }

      &:first-child {
        padding-left: 0;
        width: 100%;
      }

      input,
      select {
        width: 100%;
      }
    }

    input,
    select,
    textarea {
      background-color: $white;
      border: 0;
      border-radius: 0;
      padding: $gutter;
    }

    textarea,
    input[type="submit"] {
      width: 100%;
      margin: 0 0 $gutter;
    }

    input[type="submit"] {
      background-color: $teal;
      color: $white;
    }
  }
}
