@import '../_sass/bourbon/bourbon';
@import 'normalize';
@import 'fonts';
@import 'variables';

* {
  @include box-sizing(border-box);
  font-family: $body-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $yellow;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: bold;
}

h1 {
  font-size: 64px;
  letter-spacing: -2px;
}

h2 {
  font-size: 46px;
  letter-spacing: -1px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
}

a {
  border-bottom: 4px solid $teal;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  height: 100%;
  width: 100%;
}

ul.grid {
  @include grid-layout(3);
}

.call-to-action {
  border: 0;
  color: $red;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
}

#home {
  .slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% - $sidebar-width;
    height: 100%;
    overflow: hidden;

    .slide {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      &.current-slide {
        top: 0;
      }
      &.previous-slide {
        top: -100%;
      }
    }

    .slider-control {
      position: absolute;
      bottom: 70px;
      left: 50%;
      display: block;
      width: 140px;
      font-size: 20px;
      text-align: center;
      margin: 0 0 0 -70px;
      padding: 10px 0;
      cursor: pointer;
      &:after {
        @include triangle(20px 10px, #000, down);
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        margin: 0 0 0 -10px;
      }
    }
  }
}

#get-in-touch {
  text-align: center;
  form {
    width: 70%;
    font-size: 0;
    margin: 0 auto;

    * {
      @include appearance(none);
      font-size: 20px;
    }

    select.lets-work-together {
      width: 100%;
      margin: 0 0 $gutter 0;
    }

    .name,
    .email,
    .phone-number,
    .budget-range {
      display: inline-block;
      width: 50%;
      margin: 0 0 $gutter 0;
      padding: 0 $gutter/2 0 0;
      input,
      select {
        width: 100%;
      }
    }

    .email,
    .budget-range {
      padding: 0 0 0 $gutter/2;
    }

    input,
    select,
    textarea {
      background-color: #fff;
      border: none;
      border-radius: 0;
      padding: $gutter;
    }

    textarea {
      width: 100%;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  vertical-align: top;
  width: $sidebar-width;
  height: 100%;
  background-color: $teal;
  font-size: 0;

  .secondary-navigation {
    position: relative;
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: $gray;
    font-size: 20px;

    a {
      @include navigation-links(3, $teal);
    }
  }

  .primary-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    font-size: 20px;

    &.active {
      left: 75%;
    }

    > *.active {
      opacity: .5;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 16.66%;
      background-color: $yellow;
    }
  }

  .home-navigation {
    background-color: #000;
    a {
      @include navigation-links(6, $teal);
      p {
        &:after {
          content: "";
          position: relative;
          display: block;
          width: 40px;
          height: 0;
          border-bottom: solid 2px #fff;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}
