@import '../_sass/bourbon/bourbon';
@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'base';
@import 'navigation';
@import 'responsive';

body {
  height: 100%;
  width: 100%;
  @include display(flex);
  @include flex-direction(row);

  article {
    @include flex(3 0);
    @include order(1);
    padding: 0 100px;
    @media (max-width: $screen-sm-max) {
      padding: 0 20px;
    }
  }
}

#sidebar {
  @include flex(1 0);
  @include order(2);
}

@media (max-width: $screen-sm-max) {
  body {
    @include flex-direction(column);

    article,
    #sidebar {
      @include order(0);
    }

    #sidebar {
      display: none;
    }
  }
}

footer {
  background-color: $yellow;
  font-size: 14px;

  a {
    border: 0;
    color: $black;
  }

  ul {
    display: inline;
  }
}

ul.inline li {
  display: inline-block;
}

.social-media li {
  padding: 0 5px;
  font-size: 18px;

  &:last-child {
    padding-right: 0;
  }
}

.call-to-action {
  border: 0;
  color: $red;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;

  &:after {
    padding-left: 10px;
    content: '→';
  }
}

.dark-background {
  background-image: url('/images/dark-background.jpg');
  left: 0;
  width: 75%;
  height: 100%;
  color: $white;
  text-align: center;
  padding: 0 100px;

  @media (max-width: $screen-sm-max) {
    padding: 0 20px;
  }

  h2 {
    margin-bottom: 20px;
  }
}

.lead {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
  color: #999;
}

#home {
  background-image: url('/images/home-background.jpg');
  h1 {
    font-size: 6em;
    @media (max-width: $screen-sm-max) {
      font-size: 5em;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 3.5em;
      margin-bottom: .2em;
    }
  }
}

#get-in-touch {
  form {
    margin-top: 20px;

    * {
      @include appearance(none);
      font-size: 20px;
    }

    fieldset {
      width: 70%;
      font-size: 0;
      margin: 0 auto;
      border: 0;
    }

    span {
      display: inline-block;
      width: 50%;
      margin: 0 0 $gutter;
      padding: 0;

      &:nth-of-type(2n) {
        padding-right: $gutter/2;
      }

      &:nth-of-type(2n+1) {
        padding-left: $gutter/2;
      }

      &:first-child {
        padding-left: 0;
        width: 100%;
      }

      input,
      select {
        width: 100%;
      }
    }

    input,
    select,
    textarea {
      background-color: $white;
      border: 0;
      border-radius: 0;
      padding: $gutter;
    }

    textarea,
    input[type="submit"] {
      width: 100%;
      margin: 0 0 $gutter;
    }

    input[type="submit"] {
      background-color: $teal;
      color: $white;
    }
  }

  .expanded-form {
    display: none;
  }
}

#location {
  img {
    height: 100%;
    width: auto;
    margin: 50px 0;
  }

  .address > * {
    display: inline-block;
  }

  .address,
  .contact-info {
    margin: 5px 0;
  }
}

.mobile-menu {
  background-color: $yellow;
  border-radius: 50%;
  height: 40px;
  padding: 10px;
  text-align: center;
  width: 40px;
  position: absolute;
  top: 5px;
  right: 10px;

  a {
    border: 0;
  }

  i {
    font-weight: bold;
  }
}

.grid-container {
  @include display(flex);
  @include flex-flow(row wrap);
  padding: 0px;
}

.grid-cell {
  @include flex(1 auto);
  @include flex-basis(32%); // 33% minus margin
  margin: 3px;
  position: relative;
  text-align: center;

  @media (max-width: $screen-xs-max) {
    @include flex-basis(45%); // 50% minus margin
  }

  img {
    @include transition(all 300ms);
    height: auto;
    width: 100%;
  }

  figure {
    margin: 0;
    overflow: hidden;
    position: relative;
  }

  figcaption {
    @include transition(all 300ms);
    @include transition-delay(100ms);
    background: rgba(0, 0, 0, .8);
    color: $white;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;

    h3, p {
      position: relative;
      top: -40px;
      vertical-align: middle;
      @include transition(all 300ms ease-out);
    }

    i {
      font-size: 30px;
      position: absolute;
      bottom: 20px;
    }
  }

  &:hover {
    cursor: pointer;

    figcaption {
      opacity: 1;
    }

    img {
      @include transform(scale(1.4));
    }

    figcaption h3,
    figcaption p {
      @include transform(translateY(150px));
    }
  }
}
