@import '../_sass/bourbon/bourbon';
@import 'variables';

.sidebar {
  background-color: $teal;
  @include display(flex);

  .nav-item,
  footer {
    @include flex(1 0);
    @include display(flex);
    @include align-items(center);
    padding: 0 20px;
  }

  .nav-item {
    background-color: $teal;
    box-shadow: inset 0 -4px 0 (darken($teal, 10%));
    color: $white;
    font-size: 20px;

    span {
      &:after {
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 0;
        border-bottom: solid 2px $white;
        margin: 20px 0 0;
      }
    }
  }
}

.main-navigation,
.secondary-navigation {
  @include display(flex);
  @include flex-direction(column);
}

.main-navigation {
  min-width: 100%;
  @include flex(1 0);
  @include order(2);

  .active {
    background-color: $black;
  }
}

.secondary-navigation {
  @include flex(3 0);
  @include order(1);

  .active {
    color: $black;

    span {
      &:after {
        border-bottom-color: $black;
      }
    }
  }
}

.slided-out .main-navigation {
  position: relative;
  min-width: 0;
  background: $black;

  .nav-item,
  footer {
    opacity: .5;
    overflow: hidden;
    white-space: nowrap;
  }
}

.showing-nav-description {
  .nav-description {
    @include flex(4 0);
    @include order(1);
    background-color: $black;
    color: $white;
    padding: 20px 10px 0;
    text-align: center;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 18px;
    }
  }

  .secondary-navigation {
    @include flex(1 0);
    @include order(2);
    background: $black;
  }

  .main-navigation {
    @include order(3);
  }

  .nav-item,
  footer {
    opacity: .5;
    overflow: hidden;
    white-space: nowrap;
  }
}
