@import '../_sass/bourbon/bourbon';
@import 'variables';

#sidebar {
  background-color: $teal;
  @include display(flex);
  min-width: 390px;

  >nav >a,
  footer {
    @include flex(1 0);
    @include display(flex);
    @include align-items(center);
    padding: 0 20px;
  }

  >nav >a {
    background-color: $teal;
    box-shadow: inset 0 -4px 0 (darken($teal, 10%));
    color: $white;

    span {
      &:after {
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 0;
        border-bottom: solid 2px $white;
        margin: 20px 0 0;
      }
    }
  }

  nav {
    @include display(flex);
    @include flex-direction(column);
  }
}

#primary-navigation {
  min-width: 140px !important;
  @include flex(1 0);
  @include order(2);

  .active {
    background-color: $black;
  }

  >a {
    font-size: 1.1em;
  }

  >a:hover:nth-child(1) {
    background: url('/images/sidebar/bg1.jpg');
  }
  >a:hover:nth-child(2) {
    background: url('/images/sidebar/bg2.jpg');
  }
  >a:hover:nth-child(3) {
    background: url('/images/sidebar/bg3.jpg');
  }
  >a:hover:nth-child(4) {
    background: url('/images/sidebar/bg4.jpg');
  }
  >a:hover:nth-child(5) {
    background: url('/images/sidebar/bg5.jpg');
  }
}

.showing-nav-description {
  #nav-description {
    @include flex(4 0);
    @include order(1);
    background-color: $black;
    color: $white;
    padding: 20px 10px 0;
    text-align: center;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 18px;
    }
  }

  #primary-navigation {
    @include order(3);
  }

  >nav >a,
  footer {
    opacity: .8;
    overflow: hidden;
    white-space: nowrap;
  }
}
