@import '../_sass/bourbon/bourbon';
@import 'variables';

#sidebar {
  background-color: $teal;

  >nav >a,
  footer {
    padding: 0 20px;
    display: block;
    height: 16.6666667%
  }

  >nav >a {
    background-color: $teal;
    box-shadow: inset 0 -4px 0 (darken($teal, 10%));
    color: $white;

    span {
      &:after {
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 0;
        border-bottom: solid 2px $white;
        margin: 20px 0 0;
      }
    }
  }
}

#primary-navigation {
  height: 100%;

  .active {
    background-color: $black;
  }

  >a {
    font-size: 1.1em;
  }

  >a:hover:nth-child(1) {
    background: url('/images/sidebar/bg1.jpg');
  }
  >a:hover:nth-child(2) {
    background: url('/images/sidebar/bg2.jpg');
  }
  >a:hover:nth-child(3) {
    background: url('/images/sidebar/bg3.jpg');
  }
  >a:hover:nth-child(4) {
    background: url('/images/sidebar/bg4.jpg');
  }
  >a:hover:nth-child(5) {
    background: url('/images/sidebar/bg5.jpg');
  }
}

.showing-nav-description {
  #nav-description {
    background-color: $black;
    color: $white;
    padding: 20px 10px 0;
    text-align: center;

    h2 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 18px;
    }
  }

  #primary-navigation {
    @include order(3);
  }

  >nav >a,
  footer {
    opacity: .8;
    overflow: hidden;
    white-space: nowrap;
  }
}
