@import '../_sass/bourbon/bourbon';
@import 'variables';

.sidebar-old {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  vertical-align: top;
  width: $sidebar-width;
  height: 100%;
  background-color: $teal;
  font-size: 0;

  .secondary-navigation {
    position: relative;
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: $gray;
    font-size: 20px;

    a {
      @include navigation-links(3, $teal);
    }
  }

  .primary-navigation {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    font-size: 20px;

    &.active {
      left: 75%;
    }

    > *.active {
      opacity: .5;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 16.66%;
      background-color: $yellow;
    }
  }
}

.sidebar {
  @include display(flex);
  @include flex-flow(column);

  .nav-item,
  footer {
    @include flex(1 100%);
    @include display(flex);
    @include align-items(center);
    padding: 0 20px;
  }

  .nav-item {
    background-color: $teal;
    box-shadow: inset 0 -4px 0 (darken($teal, 10%));

    a {
      color: $white;
      font-size: 20px;
    }

    span {
      &:after {
        content: "";
        position: relative;
        display: block;
        width: 40px;
        height: 0;
        border-bottom: solid 2px $white;
        margin: 20px 0 0;
      }
    }

    &.active {
      background-color: $black;
    }
  }
}
