@import '../_sass/bourbon/bourbon';
@import 'variables';

#phoenix-and-elixir {
  article {
    border-bottom: 0px;
  }
  > p {
    text-align: left;
    margin: $gutter 0 $gutter*2 0;
  }
  h2 {
    color: $white;
  }
}

