@import '../_sass/bourbon/bourbon';
@import 'variables';

body.phoenix-and-elixir {
  background: $black;
  .content {
    a.smartlogic-logo {
      @include smartlogic-logo-red;
    }
    .info-grid li p {
      color: $gray;
    }
    h1,
    p,
    .contact-info {
      color: $white;
    }

  }
  #phoenix-and-elixir {
    h1 {
      display: block;
      font-size: 4em;
      text-align: center;
      line-height: 1em;
      margin: 0 0 $gutter*2 0;
    }
    h2 {
      font-size: 2em;
      color: $white;
    }
    ul.social-media {
      text-align: center;
      margin: 0;
      padding: 0;
    }
    > p {
      color: #fff;
      text-align: left;
      margin: $gutter 0 $gutter*2 0;
    }
    form {
      width: 100%;
      max-width: 800px;
      font-size: 0;
      margin: 0 auto;
      padding: 0;
      > div {
        display: inline-block;
        width: 50%;
        margin: 0 0 $gutter 0;
        &:nth-child(odd) {
          padding: 0 $gutter/2 0 0;
        }
        &:nth-child(even) {
          padding: 0 0 0 $gutter/2;
        }
      }
      input,
      select,
      textarea {
        @include font-size;
        @include appearance(none);
        @include transition(box-shadow, .7s);
        display: inline-block;
        width: 100%;
        background-color: $white;
        line-height: 1em;
        border: none;
        border-radius: 0;
        margin: 0;
        padding: .75em;
        box-shadow: inset 0 0 0 3px #fff;
        &:focus {
          @include transition(box-shadow, .4s);
          box-shadow: inset 0 0 0 3px $teal;
          outline: none;
        }
      }
      label {
        display: none;
      }
      textarea,
      input[type="submit"] {
        clear: both;
        margin: 0 0 $gutter 0;
      }
      input[type="submit"] {
        @include button;
        box-shadow: none;
      }
    }
  }
  .photo-grid {
    li {
      figcaption {
        cursor: auto;
      }
    }
  }
}
