@import '../_sass/bourbon/bourbon';
@import 'variables';

.bwit, .apprentice {
  article>h1 {
    margin-bottom: 1em;
  }
  article>p {
    margin-bottom: .75em;
  }
  article>ul, article>ol {
    margin-left: 2em;
    > li {
      color: #827377;
      > p {
        color: #827377;
        font-size: 1.1em;
        line-height: 150%;
        margin: 0 0 .6em 0;
      }
    }
  }
}

.apprentice {
  ul, ol {
    margin-left: 30px;
  }
  pre {
    font-family: monospace;
  }
}
