@import '../_sass/bourbon/bourbon';
@import 'variables';

#tech-feature-page {
  article {
    border-bottom: 0px;
  }
  > p {
    text-align: left;
    margin: $gutter 0 $gutter*2 0;
  }
  > h1 {
    display: block;
    font-size: 4em;
    text-align: center;
    line-height: 1em;
    margin: 0 0 $gutter*2 0;
  }
  h2 {
    color: $white;
  }
}
