@import '../_sass/bourbon/bourbon';
@import 'fonts';

// FONTS

$body-font: 'LTCircular', sans-serif;
$heading-font: 'LTCircular', sans-serif;

@mixin font-size {
  font-size: 16px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 12px;
  }
}

// COLORS

$black: #231f20;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$red: #da1036;
$teal: #3bbdb1;

// DIMENSIONS

$gutter: 10px;

// BREAKPOINTS

// Extra small screen / phone
$breakpoint-phone: 480px;

// Small screen / tablet
$breakpoint-tablet: 768px;

// Medium screen / desktop
$breakpoint-desktop: 992px;

// Large screen / wide desktop
$breakpoint-wide-desktop: 1200px;
