@import '../_sass/bourbon/bourbon';
@import 'fonts';

// FONTS

$body-font: 'LTCircular', sans-serif;
$heading-font: 'LTCircular', sans-serif;

// COLORS

$black: #231f20;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$red: #da1036;
$teal: #3bbdb1;

// DIMENSIONS

$sidebar-width: 25%;
$gutter: 10px;

@mixin navigation-links($number-of-links, $color) {
  @include display(flex);
  @include align-items(center);
  position: relative;
  width: 100%;
  height: 100% / $number-of-links;
  color: #fff;
  background-color: $color;
  box-shadow: inset 0 -4px 0 (darken($color, 10%));
  text-decoration: none;
  padding: 0 20px;
}

@mixin grid-layout($number-of-columns) {
  list-style: none;
  font-size: 0;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    display: inline-block;
    width: 100%/$number-of-columns;

    img {
      width: 100%;
      height: auto;
    }

    div {
      @include display(flex);
      @include align-items (center);
      @include justify-content(center);
      @include flex-direction(column);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($teal, .5);

      p {
        display: block;
        font-size: 20px;
        line-height: 1.5em;
      }
    }
  }
}
