@import '../_sass/bourbon/bourbon';
@import 'fonts';

// FONTS

$body-font: 'LTCircular', sans-serif;
$heading-font: 'LTCircular', sans-serif;

@mixin font-size {
  font-size: 16px;
  @media (max-width: $screen-sm-min) {
    font-size: 12px;
  }
}

// COLORS

$black: #231f20;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$red: #da1036;
$teal: #3bbdb1;

// DIMENSIONS

$gutter: 10px;


// BREAKPOINTS

// Extra small screen / phone
$screen-xs-min: 480px;

// Small screen / tablet
$screen-sm-min: 768px;

// Medium screen / desktop
$screen-md-min: 992px;

// Large screen / wide desktop
$screen-lg-min: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Responsive utilities

@mixin responsive-visibility($parent) {
  #{$parent} {
    display: block !important;
  }
}

@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none !important;
  }
}
