@import '../_sass/bourbon/bourbon';
@import 'fonts';

// FONTS

$body-font: 'LTCircular', sans-serif;
$heading-font: 'LTCircular', sans-serif;

@mixin font-size {
  font-size: 16px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 12px;
  }
}

// COLORS

$black: #231f20;
$white: #fff;
$gray: #f9f9f9;
$yellow: #fefa39;
$red: #da1036;
$teal: #3bbdb1;

// DIMENSIONS

$gutter: 10px;

// BREAKPOINTS

// Extra small screen / phone
$breakpoint-phone: 480px;

// Small screen / tablet
$breakpoint-tablet: 768px;

// Medium screen / desktop
$breakpoint-desktop: 992px;

// Large screen / wide desktop
$breakpoint-wide-desktop: 1200px;

// SmartLogic Logo

@mixin smartlogic-logo($logo-position, $seal-position, $wordmark-position) {
  h1 {
    width: 5.55em;
    height: 1em;
    background-image: url("/images/smartlogic-logo.svg");
    background-size: 5.55em 4em;
    background-position: $logo-position;
    font-size: 40px;
    text-indent: -9999px;
    margin: 0 0 .5em 0;
  } 
  @media (max-width: $breakpoint-tablet) {
    position: relative;
    top: auto;
    left: auto;
    display: block;
    font-size: 40px;
    text-align: center;
    h1 {
      width: 2.5em;
      height: 2.5em;
      background-image: url("/images/smartlogic-seal.svg");
      background-size: 2.5em 10em;
      background-position: $seal-position;
    }
    &:after {
      content: "";
      position: fixed;
      top: .8em;
      left: .6em;
      width: .5625em;
      height: 2.5em;
      background-image: url("/images/smartlogic-wordmark.svg");
      background-size: 2.25em 2.5em; 
      background-position: $wordmark-position;
    }
  }
}

@mixin smartlogic-logo-black {
  @include smartlogic-logo(0 0, 0 0, 0 0);
}

@mixin smartlogic-logo-red {
  @include smartlogic-logo(0 -1em, 0 -2.5em, -.5625em 0);
}

@mixin smartlogic-logo-yellow {
  @include smartlogic-logo(0 -2em, 0 -5em, -1.1250em 0);
}

@mixin smartlogic-logo-teal {
  @include smartlogic-logo(0 -3em, 0 -7.5em, -1.6875em 0);
}

// Button

@include button {
  color: #fff;
  background-color: $teal;
  &:hover {
    background-color: lighten($teal, 10%);
  }
  &:active {
    background-color: darken($teal, 10%);
  }
}
