.brand-assets {
  p {
    width: 100%;
  }
  div {
    width: 100%;
    border-bottom: solid 1px $black;
    padding: 2em 0;
    &:last-child {
      border-bottom: none;
    }
    h2 {
      color: lighten($black, 20%);
      font-size: 1.5em;
      font-weight: normal;
      text-align: left;
      margin: .5em 0;
    }
    a {
      position: relative;
      display: block;
      color: darken($red, 10%);
      padding: 0 0 0 1em;
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: .5em;
        height: .5em;
        background-color: $red;
        border-radius: .25em;
        margin-top: -.25em;
      }
      &:first-of-type {
        color: darken($teal, 10%);
        &:before {
          background-color: $teal;
        }
      }
      &:last-of-type {
        color: darken($yellow, 20%);
        &:before {
          background-color: $yellow;
        }
      }
    }
  }
}
