.case-study{
  padding: 50px 0;
  padding-left:40px;
  max-width: 1000px;

  p{
    font-size: 18px;
    line-height:1.5em;
    padding-bottom:1em;
  }
  h2{
    font-size: 30px;
    color: #7B868C;
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
  }
  figcaption{
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  img {
    max-width: 100%;
    border: solid 1px $teal;
  }
  figure{
    text-align: center;
  }
}

//
// old site case study css
// .case-study {
//   .content {
//     padding: 2em 4em;
//       h1 {
//         width: 1.5em;
//         height: 1.5em;
//       }
//     > h1 {
//       display: block;
//       font-size: 4em;
//       text-align: center;
//     }
//     .categories {
//       color: $teal;
//       font-size: 1em;
//       text-align: center;
//       margin: 0 0 1.5em 0;
//     }
//     section {
//       border-bottom: solid 1px $teal;
//       text-align: center;
//       padding: 1.5em 0;
//       &:last-child {
//         border-bottom: none;
//       }
//       h2 {
//         display: block;
//         font-size: 1.35em;
//         text-align: center;
//         margin: 0;
//       }
//       p {
//         color: lighten($black, 40%);
//         text-align: justify;
//         line-height: 170%;
//         padding: 1.5em 0;
//       }
//       ul {
//         list-style: square;
//       }
//       ul, ol {
//         color: lighten($black, 40%);
//         text-align: justify;
//         padding: 0 0 0 2em;
//         li {
//           padding: .5em 0;
//         }
//       }
//       img {
//         max-width: 100%;
//         border: solid 1px $teal;
//       }
//     }
//     figcaption {
//       padding: 0em 6em;
//     }
//   }
// }
