.casestudies__col{
  @include grid-column(12, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
  .casestudies__article{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.casestudies__article{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  @include tablet{
    align-items: center;
    margin-bottom: 35px;
  }
}
.casestudies__article-img{
  width: 150px;
  margin-right: 50px;
  @include tablet{
    margin-right: 25px;
    width: 120px;
  }
  img{
    width: 100%;
    display: block;
    padding-top: 9px;
    @include tablet{
      padding-top: 0;
    }
  }
}
.casestudies__article-text{
  width: 70%;
}
.casestudies__article-text-head{
  margin-bottom: 10px;
  .head-text{
    h3{
      color: $green;
      margin-bottom: 5px;
      @include tablet{
        font-size: 18px;
      }
    }
  }
}
.casestudies__article-text-desc{
  @include tablet{
    display: none;
  }
  p{
    font-size: 18px;
  }
}


.casestudies-horizontal__article-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-top: -60px;
  @include tablet{
    margin-top: 0;
    .casestudies-horizontal__article{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.casestudies-horizontal__article{
  @include grid-column(6, $my-custom-grid);
  margin-top: 60px;
  display: flex;
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
    margin-bottom: 40px;
    margin-top: 0;
  }
}
.casestudies-horizontal__article-img{
  width: 100px;
  margin-right: 20px;
  @include phone{
    width: 85px;
  }
  img{
    width: 100%;
    display: block;
  }
}
.casestudies-horizontal__article-text{
  flex: 1;
  p{
    padding-top: 5px;
    font-size: 18px;
    @include tablet{
      padding-top: 0;
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
    a{
      color: $green;
    }
  }
}

.casestudies-clients__text-wrap{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
}
.casestudies-clients__text-head{
  margin-bottom: 20px;
  @include tablet{
    margin-bottom: 10px;
  }
  .head-text{
    h2{
      @include tablet{
        font-size: 22px;
      }
    }
  }
}
.casestudies-clients__text-desc{
  margin-bottom: 30px;
  p{
    font-size: 18px;
    @include tablet{
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
  }
}
.casestudies-clients__logo-wrap{
  @include grid-column(10, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
}
.casestudies-clients__logo-list{
  margin-left: -20px;
  margin-top: -20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include tablet{
    margin-left: -5%;
  }
}
.casestudies-clients__logo-item{
  margin-left: 20px;
  margin-top: 20px;
  width: 22%;
  @include laptop{
    width: 20%;
  }
  @include tablet{
    margin-left: 5%;
    width: 45%;
  }
}
.casestudies-clients__logo-item-img{
  height: 50px;
  border: 1px solid #979797;
  background: #d8d8d8;
}
