.content-page-wrapper{
  text-align: center;
}
.content-block{
  display:inline-block;
  text-align: left;
  margin-left: 2em;
  margin-right:2em;
  max-width: 1000px;

  p{
    font-size: 18px;
    line-height:1.5em;
    padding-bottom:1em;
  }
  h2{
    font-size: 30px;
    color: #7B868C;
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
  }
  figcaption{
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .diagram{
    padding-top:2em;
    padding-bottom:2em;
  }
  figure{
    text-align: center;
  }
}
