.contact{
  .container{
    align-items: flex-start;
  }
}

.contact__left{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
    margin-bottom: 35px;
  }
}
.contact__left-form{
  ::placeholder { 
    color: #BFBFBF;
    opacity: 1; 
  }
  
  :-ms-input-placeholder {
    color: #BFBFBF;
  }
  
  ::-ms-input-placeholder { 
    color: #BFBFBF;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;  
  } 
}
.form__row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @include phone{
    flex-wrap: wrap;
  }
  .form__col-6{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.form__col-6{
  width: 48%;
  @include phone{
    width: 100%;
    margin-bottom: 25px;
  }
}
.form__col-12{
  width: 100%;
}
.form__col{
  label, input, textarea{
    display: block;
  }
  input, textarea{
    width: 100%;
    padding: 12px;
    background: #F5F8FA;
    border: 1px solid #CBD6E1;
    transition: .2s linear;
    -webkit-text-fill-color: #BFBFBF;
    border-radius: 3px;
  }
  label{
    font-size: 14px;
    @include circular(bold);
    color: #34475A;
    span{
      color: #FC0D1B;
    }
  }
}
.form__submit{
  button{
    border: 0px solid #F5F8FA;
    padding: 10px 15px;
    font-size: 16px;
    @include circular(blak);
    color: #ffffff;
    background: #FD7B5E;
    border-radius: 4px;
    cursor: pointer;
  }
}

.contact__right{
  @include grid-column(5, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
}
.contact__map-wrap{
  margin-bottom: 20px;
}
.contact__map{
  margin-bottom: 15px;
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
#map{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.contact__map-text{
  p{
    font-size: 18px;
    @include tablet{
      font-size: 16px;
    }
  }
}
.contact__right-text-head{
  margin-bottom: 20px;
  @include tablet{
    margin-bottom: 15px;
  }
  .head-text{
    h2{
      color: $green;
    }
  }
}

.contact__right-text-desc{
  p{
    font-size: 18px;
    color: $hcolor;
    margin-bottom: 20px;
    @include tablet{
      margin-bottom: 15px;
    }
    a{
      color: $green;
    }
  }
}
.contact__right-socilas-list{
  display: flex;
  align-items: center;
  margin-left: -10px;

}
.contact__right-socilas-item{
  width: 25px;
  margin-left: 10px;
}
.contact__right-socilas-link{
  display: block;
  img{
    vertical-align: middle;
    max-height: 25px;
  }
}