.content-page-wrapper{
  text-align: center;
}
.content-block{
  display:inline-block;
  text-align: left;
  margin-left: 2em;
  margin-right:2em;
  max-width: 1000px;

  p{
    font-size: 18px;
    line-height:1.5em;
    padding-bottom:1em;
  }
  h2{
    font-size: 30px;
    color: #7B868C;
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
  }
  figcaption{
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  .diagram{
    padding-top:2em;
    padding-bottom:2em;
  }
  figure{
    text-align: center;
  }
  // was trying to lift styling from the method page embed but am getting lost
  // iframe{
  //
  // }
  // .embed{
  //   @include grid-column(12, $my-custom-grid);
  //   @include grid-media($my-custom-grid-2){
  //     @include grid-column(12);
  //   }
  //   position: relative;
  //   height: 0;
  //   // padding-bottom: 50%;
  //   margin-bottom: 50px;
  //   @include phone{
  //     margin-bottom: 25px;
  //   }
  //   iframe{
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
}
