.main-home{
  .quote{
    @include tablet{
      &::after{
        display: none;
      }
    }
  }
}
.logo-bar{
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

.features__left{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(7);
    padding-left: $left;
  }
}
.features__left-text{
  margin-bottom: 30px;
}
.features__left-links{
  p{
    font-size: 18px;
    @include phone{
      font-size: 14px;
    }
    a{
      color: $green;
    }
  }
}
.quote{
  width: 75%;
  margin: 0 auto;
  @media screen and (max-width: 1600px){
    width: 90%;
  }
  @include desktop{
    width: 100%;
  }
  .container{
    @include tablet{
      align-items: flex-start;
    }
  }
}
.quote__left{
  @include grid-column(5, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(4);
  }
}
.quote__left-img{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-width: 350px;
    @include laptop{
      width: 100%;
    }
  }
}
.quote__right{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(8);
  }
}
.quote__right{
  p{
    font-size: 18px;
    color: $hcolor;
    @include circular(regularItalic);
    @include phone{
      font-size: 13px;
    }
  }
}
.quote__right-text{
  margin-bottom: 15px;
  @include phone{
    margin-bottom: 10px;
  }
}
.quote__right-author{
  p{
    text-align: right;
    padding-right: 10px;
    width: 75%;
    margin-left: 25%;
    // for some reason the formatting for attr was all nested under this phone include; commenting out for now
    // @include phone{
    //   text-align: right;
    //   padding-right: 10px;
    //   width: 75%;
    //   margin-left: 25%;
    // }
  }
}
.quote_reverse{
  .quote__right-author{
    padding-right: 10px;
    p{
      text-align: right;
    }
  }
}

blockquote{
  font-size: 20px;
  color: $hcolor;
  @include circular(regularItalic);
}
cite{
  font-size: 18px;
  color: $hcolor;
  @include circular(regularItalic);
  padding-right: 10px;
  padding-bottom:2em;
  text-align: right;
  width:90%;
}

.podcast-list{
  padding-left:1em;
}

.section-landing{
  padding: 50px;
}
h2.section-title{
  font-size: 32px;
  font-weight: 700;
  color: $black;
  text-align: center;
  padding-top: 10px;

  @include tablet{
    font-size: 28px;
  }
}
