.main-home{
  .quote{
    @include tablet{
      &::after{
        display: none;
      }
    }
  }
}
.logobar{
  padding: 25px 15px;
  @include laptop{
    padding:  10px;
  }
  @include phone{
    padding: 5px 10px 8px 10px;
  }
}
.logobar__wrap{
  @include phone{
    overflow-x: scroll;
  }
}
.logobar__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phone{
    width: 600px;
  }
}
.logobar__item{
  width: 15%;
  @include phone{
    width: 80px;
  }
  img{
    width: 100%;
    // max-height: 60px; nuked this to fix a scaling issue where logos were distorting at some window sizes
    @include laptop{
      max-height: 45px;
    }
  }
}
.logobar__item-order-mw{
  max-width: 125px;
}
.casestudy__left{
  @include grid-column(8, $my-custom-grid);
  @include grid-media($my-custom-grid-3){
    @include grid-column(12);
    margin-left: -15%;
    margin-bottom: 15px;
  }

}

.statement{
  padding: 60px;
  margin: auto;
  width: 60%;
}
.statement-container{
  text-align: center;
  font-size: 28px;
  font-weight: 450;
  align-self: center;
  color: #000000;
}
.statement-container > span{
  font-weight: 700;
}


.casestudy__left-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.casestudy__left-img, .casestudy__left-text{
  width: 48%;
}
.casestudy__left-img{
  img{
    width: 100%;
  }
}
.casestudy__left-text-head{
  margin-bottom: 15px;
  .head-text{
    h3{
      @include circular(bold);
    }
  }
}
.casestudy__left-text-link{
  a{
    padding: 7px 16px;
    border: 1px solid $green;
    color: $green;
    @include laptop{
      padding: 5px 10px;
      font-size: 12px;
    }
    @include phone{
      padding: 8px 15px;
    }
  }
}

.casestudy__right{
  @include grid-column(4, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
  .casestudy__right-article{
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.casestudy__right-article{
  padding: 25px 0 25px 50px;
  border-left: 3px solid $green;
  margin-bottom: 40px;
  @include laptop{
    padding: 10px 0 10px 15px;
    border-left-width: 2px;
  }
  @include tablet{
    margin-bottom: 15px;
    padding: 5px 0 5px 15px;
  }
}
.casestudy__right-article-desc{
  p{
    font-size: 18px;
    @include circular(medium);
    a{
      @include circular;
      font-size: 15px;
      color: $green;
      display: block;
      margin-top: 15px;
      @include laptop{
        font-size: 12px;
      }
      @include laptop{
        font-size: 14px;
        display: inline;
        margin-top: 0;
      }
    }
    @include laptop{
      font-size: 16px;
    }
    @include tablet{
      font-size: 14px;
    }
  }
}


h2.section-title{
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.logo-bar{
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}

.features-container{
  margin: auto;
  max-width: 80%;
}
.features-logo{
  max-height: 70px;
  width: auto;
}
.features__left{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(7);
    padding-left: $left;
  }
}
.features__left-text{
  margin-bottom: 30px;
}
.features__left-links{
  p{
    font-size: 18px;
    @include phone{
      font-size: 14px;
    }
    a{
      color: $green;
    }
  }
}

.features__right{
  @include grid-column(5, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(5);
  }
}
.features__right-img{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include phone{
    flex-direction: column;
    justify-content: center;
  }
  img{
    width: 45%;
    @include phone{
      width: 65%;
      margin-bottom: 20px;
    }
  }
}
.quote{
  width: 75%;
  margin: 0 auto;
  @media screen and (max-width: 1600px){
    width: 90%;
  }
  @include desktop{
    width: 100%;
  }
  .container{
    @include tablet{
      align-items: flex-start;
    }
  }
}
.quote__left{
  @include grid-column(5, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(4);
  }
}
.quote__left-img{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-width: 350px;
    @include laptop{
      width: 100%;
    }
  }
}
.quote__right{
  @include grid-column(7, $my-custom-grid);
  @include grid-media($my-custom-grid-2){
    @include grid-column(8);
  }
}
.quote__right{
  p{
    font-size: 18px;
    color: $hcolor;
    @include circular(regularItalic);
    @include phone{
      font-size: 13px;
    }
  }
}
.quote__right-text{
  margin-bottom: 15px;
  @include phone{
    margin-bottom: 10px;
  }
}
.quote__right-author{
  p{
    text-align: right;
    padding-right: 10px;
    width: 75%;
    margin-left: 25%;
    // for some reason the formatting for attr was all nested under this phone include; commenting out for now
    // @include phone{
    //   text-align: right;
    //   padding-right: 10px;
    //   width: 75%;
    //   margin-left: 25%;
    // }
  }
}
.quote_reverse{
  .quote__right-author{
    padding-right: 10px;
    p{
      text-align: right;
    }
  }
}

blockquote{
  font-size: 20px;
  color: $hcolor;
  @include circular(regularItalic);
}
cite{
  font-size: 18px;
  color: $hcolor;
  @include circular(regularItalic);
  padding-right: 10px;
  padding-bottom:2em;
  text-align: right;
  width:90%;
}

.podcast-list{
  padding-left:1em;
}

.pillar-card{
  margin: auto;
  width: 75%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 32px;
  background-color: $yellow;
}

.pillar-text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.pillar-card h2{
  font-weight: 900;
}
.pillar-card h2 > span {
  color: #000000;
  font-size: 32px;
  font-weight: 700;
}
.hidden-card{
  display: none;
}
.pillar-text-content > p{
  font-size: 28px;
  font-weight: 450;
  color: #000000;
  text-align: center;
}
.pillar-arrows{
  display: flex;
  gap: 10px;
}
.pillar-arrows > button{
  background: none;
  border: none;
}
.arrow{
  width: 28px;
  height: 32px;
}

.projects-container{
  margin: auto;
  width: 85%;
}
.projects-logo{
  max-height: 75px;
}

.testimonials{
  background-size: 100% 100%;
  background-image: linear-gradient(97.29deg, rgba(99, 187, 176, 0.9) 0.66%, rgba(249, 223, 82, 0.9) 121.56%), url("../../images/contents/sl_office_newer.jpg");
  padding: 96px;
}

.testimonials  *{
  color: #000000;
}

.testimonials > blockquote {
  margin: auto;
  width: 75%;
  padding: 32px;;
  text-align: center;
}
.testimonials p{
  font-size: 28px;
  font-weight: 450;
  text-align: center;
}
.testimonials span{
  font-size: 14px;
  font-weight: 450;
}
.testimonials-logo{
  max-height: 108px;
}


/* The Modal (background) */
.case-study-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  // width: 100%; /* Full width */
  // height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background: #FFFFFFFA;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 1440px;
  height: 1080px;
// top: -536px;
// left: 2463px;
}

.modal-side-bar{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 40px;
  background: linear-gradient(180deg, #63BBB0 0%, #F9DF52 100%);
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-left: 40px; /* 15% from the top and centered */
  padding: 50px;
  // border: 1px solid #888;
  // height: 100%;
  // width: 100%; /* Could be more or less, depending on screen size */
}

.modal-case-study-details{
  max-width: 48%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modal-sub-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-sub-container:first-child{
  gap: 24px;
}
.modal-case-study-details h2{
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.modal-case-study-details p{
  color: #000000;
  font-size: 18px;
}

.modal-case-study-details p.overview{
  font-size: 28px;
  font-weight: 450;
}

.modal-case-study-details h5{
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-case-study-details ul{
  padding-left: 20px;
  list-style-type: disc;
  color: #000000;
  font-size: 18px;
  font-weight: 450;
}

.button-container{
  width: 257px;
  height: 58px;
  border-radius: 6px;
  background-color: #000000;
  padding: 8px 40px;
}
.button-container a{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 450;
  text-align: center;
  vertical-align: baseline;
}

/* The Close Button */
.modal-close {
  align-self: start;
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-logo{
  max-width: 267px;
}

.modal-picture-container::after{
  content: ' ';
  display: table;
  clear: both;
}
.modal-overlapping-picture-first{
  // max-width: 325px;
  float: left;
      width: 75%;
}

.modal-overlapping-picture-second{
  // max-width: 440px;
  // z-index:2;
  float: right;
    width: 66%;
    margin-right: -100%;
    padding-top: 15%; // arbitrary
    position: relative;
    z-index: 1;
}
