.privacy {
  margin-left: 16px;
  margin-right: 16px;
  h1 {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  h2 {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  h3 {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  li {
    padding: 6px;
  }
}
