.technologies{
  padding: 50px 0;
  .horizontal-list{
    margin-bottom: 0;
  }
  .horizontal-list__item-text-head p{
    font-weight:bold;
  }
  .casestudies__article-text-head a{
    text-decoration: underline;
  }
}

// need to move this back inside the above scope, and get the items listed inside that scope
