.technology{
  padding: 50px 0;
  padding-left:40px;
  // max-width: 1000px;

  p{
    font-size: 18px;
    line-height:1.5em;
    padding-bottom:1em;
    padding-right:2em;
    max-width: 1000px;
  }
  h2{
    font-size: 30px;
    color: #7B868C;
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-bottom: 1em;
    padding-right:2em;
    max-width: 1000px;
  }
  figcaption{
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  img{
    padding-top:2em;
    padding-bottom:2em;
    padding-right:2em;
    max-width: 1000px;
  }
  figure{
    text-align: center;
  }
  #mc_embed_signup{
    text-align: left;
    padding-right:2em;
    max-width: 1000px;
  }
}
