---
layout: default
title: Software Developers, Our Team | SmartLogic
metadescription: Our talented team of software developers creates web and mobile apps with Ruby on Rails, iOS, Android, and more.
---
<article id="team">
  <h2>Team</h2>
  <figure>
    <h3>Dan Ivovich, Director of Development Operations</h3>
    <img src="/images/team/dan_wide.png" alt="Dan Ivovich" title="Dan Ivovich" width="450" height="170">
    <p>
    Dan is a software developer and DevOps enthusiast.
    He loves writing code, solving problems, and discussing new approaches to application development.
    In his free time he likes to read, play video games, and visit with family and friends.
    </p>
    <footer>
    <a href="skype:danivovich"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
    <a href="mailto:dan@smartlogicsolutions.com"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/danivovich"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/divovich"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/danivovich"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
    </footer>
  </figure>
  {% include team/ryan.html %}
  {% include team/yair.html %}
  {% include team/sam.html %}
  {% include team/ara.html %}
  {% include team/carlos.html %}
  {% include team/matt.html %}
  {% include team/eric.html %}
  {% include team/paul.html %}
  {% include team/tom.html %}
  {% include team/brian.html %}
</article>
