@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0em;
	margin: 0 auto;
	background-color: #f5f5f5;
}

div.container {
	width: 960px;
	margin: 0 auto;
}

p, h2 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

a[href="tel:443-451-3001"] {
	text-decoration: inherit;
	color: inherit;
}

/*** HEADER ***/
header {
	height: 52px;
	border-bottom: solid 1px #C8C8C8;
	background: url('../images/header-bg.png') repeat-x;
}

header img {
	margin-top: 7px;
}

header span {
	float: right;
	padding-top: 10px;
	padding-right: 3em;
	color: #828282;
	font-size: 18pt;
}

/*** NAV LINKS ***/
body > nav {
	height: 27px;
	border-bottom: solid 1px #B4B4B4;
	background: url('../images/nav-bg.png') repeat-x;
}

body > nav a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 44px;
	padding: 3px;
	color: #636363;
	text-shadow: 0 -1px 0 #eee;
}

body > nav a:hover {
	color: #333;
}

/*** ARTICLES ***/
body > article, body > div > article {
	display: none;
}

body > article#about, body > div > article#about {
	display: block;
}

article nav a {
	display: block;
}

article figure {
	display: inline;
}
	
	/*** PORTFOLIO ***/
	article#portfolio > article {
		height: 260px;
		color: #777;
		font-size: 11pt;
		line-height: 165%;
		background-color: white;
		border: solid 1px #DCDCDC;
		border-radius: 6px;
		padding: 8px;
		margin-bottom: 20px;
		position: relative;
		-moz-box-shadow: 1px 2px 1px #CCC;
		-webkit-box-shadow: 1px 2px 1px #CCC;
		box-shadow: 1px 2px 1px #CCC;
	}

	article#portfolio > article:last-child {
		background-color: inherit;
		border: 0px;
		padding: 0px;
		-moz-box-shadow: 0px 0px 0px #FFF;
		-webkit-box-shadow: 0px 0px 0px #FFF;
		box-shadow: 0px 0px 0px #FFF;
	}

	article#portfolio > article img {
		float: left;
		height: 260px;
		width: 420px;
		margin-right: 26px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	article#portfolio > article h2 {
		color: #5a5a5a;
		font-size: 20pt;
		padding: 12px 20px;
	}

	article#portfolio > article p {
		color: #7a7a7a;
		padding: 6px 20px;
		font-size: 10pt;
	}

	article#portfolio > article:last-child img {
		width: 150px;
		height: 60px;
	}

	article#portfolio > article a {
		color: #32aaaa;
	}

	article#portfolio footer {
		background: url('../images/portfolio-item-bg.png') repeat-x;
		font-size: inherit;
		padding: 5px 0px 5px 11px;
		position: absolute;
		bottom: 18px;
		right: 0px;
		width: 519px;
		border: 0px;
		height: 25px;
		margin-bottom: 0px;
		box-shadow: 0px 5px 1px #CCC;
	}

	article#portfolio footer a {
		color: white;
		text-shadow: 0px -1px 0px #0F7C79;
		text-decoration: none;
	}

	article#portfolio footer a:last-child {
		float: right;
		margin-right: 12px;
	}

	article#portfolio footer a:last-child:after {
		content: url('../images/portfolio-item-bg-wrap-around.png');
		position: absolute;
		display: block;
		right: -24px;
		top: -9px;
	}

/*** FOOTER ***/
footer {
	background-color: #6AC8C8;
	border-top: solid 4px black;
	border-bottom: solid 1px black;
	padding-top: 8px;
	font-size: 75%;
}

footer p, footer address {
	float: left;
	margin-right: 150px;
	font-style: normal;
}
