@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	padding: 0em;
	margin: 0 auto;
	background-color: #f5f5f5;
}

div.container {
	width: 960px;
	margin: 0 auto;
}

p, h2, address {
	margin: 14px 0;
	padding: 0px;
}

h3 {
	margin-top: 8px;
}

a {
	color: #32aaaa;
}

a[href="tel:443-451-3001"] {
	text-decoration: inherit;
	color: inherit;
}

/*** HEADER ***/
header {
	height: 52px;
	border-bottom: solid 1px #C8C8C8;
	background: url('../images/header-bg.png') repeat-x;
}

header img {
	margin-top: 7px;
}

header span {
	float: right;
	padding-top: 10px;
	padding-right: 3em;
	color: #828282;
	font-size: 18pt;
}

/*** NAV LINKS ***/
body > nav {
	height: 27px;
	border-bottom: solid 1px #B4B4B4;
	background: url('../images/nav-bg.png') repeat-x;
}

body > nav a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 0 36px;
	padding: 3px;
	color: #636363;
	text-shadow: 0 -1px 0 #eee;
}

body > nav a:hover {
	color: #333;
}

/*** ARTICLES ***/
body > article, body > div > article {
	display: none;
}

body > div > article h2 {
	color: #5a5a5a;
	text-shadow: 0 -1px 0 #fff;
}

body > article#about, body > div > article#about {
	display: block;
}

article nav a {
	display: block;
}

article figure {
	display: inline;
}

/*** TEAM ***/

        article#team figure {
		width: 210px;
		height: 140px;
		color: #777;
		font-size: 11pt;
		line-height: 165%;
		background-color: white;
		border: solid 1px #DCDCDC;
		border-radius: 6px;
		padding: 8px;
		margin: 0 0 12px 12px;
		position: relative;
		-moz-box-shadow: 0 2px 1px #CCC;
		-webkit-box-shadow: 0 2px 1px #CCC;
		box-shadow: 0 2px 1px #CCC;
		display: block;
		position: relative;
		float: left;
	}

	article#team footer {
		width: 210px;
		height: 24px;
		background-color: #000;
		position: absolute;
		bottom: 8px;
		display: none;
	}

	article#team figure:hover footer {
		display: block;
	}

/*** PORTFOLIO ***/

	article#portfolio > article {
		height: 260px;
		color: #777;
		font-size: 11pt;
		line-height: 165%;
		background-color: white;
		border: solid 1px #DCDCDC;
		border-radius: 6px;
		padding: 8px;
		margin-bottom: 20px;
		position: relative;
		-moz-box-shadow: 0 2px 1px #CCC;
		-webkit-box-shadow: 0 2px 1px #CCC;
		box-shadow: 0 2px 1px #CCC;
	}

	article#portfolio > article:last-child {
		background-color: inherit;
		border: 0px;
		padding: 0px;
		-moz-box-shadow: 0px 0px 0px #FFF;
		-webkit-box-shadow: 0px 0px 0px #FFF;
		box-shadow: 0px 0px 0px #FFF;
	}

	article#portfolio > article img {
		float: left;
		height: 260px;
		width: 420px;
		margin-right: 26px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	article#portfolio > article h2 {
		color: #5a5a5a;
		font-size: 20pt;
		padding: 4px 20px;
	}

	article#portfolio > article p {
		color: #7a7a7a;
		padding: 6px 20px;
		font-size: 10pt;
	}

	article#portfolio > article:last-child img {
		width: 150px;
		height: 60px;
	}

	article#portfolio footer {
		background: url('../images/portfolio-item-bg.png') repeat-x;
		font-size: inherit;
		padding: 5px 0px 5px 11px;
		position: absolute;
		bottom: 18px;
		right: 0px;
		width: 519px;
		border: 0px;
		height: 25px;
		margin-bottom: 0px;
		box-shadow: 0px 5px 1px #CCC;
	}

	article#portfolio footer a {
		color: white;
		text-shadow: 0px -1px 0px #0F7C79;
		text-decoration: none;
	}

	article#portfolio footer a:last-child {
		float: right;
		margin-right: 12px;
	}

	article#portfolio footer a:last-child:after {
		content: url('../images/portfolio-item-bg-wrap-around.png');
		position: absolute;
		display: block;
		right: -24px;
		top: -9px;
	}

/*** CONTACT ***/

	article#contact img {
		background-color: #fff;
		border: solid 1px #dcdcdc;
		border-radius: 6px;
		padding: 8px;
		margin-right: 14px;
	}

	 article#contact img:last-child {
		margin: 0;
	}

	article#contact iframe {
		background-color: #fff;
		border: solid 1px #dcdcdc;
		border-radius: 6px;
		padding: 8px;
		margin: 18px 0 18px 30px;
		float: right;
	}

	article#contact img#etc-photo {
		margin: 18px 30px 18px 0;
		clear: both;
	}

/*** COOL STUFF ***/

	article#cool-stuff article {
		width: 290px;
		float: left;
		height: 400px;
       		margin-right: 20px;
		margin-bottom: 20px;
		background-color: white;
		border-radius: 6px;
		border: solid 1px #dcdcdc;
		box-shadow: 0 2px 1px #ccc;
	}

	article#cool-stuff img {
		box-shadow: 0 2px 1px #ccc;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	article#cool-stuff h3 {
		color: #5a5a5a;
		padding: 0 12px;
	}
	
	article#cool-stuff p {
		color: #7a7a7a;
		font-size: 10pt;
		padding: 0 12px;
	}

/*** FOOTER ***/
body > footer {
	color: #0A7878;
	background-color: #6AC8C8;
	border-top: solid 2px #32aaaa;
	padding: 4px 0;
	margin-top: 18px;
	font-size: 75%;
	line-height: 150%;
	clear: both;
}

body > footer p, body > footer address {
	float: left;
	margin-right: 150px;
	font-style: normal;
}

body > footer a {
	color: #dff3f3;
	text-decoration: none;
}

body > footer a:hover {
	color: #fff;
	text-decoration: underline;
}
