@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
	margin: auto;
	width: 850px;
}

/*** HEADER ***/
header {
	height: 52px;
	border-bottom: solid 1px #C8C8C8;
	background: url('images/header-bg.png') repeat-x;
}

header div {
	float: right;
	clear: right;
}

/*** NAV LINKS ***/
body > nav {
	height: 27px;
	border-bottom: solid 1px #B4B4B4;
	background: url('images/nav-bg.png') repeat-x;
}

body > nav a {
	display: block;
	float: left;
	width: 150px;
	text-align: center;
	text-decoration: none;
	margin: 5px;
	padding: 5px;
	color: green;
}

body > nav a:hover {
	color: black;
}

/*** ARTICLES ***/
body > article {
	display: none;
}

body > article#about {
	display: block;
}

article nav a {
	display: block;
}

article figure {
	display: inline;
}
	
	/*** PORTFOLIO ***/
	article#portfolio > article {
		height: 402px;
		margin-left: 105px;
		overflow: scroll;
	}
	
	article#portfolio > nav {
		width: 105px;
		position: absolute;
	}
	
	article#portfolio > nav img {
		width: 102px;
	}
	
/*** FOOTER ***/
footer {
	font-size: 75%;
}

footer p {
	float: left;
	margin-right: 5em;
}
