.footer__big{
  background-repeat: no-repeat !important;
  background-position: 50% 42% !important;
  background-size: cover !important;
  padding: 50px 0;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 400px;
  color: #fff;
  &:after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#7B868C, .65);
    z-index: 1;
  }
  @include laptop{
    min-height: 300px;
    padding: 25px 0;
  }
  @include phone{
    min-height: auto;
    padding: 50px 0;
  }

}

.footer__main{
  .footer__big{
    background: url('../images/contents/sl_office_newer.jpg');
  }
}
.footer__case{
  .footer__big{
    background: url('../images/contents/SL_Office_April2018_0G1A8945.jpg');
    background-position: 50% 30% !important;
  }
}
.footer__method{
  .footer__big{
    background: url('../images/contents/SL_Office_April2018_0G1A8945.jpg');
    background-position: 50% 30% !important;
  }
}
.footer__technologies{
  .footer__big{
    background: url('../images/contents/sl-office-CP-SV.jpg');
    background-position: 50% 30% !important;
  }
}
.footer__team{
  .footer__big{
    background: url('../images/contents/SL_Office_April2018_0G1A8939.jpg');
    background-position: 50% 50% !important;
  }
}
.footer__community{
  .footer__big{
    background: url('../images/contents/sl-office-shot-RB.jpg');
    background-position: 50% 30% !important;
  }
}
.footer__contact{
  .footer__big{
    background: url('../images/contents/SL_Office_April2018_1G7A8353.jpg');
    background-position: 50% 30% !important;
  }
}
.footer__big-left{
  @include grid-column(7, $my-custom-grid);
  position: relative;
  z-index: 2;
  padding-right: 25px;
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
  }
}
.footer__big-left-text-head{
  margin-bottom: 20px;
  @include laptop{
    margin-bottom: 10px;
  }
  .head-text{
    h2{
      color: #fff;
      @include phone{
        font-size: 24px;
      }
    }
  }
}
.footer__big-left-text-dec{
  margin-bottom: 20px;
  @include laptop{
    margin-bottom: 12px;
  }
  p{
    font-size: 18px;
    @include laptop{
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
  }
}
.footer__big-left-link{
  a{
    font-size: 14px;
    padding: 9px 35px;
    background: $green;
    color: #fff;
  }
}

.footer__big-right{
  @include grid-column(5, $my-custom-grid);
  position: relative;
  z-index: 2;
  @include tablet{
    display: none;
  }
  p{
    font-size: 18px;
    margin-bottom: 5px;
    @include circular(regularItalic);
    @include laptop{
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
  }
}
.footer__big-right-client{
  text-align: right;
  padding-right: 20px;
}
.footer__wrap{
  padding: 50px 0;
  background: $yellow;
  .container{
    align-items: flex-start;
  }
  @include tablet{
    padding: 35px 0;
  }
}
.footer__wrap-col{
  @include grid-column(12, $my-custom-grid);
  display: flex;
  align-items: center;
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }
  @include phone{
    width: 70%;
  }
}
.footer__left{
  @include tablet{
    order: 2;
  }
}
.footer__left-logo{
  a{
    display: inline-block;
    img{
      width: 250px;
      @include laptop{
        width: 180px;
      }
      @include phone{
        width: 200px;
      }
    }
  }
}
.footer__left-text{
  margin-left: 59px;
  @include laptop{
    margin-left: 42px;
  }
  @include tablet{
    margin-left: 47px;
  }
  p{
    font-size: 14px;
    color: #000000;
    margin-bottom: 3px;
  }
}
.footer__right{
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
  @include laptop{
    margin-right: 0;
  }
  @include tablet{
    order: 1;
    margin-bottom: 25px;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
    align-items: flex-start;
  }
  @include phone{
    justify-content: center;
    align-items: center;
  }
}
.footer__right-socials-list{
  width: 135px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -15px;
  margin-top: -5px;
  margin-right: 35px;
  @include laptop{
    margin-right: 25px;
  }
  @include tablet{
    width: auto;
    margin-left: -10px;
  }
}
.footer__right-socials-item{
  margin-left: 15px;
  margin-top: 5px;
  width: 25px;
  @include tablet{
    margin-left: 10px;
  }
  a{
    display: block;
    img{
      max-height: 25px;
    }
  }
}

.footer__right-menu{
  @include tablet{
    order: -1;
    margin-bottom: 15px;
  }
}
.footer__right-menu-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  width: 240px;
  margin-left: -35px;
  @include laptop{
    margin-left: -25px;
  }
}
.footer__right-menu-item{
  margin-bottom: 5px;
  margin-left: 35px;
  @include laptop{
    margin-left: 25px;
  }
  a{
    font-size: 14px;
    color: #000000;
  }
}
