
.horizontal-list{
  margin-top: -45px;
  @extend %clearfix;
  display: flex;
  flex-wrap: wrap;
  @include tablet{
    margin-top: 0;
    .horizontal-list__item{
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.horizontal-list__item{
  @include grid-column(6, $my-custom-grid);
  margin-top: 45px;
  display: flex;
  align-items: flex-start;
  @include grid-media($my-custom-grid-2){
    @include grid-column(12);
    margin-top: 0;
    margin-bottom: 35px;
  }
}
.horizontal-list__item-img{
  width: 150px;
  @include laptop{
    width: 100px;
  }
  @include phone{
    width: 85px;
  }
  img{
    display: block;
    max-width: 100%;
    max-height: 175px;
    margin: 0 auto;
  }
}
.horizontal-list__item-text{
  flex: 1;
  margin-left: 30px;
}
.horizontal-list__item-text-head{
  margin-bottom: 15px;
  @include tablet{
    margin-bottom: 10px;
  }
  @include phone{
    margin-bottom: 5px;
  }
  p{
    font-size: 20px;
    font-weight: 400;
    color: $hcolor;
    @include laptop{
      font-size: 18px;
    }
    @include tablet{
      font-size: 16px;
    }
    @include phone{
      font-size: 14px;
    }
  }
}
.horizontal-list__item-text-desc{
  max-width: 87%;
  @include desktop{
    max-width: 100%;
  }
  p{
    font-size: 16px;
    color: $hcolor;
    @include phone{
      font-size: 14px;
    }
  }
}