// Marketing divider styling
.marketing-divider {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;

  &__line {
    width: 100%;
    border-top: 1px solid $marketing-border-gray;
  }
}

@media (max-width: 768px) {
  .marketing-divider {
    max-width: 768px;
    padding: 0 40px;
  }
}
