.marketing-quote-box {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 109px;
  }

  &__box {
    width: 100%;
    height: 194px;
    border-top-left-radius: $marketing-border-radius;
    border-top-right-radius: $marketing-border-radius;
    background-color: $marketing-bg-light-blue;
    display: flex;
    justify-content: center;
    padding: 52px 0;
  }

  &__content {
    max-width: 714px;
    width: 100%;
    height: 95px;
    display: flex;
    gap: 10px;
  }

  &__quote-icon {
    width: 48px;
    min-width: 48px;
    height: 26px;
    padding: 0 8px;
  }

  &__text-container {
    flex: 1;
    height: 95px;
    padding-top: 8px;
  }

  &__text {
    width: 100%;
    height: 87px;
    font-family: $font-circular-reg;
    font-weight: 400;
    font-size: clamp(18px, 2vw, 24px);
    line-height: clamp(22px, 2.5vw, 28px);
    color: $marketing-text-black;
  }

  &__author {
    font-family: $font-inter;
    font-weight: 400;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: clamp(20px, 2.5vw, 28px);
    color: $marketing-text-teal-light;
  }
}

@media (min-width: 1920px) {
  .marketing-quote-box {
    .container {
      max-width: 1920px;
      padding: 0 225px 0 225px;
    }
  }
}

@media (max-width: 768px) {
  .marketing-quote-box {
    .container {
      max-width: 768px;
      padding: 0 20px;
    }

    &__box {
      height: 210px;
      padding: 44px 0;
    }

    &__content {
      max-width: 633px;
      height: 123px;
      gap: 12px;
    }

    &__text-container {
      height: 123px;
    }

    &__text {
      height: 115px;
    }
  }
}
