// Marketing call to action second panel 
.marketing-cta-panel-2 {
  .container {
    @include marketing-container(726px);
    padding: 96px 0;
  }

  &__content {
    width: 100%;
    max-width: 650px;
    margin-left: 112px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__title {
    @include marketing-title-medium;
    max-width: 552px;
  }

  &__subtitle {
    @include marketing-body-text;
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__details-title {
    font-family: $font-circular-medium;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $marketing-text-gray;
  }

  &__details-text {
    @include marketing-body-text;

    ul {
      list-style-type: disc;
      margin: 0;
      padding-left: 56px;
    }

    p {
      margin: 16px 0 0 0;
    }
  }

  &__cta-button {
    @include marketing-button;
  }

  &__image {
    position: absolute;
    right: 112px;
    width: calc(100% - 762px - 224px);
    max-width: 376px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 1920px) {
  .marketing-cta-panel-2 {
    .container {
      max-width: 1920px;
    }

    &__content {
      max-width: 906px;
      margin-left: 225px;
    }

    &__header {
      max-width: 790px;
    }

    &__title {
      max-width: 772px;
    }

    &__subtitle {
      max-width: 906px;
    }

    &__details {
      max-width: 906px;
    }

    &__image {
      right: 226px;
    }
  }
}

@media (max-width: 768px) {
  .marketing-cta-panel-2 {
    .container {
      max-width: 768px;
      height: auto;
      min-height: calc(570px + (768px - 100vw) * 0.5);
      display: block;
      padding: 48px 0 36px;
    }

    &__content {
      width: calc(100% - 80px);
      max-width: 688px;
      margin-left: 40px;
      margin-right: 40px;
      gap: 16px;
    }

    &__header {
      gap: 16px;
    }

    &__title {
      width: 100%;
    }

    &__subtitle {
      width: 100%;
    }

    &__details {
      width: 100%;
    }

    &__cta-button {
      width: 228px;
      height: 56px;
      padding: 16px 24px;
      margin-bottom: 32px;
    }

    &__image {
      display: none;
    }
  }
}
