// Custom Schdule a Call form styles (instead of jotform if needed)
.marketing-schedule-a-call {
  &__box {
    width: calc(100% - 224px);
    max-width: 1216px;
    margin: 0 auto;
    border-radius: $marketing-border-radius $marketing-border-radius 0 0;
    background-color: $marketing-bg-yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0 64px;
  }

  &__content {
    width: 100%;
    max-width: 799px;
    gap: 32px;
  }

  &__text-box {
    width: 100%;
    max-width: 802px;
  }

  &__header {
    @include marketing-title-medium;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: $marketing-text-teal;
  }

  &__subheader {
    @include marketing-body-text;
    text-align: center;
    padding: 16px 0;
  }

  &__form {
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    padding: 0 24px;
  }

  &__input {
    width: 100%;
    max-width: 685px;
    height: 60px;
    padding: 16px 24px;
    font-family: $font-circular-reg;
    font-size: 16px;
    border: 1px solid $marketing-border-gray;
    border-radius: 8px;
    background-color: $marketing-bg-off-white;

    &::placeholder {
      color: #9CA3AF;
    }

    &:focus {
      outline: none;
      border-color: $marketing-text-teal;
    }
  }

  &__button-container {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    @include marketing-button;
    width: 185px;
    height: 56px;

    span {
      width: 93px;
      height: 24px;
    }
  }
}

@media (min-width: 1920px) {
  .marketing-schedule-a-call {
    .container {
      max-width: 1920px;
    }

    &__box {
      max-width: 1472px;
    }

    &__content {
      padding-right: 48px;
    }
  }
}

@media (max-width: 768px) {
  .marketing-schedule-a-call {
    &__box {
      width: calc(100% - 80px);
      max-width: 688px;
      margin-top: 50px;
    }

    &__content {
      padding: 0 20px;
    }

    &__text-box {
      margin-bottom: 32px;
    }

    &__header {
      margin-bottom: 16px;
    }

    &__subheader {
      max-width: 645px;
      padding: 0;
    }

    &__form {
      margin-top: 64px;
      padding: 0;
    }

    &__input {
      max-width: 630px;
    }
  }
}
