// Marketing call to action third panel 
.marketing-cta-panel-3 {
  .container {
    @include marketing-container(609px);
    padding: 96px 0;
  }

  &__content {
    width: 100%;
    max-width: 648px;
    margin-left: 112px;
  }

  &__title {
    @include marketing-title-medium;
    margin-bottom: 32px;
  }

  &__description {
    @include marketing-body-text;
    margin-bottom: 32px;

    p:first-child {
      margin-bottom: 32px;
    }
  }

  &__cta-button {
    @include marketing-button;
  }

  &__image {
    position: absolute;
    right: 112px;
    width: calc(100% - 760px - 224px);
    max-width: 312px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: 1920px) {
  .marketing-cta-panel-3 {
    .container {
      max-width: 1920px;
    }

    &__content {
      margin-left: 224px;
    }

    &__image {
      right: 224px;
    }
  }
}

@media (max-width: 768px) {
  .marketing-cta-panel-3 {
    .container {
      max-width: 768px;
      height: auto;
      min-height: calc(510px + (768px - 100vw) * 0.5);
      display: block;
      padding: 48px 0 48px;
    }

    &__content {
      width: calc(100% - 80px);
      max-width: 688px;
      margin-left: 40px;
      margin-right: 40px;
      gap: 16px;
    }

    &__title {
      width: 100%;
    }

    &__description {
      width: 100%;
    }

    &__cta-button {
      width: 200px;
      height: 56px;
      padding: 16px 24px;
    }

    &__image {
      display: none;
    }
  }
}

// Small mobile (480px and below)
// Scale down font sizes proportionally
.marketing-cta-panel-3 {
  @include marketing-cta-small-mobile;
}
