/* The Modal (background) */
/* Modal Content/Box */
/* The Close Button */
.case-study-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #FFFFFFFA;
	box-shadow: 0px 4px 4px 0px #00000040;
}
.modal-side-bar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 40px;
	background: linear-gradient(180deg, #63BBB0 0%, #F9DF52 100%);
}
.modal-content {
	display: flex;
	@include tablet{
		flex-direction: column;
	}
	align-items: center;
	align-content: center;
	justify-content: space-around;
	margin-left: 40px;
	padding: 50px;
	gap: 32px;
}
.modal-case-study-details {
	max-width: 48%;
	@include tablet{
		max-width: 98%;
	}
	display: flex;
	flex-direction: column;
	gap: 32px;
	h2 {
		font-size: 32px;
		font-weight: 700;
		color: $black;
	}
	p {
		color: $black;
		font-size: 18px;
	}
	p.overview {
		font-size: 28px;
		font-weight: 450;
	}
	h5 {
		color: $black;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
	}
	ul {
		padding-left: 20px;
		list-style-type: disc;
		color: $black;
		font-size: 18px;
		font-weight: 450;
	}
}
.modal-sub-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	&:first-child {
		gap: 24px;
	}
}
.button-container {
	width: 257px;
	height: 58px;
	border-radius: 6px;
	background-color: $black;
	padding: 16px 40px;
	a {
		color: $white;
		font-size: 18px;
		font-weight: 450;
		text-align: center;
		vertical-align: baseline;
	}
}
.button-container:hover{
    background-color: $teal;
}
.modal-logo {
	max-width: 45%;
}
.modal-picture-container {
	position: relative;
	align-self: start;
}
.modal-overlaping-picture-first{
    width: 85%;
	padding-top: 100px;
}
.modal-overlaping-picture-second{
    width: 100%;
    position: absolute;
    top: 325px;
    left: 75px;
}
.modal-close {
	align-self: start;
	color: $black;
	font-size: 28px;
	font-weight: bold;
	float: right;
	margin: 20px 50px 0 0;
}
