.overview_hero{
  background: $secondary-yellow;
  padding-top: 30px;
  padding-bottom: 0px;
  
  @include phone{
    padding: 15px 0;
  }
}
.overview_hero-no-img{
  .overview_hero__left{
    @include grid-media($my-custom-grid-2){
      @include grid-column(10);
      padding-left: $left;
    }
  }
  .overview_hero__right{
    @include grid-media($my-custom-grid-3){
      @include grid-column(2);
    }
  }
}
.overview_hero__left {
  @include grid-column(8, $my-custom-grid);
  @include grid-media($my-custom-grid-2) {
    @include grid-column(7);
    padding-left: $left;
  }

  @include phone{
    @include grid-column(12);
    padding: 40px 0;
    padding-left: 0;
    text-align: center;
  }
}
.overview_hero__left-text {
  .overview_head-text {
    h1 {
      @include circular(regular);
      color: $black;
      font-size: 72px;
      line-height: 1.2;
      text-align: left;

      @media (max-width: 1300px) {
        font-size: 72px;
      }

      @media (max-width: 1050px) {
        font-size: 58px;
      }

      @media (max-width: 900px) {
        font-size: 52px;
      }
    }

    h2 {
      @include circular(regular);
      color: $black;
      font-size: 28px;
      margin-top: 10px;

      @media (max-width: 1024px) {
        font-size: 24px;
      }

      @include phone{
        font-size: 20px;
        text-align: left;
      }
    }
  }
}
.overview_hero__left-desc{
  @include tablet{
    display: none;
  }
  p {
    color: #6F7780;
    font-size: 18px;
    line-height: 1.5em;
    padding-bottom: 1em;
    
    @include tablet {
      font-size: 14px;
    }
  }
}
.overview_hero__right {
  @include grid-column(4, $my-custom-grid);
  
  @include grid-media($my-custom-grid-3) {
    @include grid-column(5);
  }
}
.overview_hero__right-img{
  img{
    width: 120%;
    height: 120%;
  }

  @media (min-width: 760px) and (max-width: 1100px) {
    width: 125%;
  }

  @include phone{
    display: none;
  }
}

.done-statements {
  margin: 4px 0 8px;

  h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem 1rem;

    span {
      display: inline-block;
      white-space: nowrap;
    }
  }
}

.overview_head-text {
  h2:nth-of-type(2) {
    margin-bottom: 4rem;
  }

  h3 {
    color: $black;
  }
}

.overview_hero_button {
  margin: 2px 0 8px;

  .btn {
    @include circular(bold);
    display: inline-block;
    background: $secondary-yellow;
    color: #000;
    height: 55px;
    width: auto;
    font-size: 18px;
    padding: 0.85rem 1.5rem;
    border: 2px solid #000;
    border-radius: 6px;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
    margin: 1rem 0;

    &:hover {
      background: $teal;
    }
  }
}

@media (max-width: 767px) {
  .done-statements h1 span {
    white-space: normal;

    strong {
      display: inline-block;
    }
  }
}
