.pillar-card {
	margin: auto;
	width: 75%;
	padding: 48px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 32px;
	background-color: $yellow;
	h2 {
		font-weight: 900;
		>span {
			color: $black;
			font-size: 32px;
			font-weight: 700;
		}
	}
}
.pillar-text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 24px;
	padding: 24px;
	>p {
		font-size: 28px;
		font-weight: 450;
		color: $black;
		text-align: center;
	}
}
.hidden-card {
	display: none;
}
.pillar-arrows {
	display: flex;
	gap: 10px;
	>button {
		background: none;
		border: none;
	}
}
.arrow {
	width: 28px;
	height: 32px;
}