.pillar-card {
	margin: auto;
	width: 80%;
	padding: 48px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 32px;
	background-color: #F9DF52;
	h2 {
		font-weight: 900;

		@media (max-width: 1024px) {
			font-size: 28px;
		}
		
		@include tablet{
			font-size: 26px;
		}

		@include phone{
			font-size: 22px;
		}

		>span {
			color: $black;
			font-size: 32px;
			font-weight: 700;

			@media (max-width: 1024px) {
			  font-size: 28px;
			}

			@include tablet{
				font-size: 26px;
			}
			
			@include phone{
			  font-size: 22px;
			}
		}	
	}

	@media (max-width: 1024px) {
	  padding: 28px;
	}
	
	@include phone{
	  padding: 10px;
	  gap: 10px;
	}
}
.pillar-text-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	gap: 24px;
	padding: 24px;
	height: 250px;
	flex: 1;
	>p {
		font-size: 28px;
		font-weight: 450;
		color: $black;
		text-align: center;

		@media (max-width: 1024px) {
			font-size: 24px;
		  }

		@include tablet{
			font-size: 22px;
		}

		@include phone{
			font-size: 18px;
		}
	}

	@media (max-width: 1024px) {
	  font-size: 22px;
	}
	
	@include phone{
	  font-size: 18px;
	  padding: 10px;
	}
}
.hidden-card {
	display: none;
}
.pillar-arrows {
	display: flex;
	gap: 10px;
	>button {
		background: none;
		border: none;
		cursor: pointer;
	}
}
.arrow{
	width: 28px;
	height: 32px;
  
	@media (max-width: 1024px) {
	  width: 22px;
	  height: 28px;
	}
  
	@include phone{
	  width: 18px;
	  height: 22px;
	}
  }
