.statement {
	padding: 60px;
	margin: auto;
	width: 60%;
}
.statement-container {
	text-align: center;
	font-size: 28px;
	font-weight: 450;
	align-self: center;
	color: $black;
	>span {
		font-weight: 700;
	}
}