.statement {
	padding: 60px;
	margin: auto;
	width: 70%;
  
	@include desktop{
	  width: 80%;
	}
  
	@include phone{
	  width: 90%;
	  padding: 40px;
	}
}
.statement-container{
	text-align: center;
	font-size: 28px;
	font-weight: 450;
	align-self: center;
	color: $dark-black;
  
	@media (max-width: 1024px) {
	  font-size: 22px;
	}
  
	@include phone{
	  font-size: 18px;
	}
}
.statement-container > span{
	font-weight: 700;
}
