.testimonials {
	background-size: 100% 100%;
	background-image: linear-gradient(97.29deg, rgba(99, 187, 176, 0.9) 0.66%, rgba(249, 223, 82, 0.9) 121.56%), url("../../images/contents/sl_office_newer.jpg");
	padding: 96px;
	margin-top: 50px;
	* {
		color: $black;
	}
	>blockquote {
		margin: auto;
		width: 75%;
		padding: 32px;
		text-align: center;

    @media (max-width: 1024px) {
      padding: 20px;
      width: 80%;
    }
    
    @include phone{
      padding: 10px;
      width: 90%;
    }		
	}
	p {
		font-size: 28px;
		font-weight: 450;
		text-align: center;

    @media (max-width: 1024px) {
      font-size: 22px;
    }
  
    @include phone{
      font-size: 18px;
    }    
	}
	span {
		font-size: 14px;
		font-weight: 450;
	}
}
.testimonials-logo {
	max-height: 108px;
}
