.testimonials {
	background-size: 100% 100%;
	background-image: linear-gradient(97.29deg, rgba(99, 187, 176, 0.9) 0.66%, rgba(249, 223, 82, 0.9) 121.56%), url("../../images/contents/sl_office_newer.jpg");
	padding: 96px;
	* {
		color: $black;
	}
	>blockquote {
		margin: auto;
		width: 75%;
		padding: 32px;
		text-align: center;
	}
	p {
		font-size: 28px;
		font-weight: 450;
		text-align: center;
	}
	span {
		font-size: 14px;
		font-weight: 450;
	}
}
.testimonials-logo {
	max-height: 108px;
}
