.vertical-list{
  .casestudies__article-text{
    padding-top: 10px;
    @include tablet{
      padding-top: 0;
    }
  }
  .casestudies__article-text-desc{
    @include tablet{
      display: block;
    }
    p{
      @include phone{
        font-size: 12px;
      }
    }
  }
  .casestudies__article-text-head{
    @include tablet{
      margin-bottom: 10px;
    }
    h2{
      color: #3CBEB1;
      @include tablet{
        font-size: 20px;
      }
    }
  }
}