<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }} | SmartLogic">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="/javascript/main.js"></script>
  </head>
  <body>
    <div class="site-container">
      <div class="main">
        <header>
          <div class="visible-xs-block visible-sm-block">
            <a href="/">SmartLogic Logo</a>
            <!-- <img src="/images/icon-logo.png" alt="SmartLogic" /> -->
          </div>
          <div class="hidden-sm hidden-xs">
            <a href="/">SmartLogic Logo</a>
            <!-- <img src="/images/icon-name-logo.png" alt="SmartLogic" /> -->
          </div>
          <div class="visible-sm-inline-block visible-xs-inline-block mobile-menu">
            <a href="#">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </header>

        <div class="content">
          {{ content }}
        </div>

      </div>
      <div class="sidebar">
        <div class="secondary-navigation">
          {% for link in site.navigation.subnav %}
            <h1>{{ link.subnav.anchor }}</h1>
            {% assign active = nil %}
            {% if page.url contains link.subnav.anchor %}
              {% assign active = 'active' %}
            {% endif %}
            <div class="nav-item {{ active }}">
              <a href="{{ link.url }}#{{ link.subnav.anchor }}"><span>{{ link.subnav.title }}</span></a>
            </div>
          {% endfor %}
        </div>
        <div class="primary-navigation">
          {% include main-navigation.html %}
        </div>
      </div>
    </div>
  </body>
</html>
