<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }} | SmartLogic">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascript/navigation.js"></script>
    <script src="/javascript/our-team.js"></script>
    <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
  </head>

  <body class="{{ page.body-class }}">
    {% assign active = ' class="active"' %}
    <span class="mobile-navigation-toggle"></span>
    <div class="navigation-menu">
      <nav id="primary-navigation">
        <a href="/"{% if page.root-navigation == 'about' %}{{ active }}{% endif %}><span>About</span></a>
        <a href="/experience"{% if page.root-navigation == 'experience' %}{{ active }}{% endif %}><span>Experience</span></a>
        <a href="https://blog.smartlogic.io/"><span>Blog</span></a>
        <a href="/get-in-touch"{% if page.root-navigation == 'get-in-touch' %}{{ active }}{% endif %}><span>Get in Touch</span></a>
        <a href="/what-makes-us-different"{% if page.root-navigation == 'what-makes-us-different' %}{{ active }}{% endif %}><span>What makes us different</span></a>
      </nav>
      <footer>
        <span>
          <address>
            <p>3500 Boston St Ste 323,</p>
            <p>Baltimore, MD 21224</p>
            <p>888-544-SMRT</p>
          </address>
          {% include social-media.html %}
        </span>
      </footer>
    </div>
    <div class="mobile-backdrop"></div>

    <div class="content">
      <a href="/" class="smartlogic-logo">
        <h1>SmartLogic</h1>
      </a>
      {{ content }}
    </div>

    {% include ga-tracking-script.html %}
    {% include mouseflow-tracking-script.html %}
  </body>
</html>
