<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }} | SmartLogic">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascript/navigation.js"></script>
    <script src="/javascript/our-team.js"></script>
  </head>

  <body class="{{ page.body-class }}">
    {% assign active = ' class="active"' %}
    <span class="mobile-navigation-toggle"></span>
    <div class="navigation-menu">
      <nav id="primary-navigation">
        <a href="/"{% if page.root-navigation == 'about' %}{{ active }}{% endif %}><span>About</span></a>
        <a href="/experience"{% if page.root-navigation == 'experience' %}{{ active }}{% endif %}><span>Experience</span></a>
        <a href="http://blog.smartlogic.io/"><span>Blog</span></a>
        <a href="/get-in-touch"{% if page.root-navigation == 'get-in-touch' %}{{ active }}{% endif %}><span>Get In Touch</span></a>
        <a href="/what-makes-us-different"{% if page.root-navigation == 'what-makes-us-different' %}{{ active }}{% endif %}><span>What makes us different</span></a>
      </nav>
      <footer>
        <span>
          <address>
            <p>3500 Boston St Ste 323,</p>
            <p>Baltimore, MD 21224</p>
            <p>443-451-3001</p>
          </address>
          {% include social-media.html %}
        </span>
      </footer>
    </div>
    <div class="mobile-backdrop"></div>

    <div class="content">
      <a href="/" class="smartlogic-logo">
        <h1>SmartLogic</h1>
      </a>
      {{ content }}
    </div>

    <script type="text/javascript">
      (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/451063.js';
        e.parentNode.insertBefore(n, e);
      })(document,"script","hs-analytics",300000);
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-466947-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
