<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ page.title }} | SmartLogic</title>
  <meta name="description" content="{{ page.itunes.subtitle }}"/>
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
  <div class="wrapper">
    {% include header.html %}
    {% include breadcrumbs-podcast.html %}

  <main class="main main-home" role="main">
    <section class="section hero hero__main">
      <div class="container">
        <div class="hero__left">
          <div class="hero__left-text">
            <div class="head-text">
              <h1>{{ page.title }}</h1>
            </div>
          </div>
      </div>
    </section>

    <div class="content-page-wrapper">

      <section class="section content-block podcast">
        {% include episode-embed.html embedUrl=page.embedUrl %}
        <h2>About this Episode</h2>
        <h3>
          Published {{ page.pubDateFriendly }} |
          Duration: {{ page.itunes.duration }} |
          <a href="https://feeds.fireside.fm/smartlogic/rss">RSS Feed</a> |
          <a href="{{ page.enclosure.url }}">Direct download</a> <br/>
        {% if site.data.elixir_wizards_transcripts[page.slug] %}
          Transcript:
          {% for transcript in site.data.elixir_wizards_transcripts[page.slug] %}
          <a href="{{ transcript[1] }}">{{ transcript[0] }}</a>{% if forloop.last == false %}, {% endif %}
          {% endfor %}
        </h3>
        {% endif %}

        <!-- description copy starts here - pulled from fireside -->
        {{ page.contentEncoded }}
        <!-- end copy from fireside -->
      </section>

  </main>
  <footer class="footer">
    {% include footer-common.html %}
  </footer>

  </div>
  <script src="/javascript/main.js"></script>
  {% include ga-tracking-script.html %}
  {% include mouseflow-tracking-script.html %}
  {% include mailchimp-tracking-script.html %}
</body>
</html>
