/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd-black';
  src:  url('../fonts/CircularStd-Black.woff2') format('woff2'),
        url('../fonts/CircularStd-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-black-it';
  src:  url('../fonts/CircularStd-BlackItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BlackItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-bold';
  src:  url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-bold-it';
  src:  url('../fonts/CircularStd-BoldItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-medium';
  src:  url('../fonts/CircularStd-Medium.woff2') format('woff2'),
        url('../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-medium-it';
  src:  url('../fonts/CircularStd-MediumItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd-reg';
  src:  url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd-reg-it';
  src:  url('../fonts/CircularStd-BookItalic.woff2') format('woff2'),
        url('../fonts/CircularStd-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}


@mixin circular($style: regular){
  @if $style == regular {
    font-family: 'CircularStd-reg', Arial, Helvetica, sans-serif;
  }
  @if $style == regularItalic{
    font-family: 'CircularStd-reg-it', Arial, Helvetica, sans-serif;
  }
  @if $style == mediumItalic{
    font-family: 'CircularStd-medium-it', Arial, Helvetica, sans-serif;
  }
  @if $style == medium{
    font-family: 'CircularStd-medium', Arial, Helvetica, sans-serif;
  }
  @if $style == boldItalic{
    font-family: 'CircularStd-bold-it', Arial, Helvetica, sans-serif;
  }
  @if $style == bold{
    font-family: 'CircularStd-bold', Arial, Helvetica, sans-serif;
  }
  @if $style == blak{
    font-family: 'CircularStd-black', Arial, Helvetica, sans-serif;
  }
  @if $style == blakItalic{
    font-family: 'CircularStd-black-it', Arial, Helvetica, sans-serif;
  }
}