html,
body {
    height: 100%;
}

body {
    @include circular;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
    color: #949ca2;
}

.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    #breadcrumbs {
      font-size:.8em;
      padding-left:3em;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#3CBEB1;
}

.main {
    flex: 1;

    .section {
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.container {
    @include grid-container;
    margin: 0 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include tablet{
        margin: 0;
    }
}

.btn {
    display: inline-block;
}
.btn-fill {
  font-size: 14px;
  padding: 9px 35px;
  background: $green;
  color: #fff;
}

.head-text {
    h1 {
        font-size: 48px;
        color: $hcolor;
        @include circular(bold);
        @include laptop{
            font-size: 32px;
        }
        @include tablet{
            font-size: 24px;
        }
    }

    h2 {
        font-size: 30px;
        color: $hcolor;
        @include circular(bold);
        @include laptop{
            font-size: 21px;
        }
        @include tablet{
            font-size: 18px;
        }
    }

    h3 {
        font-size: 24px;
        color: $hcolor;
        @include circular(bold);
        @include laptop{
            font-size: 18px;
        }
        @include tablet{
            font-size: 16px;
        }
    }
}

.section {
    position: relative;
    padding: 50px 0;

    &:after {
        content: "";
        display: block;
        width: calc(100% - 100px);
        height: 3px;
        background: $yellow;
        position: absolute;
        top: 100%;
        left: 45px;
        margin-top: -3px;
        @include laptop{
            height: 2px;
        }
        @include tablet{
            width: calc(100% - 40px);
            left:20px;
        }
    }
    @include laptop{
        padding: 25px 0;
    }
}
.quote-inside {
    display: flex;
    align-items: center;
}
.quote_reverse{
    .container{
        align-items: center !important;
    }
}

input,
textarea {
    transition: all .3 ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

a[href^="http://maps.google.com/maps"] {
    display: none !important
}

a[href^="https://maps.google.com/maps"] {
    display: none !important
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}
