<figure>
  <h3><a href="/henry/">Henry van Wagenberg</a></h3>
  <img src="/images/team/henry.png" alt="Henry van Wagenberg in the Philippines" title="Henry van Wagenberg in the Philippines" width="210" height="140">
  <footer>
    <a href="skype:RMSAHenry"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
    <a href="mailto:henry@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/HvWagenberg"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/henryvw"><img class="linkedin" src="/images/sprite-blank.gif" alt="LinkedIn" title="LinkedIn" width="16" height="16"></a>
    <a href="http://github.com/henryvw"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
