<figure>
  <h3>Jason Truluck</h3>
  <img src="/images/team/jason.png" alt="Jason Truluck" title="Jason Truluck" width="210" height="140">
  <footer>
    <a href="skype:jason.truluck1"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
    <a href="mailto:jason@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="https://twitter.com/jtruluck"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="https://www.linkedin.com/in/jasontruluck"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="https://github.com/jasontruluck"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
