<figure>
  <h3>Kei Ellerbrock</h3>
  <img src="/images/team/kei.jpg" alt="Kei Ellerbrock" title="Kei Ellerbrock" width="210" height="140">
  <footer>
    <a href="skype:kei.ellerbrock"><img class="skype" src="/images/sprite-blank.gif" alt="Skype" title="Skype" width="16" height="16"></a>
    <a href="mailto:kei@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="https://www.linkedin.com/pub/kathryn-ellerbrock/68/436/871"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/KeiEllerbrock"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
