<figure>
  <h3>Matt Menefee</h3>
  <img src="/images/team/matt.png" alt="Matt Menefee" title="Matt Menefee" width="210" height="140">
  <footer>
    <a href="mailto:matt@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/mattmenefee"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://github.com/mattmenefee"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
