<figure>
  <h3>Nestor Walker</h3>
  <img src="/images/team/nestor.png" alt="Nestor Walker" title="Nestor Walker" width="210" height="140">
  <footer>
    <a href="mailto:nestor@smartlogicsolutions.com"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/nestorwalker"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/nestorw"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/nestorw"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
