<figure>
  <h3>Tom von Schwerdtner</h3>
  <img src="/images/team/tom.png" alt="Tom von Schwerdtner" title="Tom von Schwerdtner" width="210" height="140">
  <footer>
    <a href="mailto:tom@smartlogic.io"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/tvon"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/tomvons"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/tvon"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
</figure>
