---
layout: default
title: Software Developers, Our Team | SmartLogic
metadescription: Our talented team of software developers creates web and mobile apps with Ruby on Rails, iOS, Android, and more.
---
<article id="team">
  <h2>Team</h2>
  <figure>
    <h3>Brian Sierakowski, Director</h3>
    <img src="/images/team/brian_wide.png" alt="Brian Sierakowski" title="Brian Sierakowski" width="450" height="170">
    <p>
    Brian is a masterful product architect. He has spent the past several years perfecting all of the disciplines that yield excellent products: Product Management, User Acquisition, Marketing, Business Development, Executive Management, Design, User Experience, and Product Development. He's honed and contributed these talents both working for other companies, as well as forming and building his own products. Brian Sierakowski is a national treasure. <br /><br />

    (Disclosure: This bio was written by Brian Sierakowski.)
    </p>
  <footer>
    <a href="mailto:brian@smartlogicsolutions.com"><img class="email" src="/images/sprite-blank.gif" alt="Email" title="Email" width="16" height="16"></a>
    <a href="http://twitter.com/BSierakowski"><img class="twitter" src="/images/sprite-blank.gif" alt="Twitter" title="Twitter" width="16" height="16"></a>
    <a href="http://www.linkedin.com/in/briansierakowski"><img class="linked-in" src="/images/sprite-blank.gif" alt="Linked-In" title="Linked-In" width="16" height="16"></a>
    <a href="http://github.com/bsierakowski"><img class="github" src="/images/sprite-blank.gif" alt="GitHub" title="GitHub" width="16" height="16"></a>
  </footer>
  </figure>
  {% include team/ryan.html %}
  {% include team/yair.html %}
  {% include team/sam.html %}
  {% include team/dan.html %}
  {% include team/carlos.html %}
  {% include team/eric.html %}
  {% include team/paul.html %}
  {% include team/tom.html %}
</article>
