---
title: Flutter | Natively compiled mobile apps for iOS and Android.
description: Our Flutter developers build beautiful, performant mobile applications.
breadcrumb: Flutter
---
<main class="main main-home" role="main">
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Flutter</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <h2>We build beautiful, performant, easy-to-maintain mobile applications with Flutter.</h2>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/flutter.svg" alt="The Flutter Mobile App Development Framework Project Logo" />
        </div>
      </div>
    </div>
  </section>
<div class="content-page-wrapper">


  <section class="section content-block">
    <div class="container">
      <h2>Flutter is our favorite mobile application development framework.</h2>

      <p>We've been building mobile applications since before the first App Store; we wrote our first Flutter application in March of 2020 for the <a target="_blank" href="https://wck.org/en-us/news/wck-direct-update">World Central Kitchen Direct program</a>. Since then, we've replatformed an existing mobile app onto Flutter, and we find it to be fast, stable, and easy to maintain, which gives it an advantage over other frameworks including React Native.</p>
    <!--elixir projects-->
    </div>
  </section>

  <section class="section casestudies content-block">
    <div class="container">
      <div class="casestudies__col">

        {% for casestudy in site.data.flutter_case_studies %}
          <article class="casestudies__article">
            <div class="casestudies__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies__article-text">
              <div class="casestudies__article-text-head">
                <div class="head-text">
                  <a href="{{ casestudy.link }}">
                    <h3>{{ casestudy.headline }}</h3>
                  </a>
                </div>
              </div>
              <div class="casestudies__article-text-desc">
                <p>{{ casestudy.description }} </p>
              </div>
            </div>
          </article>
        {% endfor %}


      </div>
    </div>
  </section>

<!-- technical explainer section -->
  <section class="section content-block">
    <div class="container">
      <h2>Flutter: Compiled, typed, and easy to get set up.</h2>
      <p>Why Flutter? Check out <a target="_blank" href="https://smartlogic.io/blog/clearing-the-clutter-adopting-flutter/">this blog post by developer Alex Housand</a> for more insight into why we gave Flutter a try and why it's now our favorite mobile development framework. Highlights include: great maintainability and developer quality of life; a standalone rendering engine that reduces edge cases; a clear widget hierarchy; explicit state management for rendering, which makes it easier to decompose a UI into reusable components; type checks from Dart; smart and useful defaults; and a simple build chain that makes it easier to maintain across version updates. Flutter also has a great open source community of additional components; all the major libraries we like to leverage have good SDKs for Flutter, including Stripe and all the Google products. Our Director of Engineering, Dan Ivovich, has this to say about Flutter:</p>
        <blockquote>"I prefer developing outside VSCode — I prefer doing things in VIM by hand, but the Flutter toolchain is so good that I'm happy to use it." </blockquote><cite>Dan Ivovich, Director of Engineering, SmartLogic</cite>
      <p>Our team has also found Flutter to be a quick framework for our developers to learn, enabling them to get up and running quickly, which is always a bonus.<p>
    </div>
  </section>

  <section class="section content-block">
    <div class="container">
      <h2 id="our-team-has-deep-expertise-and-loves-to-share-the-knowledge-">Learn more about SmartLogic and our Flutter developers.</h2>
      <p>Interested in learning more about Flutter? Check out our <a href="https://blog.smartlogic.io/">blog</a>, we've written about <a href="https://smartlogic.io/blog/tag/mobile/">Flutter and other mobile application technologies</a> that we've worked with over the years. . Follow us <a href="https://twitter.com/smartlogic">@smartlogic</a> on Twitter to learn more about how we're using React Native. Or give us a call us at <a href="tel:+18885447678">888-544-SMRT</a>, email us at <a href="mailto:contact@smartlogic.io">contact@smartlogic.io</a>, or reach out through our <a href="/contact">contact form</a>. We would be happy to talk with you about your project idea, or host you for a lunch and learn with our technical team.</p>

      {% include mailchimp.html %}
    </div>
  </section>
</div>
</main>

<footer class="footer ">
  {% include footer-common.html %}
</footer>
