---
title: Flutter | Natively compiled mobile apps for iOS and Android.
description: Our Flutter developers build beautiful, performant mobile applications.
breadcrumb: Flutter
---
<main class="main main-home" role="main">
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>Flutter</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <h2>We build beautiful, performant, easy-to-maintain mobile applications with Flutter.</h2>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/flutter.svg" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>
<div class="content-page-wrapper">


  <section class="section content-block">
    <div class="container">
      <h2>Flutter is our new favorite mobile application development framework.</h2>

      <p>We've been building mobile applications since before the first App Store; we wrote our first Flutter application in March of 2020 for the <a target="_blank" href="https://wck.org/en-us/news/wck-direct-update">World Central Kitchen Direct program</a>. Since then, we've replatformed an existing mobile app onto Flutter, and generally speaking we find it to be fast, stable, and easy to maintain, which gives it an advantage over React Native.</p>
    <!--elixir projects-->
    </div>
  </section>

  <section class="section casestudies content-block">
    <div class="container">
      <div class="casestudies__col">

        {% for casestudy in site.data.flutter_case_studies %}
          <article class="casestudies__article">
            <div class="casestudies__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies__article-text">
              <div class="casestudies__article-text-head">
                <div class="head-text">
                  <a href="{{ casestudy.link }}">
                    <h3>{{ casestudy.headline }}</h3>
                  </a>
                </div>
              </div>
              <div class="casestudies__article-text-desc">
                <p>{{ casestudy.description }} </p>
              </div>
            </div>
          </article>
        {% endfor %}


      </div>
    </div>
  </section>

<!-- technical explainer section -->
  <section class="section content-block">
    <div class="container">
      <h2>Flutter: Compiled, typed, and easy to get set up.</h2>
      <p>Flutter is a<p>
        <!-- old react native content lifted from that page -->
      <!-- <p>First released in early 2015, <a href="https://github.com/facebook/react-native">React Native</a> is an open source framework designed and maintained by the team at <a href="https://github.com/facebook">Facebook</a>. React Native allows developers to use the idioms and tools of <a href="https://reactjs.org/">React</a>, a flexible JavaScript library for building user interfaces, to build native mobile applications.
      Unlike earlier cross-platform development options, React Native uses native platform-specific interface components, giving apps a natural look and feel and great performance. React Native also allows developers to make changes and optimizations in the platform-native code, or to write whole components in Swift, Java, or Objective-C as needed.</p>

      <p>React Native has serious advantages from a development perspective; like React, it is declarative and component-based, and when used with our preferred tools like <a href="https://redux.js.org/">Redux</a> and <a href="https://redux-saga.js.org/">Sagas</a>, React Native code is extremely readable. Because it uses JavaScript, one of the most commonly used web languages, it is also a framework easily accessible to developers throughout the world.</p>

      <img class="diagram" src="/images/react-native-diagram.svg" width="100%" alt="React Native Diagram">

      <p>React Native reduces duplication of code and improves maintainability and scalability for cross-platform applications by allowing for the re-use of most styling and all of the business logic needed for iOS and Android apps. A number of high-profile apps use React Native, including Facebook, Instagram, Uber, Skype, Salesforce, Baidu, and Soundcloud.</p> -->
    </div>
  </section>

  <section class="section content-block">
    <div class="container">
      <h2 id="our-team-has-deep-expertise-and-loves-to-share-the-knowledge-">Learn more about SmartLogic and our Flutter developers.</h2>
      <p>Interested in learning more about Flutter? Check out our <a href="https://blog.smartlogic.io/">blog</a>, we've written about <a href="https://smartlogic.io/blog/tag/mobile/">Flutter and other mobile application technologies</a> that we've worked with over the years. . Follow us <a href="https://twitter.com/smartlogic">@smartlogic</a> on Twitter to learn more about how we're using React Native. Or give us a call us at <a href="tel:+18885447678">888-544-SMRT</a>, email us at <a href="mailto:contact@smartlogic.io">contact@smartlogic.io</a>, or reach out through our <a href="/contact">contact form</a>. We would be happy to talk with you about your project idea, or host you for a lunch and learn with our technical team.</p>

      {% include mailchimp.html %}
    </div>
  </section>
</div>
</main>

<footer class="footer ">
  {% include footer-common.html %}
</footer>
