---
title: React JS | A declarative modular JavaScript library for building user interfaces.
description: ReactJS is our JavaScript library of choice; we've built over a dozen applications using ReactJS on the front end.
breadcrumb: React JS
---
<main class="main main-home" role="main">
  <section class="section hero hero__main">
    <div class="container">
      <div class="hero__left">
        <div class="hero__left-text">
          <div class="head-text">
            <h1>React JS</h1>
          </div>
        </div>
        <div class="hero__left-desc">
          <h2>We build clean, dynamic user interfaces for web applications with React JS.</h2>
        </div>
      </div>
      <div class="hero__right">
        <div class="hero__right-img"><img src="/images/react.svg" alt="Hero Image" />
        </div>
      </div>
    </div>
  </section>
<div class="content-page-wrapper">
  <section class="section content-block">
    <div class="container">
      <p>React JS is a JavaScript library for building user interfaces for web applications. Because it is declarative and component-based, ReactJS is a great tool for building interactive user interfaces that are easy to maintain and handle scale well.</p>
      <p>At SmartLogic, we’ve been using ReactJS since 2015 and have found React’s modular structure to be a great fit with the ways we think about user interface design. Reusable component-driven design provides scale and consistency when building a dynamic front end, and also fits well with our iterative development process.</p>
      <p>Our team of front end developers has built React interfaces for over a dozen applications, including responsive web forms, admin panels and reporting tools, a queueing system for remotely administered tests, a dynamic energy credits trading platform, a map-based crime search tool, and a multi-site volunteer scheduling tool.</p>
    </div>
  </section>

  <section class="section casestudies content-block">
    <div class="container">
      <div class="casestudies__col">

        {% for casestudy in site.data.react_case_studies %}
          <article class="casestudies__article">
            <div class="casestudies__article-img"><img src="/images/logo/{{ casestudy.logo }}" alt="{{ casestudy.name }} Logo" /></div>
            <div class="casestudies__article-text">
              <div class="casestudies__article-text-head">
                <div class="head-text">
                  <a href="{{ casestudy.link }}">
                    <h3>{{ casestudy.headline }}</h3>
                  </a>
                </div>
              </div>
              <div class="casestudies__article-text-desc">
                <p>{{ casestudy.description }} </p>
              </div>
            </div>
          </article>
        {% endfor %}


      </div>
    </div>
  </section>

  <section class="section content-block">
    <div class="container">
      <h2>Our team of front end developers loves to write and present on React and the apps we’ve built with it.</h2>
      <p>We’ve written about <a target="_blank" href="/blog/redux-design-patterns-reduxsauce/">React Redux</a>, <a target="_blank" href="/blog/managing-state-in-react-apps/">managing state in React apps</a>, <a target="_blank" href="/blog/leveraging-react-components-for-rapid-prototyping-on-evolving-projects/">leveraging React components for rapid prototyping</a>, <a target="_blank" href="/blog/templating-accessible-components-in-react-part-1/">templating accessible components in React</a>, and more. Here’s a recent talk Eric presented on <a target="_blank" href="https://youtu.be/ENnfzpc3urY">Websockets with Elixir and React.</p>

      <p>Need a dynamic, scalable web app built? <a href="/contact">Reach out</a>, we’re always happy to talk about new project ideas, and if we can’t help you, we can help you find someone who can.</p>
<contact us button>
  <!-- get in touch button is in the pre-footer -->

    </div>
  </section>
</div>
</main>

<footer class="footer ">
  {% include footer-common.html %}
</footer>
